<div class="rc-dialog rc-dialog-med">

<!--  WELCOME NEW MEMBER-->
  <ng-container *ngIf="newMember">
    <rc-logo [height]="'64px'" [version]="'primary'"></rc-logo>
    <mat-dialog-content>
      <div markdown ngPreserveWhitespaces>
        # Welcome

        We're very pleased that you've chosen to join this community of like-minded people. Before you start
        exploring the Member's Hub, please complete the following steps:

        ## Set up your restaurant

        Start by adding your restaurant to your account. You'll be able to look up your restaurant and
        link it to account by following the on-screen instructions. Just slect the **START HERE** option below, when
        you're ready.

        If you need any help, then open the **Knowledge Base** and see the **Getting Started** guide.

        ## Next time you sign-in

        Please note: a password has been sent to your registered email address and you will need that to sign-in next
        time.

      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button
        mat-stroked-button
        [mat-dialog-close]="true">
        START HERE
      </button>
    </mat-dialog-actions>

  </ng-container>


  <ng-container *ngIf="!newMember">

  <h1>Messages</h1>

  <mat-dialog-content>
      <div class="rc-message" *ngFor="let message of data['messages']" [class.rc-message-important]="message['severity']">
        <h3><mat-icon>message</mat-icon>{{ message['heading'] | uppercase }}</h3>
        <div markdown [data]="message['body']"></div>
      </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      [mat-dialog-close]="false">
      Ok, I've read those
    </button>
  </mat-dialog-actions>

  </ng-container>


</div>







