<div class="rc-dialog rc-dialog-med">

<!--  WELCOME NEW MEMBER-->
  <ng-container *ngIf="newMember">
    <app-rc-logo [height]="'64px'" [version]="'primary'"></app-rc-logo>
    <mat-dialog-content>
      <div markdown [data]="'MESSAGES.welcomeNewMember' | translate" ngPreserveWhitespaces></div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button
        tabindex="-1"
        mat-button
        [mat-dialog-close]="false">
        {{ 'MESSAGES.labelBtnLater' | translate }}
      </button>
      <button
        color="accent"
        mat-button
        [mat-dialog-close]="true">
        {{ 'MESSAGES.labelBtnStart' | translate }}
      </button>
    </mat-dialog-actions>

  </ng-container>


  <ng-container *ngIf="!newMember">

  <h1 mat-dialog-title>{{ 'MESSAGES.headerMessages' | translate }}</h1>

  <mat-dialog-content>
      <div class="rc-message" *ngFor="let message of data['messages']" [class.rc-message-important]="message['severity']">
        <h3><mat-icon>message</mat-icon>{{ message['heading'] | uppercase }}</h3>
        <div markdown [data]="message['body']"></div>
      </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      [mat-dialog-close]="false">
      {{ 'MESSAGES.messagesReadOk' | translate }}
    </button>
  </mat-dialog-actions>

  </ng-container>

</div>







