<div class="rc-dialog rc-dialog-small">

  <h1 mat-dialog-title>{{ 'Profile-Verify.Verifying' | translate }}</h1>

  <form
    novalidate
    #profileVerifyForm="ngForm"
    (ngSubmit)="profileVerifyForm.form.valid && onProfileVerifySubmit(profileVerifyForm.form)">

    <mat-dialog-content>

      <!-- Just need email -->
      <div *ngIf="data.contactEmailRequired && !data.verificationCodeRequired">
        <p>Please provide the main email address for <strong>{{ data.restaurant.restaurant_name }}</strong>. This will be used to confirm membership and for all future correspondence.</p>
      </div>

      <!-- Need email & code -->
      <div *ngIf="data.contactEmailRequired && data.verificationCodeRequired">
        <p>Please verify the main email address for <strong>{{ data.restaurant.restaurant_name }}</strong> and add your <strong>verification code</strong> below:</p>
        <p>If you do not have a code, make sure we have the correct email, then use
          <strong>Request Code</strong> option.</p>
      </div>

<!--      &lt;!&ndash; Just need code &ndash;&gt;-->
<!--      <div *ngIf="data.verificationCodeRequired && !data.contactEmailRequired">-->
<!--        <p>{{ 'Profile-Verify.Before' | translate }}</p>-->
<!--        <p>The verification code will be sent to the the following registered email address. If this address is -->
<!--          incorrect, please</p>-->
<!--      </div>  -->

      <div *ngIf="!data?.contactEmailRequired">
        <p>If this email address is wrong, please <a (click)="editEmail()">UPDATE THE EMAIL ADDRESS</a> before
          requesting a <strong>Verification Code</strong>.</p>
      </div>

      <mat-form-field
        hideRequiredMarker
        class="rc-full-width">
        <mat-label>Restaurant Email:</mat-label>
        <input
          #email
          [(ngModel)]="data.restaurant.restaurant_email"
          autocomplete="off"
          name="restaurant_email"
          type="email"
          placeholder="Restaurant Email"
          matInput
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
          [disabled]="!editable"
          required>
        <mat-error align="end">A valid email address <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field
        [hidden]="!data?.verificationCodeRequired"
        class="rc-full-width">
        <mat-label>Verification Code</mat-label>
        <input
          #verifyCode
          name="profile_verify"
          placeholder="{{ 'Profile-Verify.Code' | translate }}"
          matInput
          ngModel
          autocomplete="off"
          minlength="10"
          required>
        <mat-error align="end">{{ 'Profile-Verify.TenDigit' | translate }}</mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-top:24px;">

      <button
        type="button"
        (click)="reqVerificationCode()"
        mat-button>
        {{ 'Profile-Verify.Request' | translate }}
      </button>

      <button
        type="button"
        mat-dialog-close
        mat-button (click)="profileVerifyDialog.close({ confirmed: false })">
        {{ 'Profile-Verify.Cancel' | translate }}
      </button>

      <button
        mat-flat-button
        color="primary"
        [disabled]="isSubmitting || !profileVerifyForm.form.valid">
        {{ 'Profile-Verify.Submit' | translate }}
      </button>

    </mat-dialog-actions>

  </form>
</div>
