<div class="rc-dialog rc-dialog-small">

  <h1 mat-dialog-title>{{ 'Profile-Verify.Verifying' | translate }}</h1>

  <form
    novalidate
    #profileVerifyForm="ngForm"
    (ngSubmit)="profileVerifyForm.form.valid && onProfileVerifySubmit(profileVerifyForm.form)">

    <mat-dialog-content>
      <!-- TODO: Translation required -->
      <!-- Just need email -->
      <div *ngIf="data.contactEmailRequired && !data.verificationCodeRequired">
        <p>{{ 'Profile-Verify.Main' | translate }}<strong>{{ data.restaurant.restaurant_name }}</strong>.
          {{ 'Profile-Verify.Used' | translate }}</p>
      </div>

      <!-- Just need code, but check email too -->
      <div *ngIf="!data.contactEmailRequired && data.verificationCodeRequired">
        <p>{{ 'Profile-Verify.VerifyEmail' | translate }} <strong>{{ data.restaurant.restaurant_name }}</strong>
          {{ 'Profile-Verify.Add' | translate }}<strong>{{ 'Profile-Verify.Code' | translate }}</strong>{{ 'Profile-Verify.Below' | translate }}</p>
        <p>{{ 'Profile-Verify.NoCode' | translate }}<strong>{{ 'Profile-Verify.RequestCode' | translate }}</strong>
          {{ 'Profile-Verify.Option' | translate }}.</p>
      </div>

      <!-- Need email & code -->
      <div *ngIf="data.contactEmailRequired && data.verificationCodeRequired">
        <p>{{ 'Profile-Verify.Main' | translate }}<strong>{{ data.restaurant.restaurant_name }}</strong>
          {{ 'Profile-Verify.Add' | translate }}<strong>{{ 'Profile-Verify.Code' | translate }}</strong>{{ 'Profile-Verify.Below' | translate }}.</p>
        <p>{{ 'Profile-Verify.NoCode' | translate }}<strong>{{ 'Profile-Verify.RequestCode' | translate }}</strong>
          {{ 'Profile-Verify.Option' | translate }}.</p>
      </div>

<!--      &lt;!&ndash; Just need code &ndash;&gt;-->
<!--      <div *ngIf="data.verificationCodeRequired && !data.contactEmailRequired">-->
<!--        <p>{{ 'Profile-Verify.Before' | translate }}</p>-->
<!--        <p><strong>Important</strong>: check the email address below and, if necessary, update it before requesting a Verification Code.</p>-->
<!--      </div>-->

      <mat-form-field
        hideRequiredMarker
        class="rc-full-width">
        <mat-label>{{ 'Profile-Verify.RestEmail' | translate }}:</mat-label>
        <input
          #email
          [(ngModel)]="data.restaurant.restaurant_email"
          autocomplete="off"
          name="restaurant_email"
          type="email"
          placeholder="Restaurant Email"
          matInput
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
          [disabled]="!editable"
          required>
        <button
          *ngIf="!editable"
          mat-icon-button
          color="primary"
          matSuffix
          (click)="editEmail()">
          <mat-icon style="padding-bottom: 0.15em;">edit</mat-icon>
        </button>
        <mat-error align="end">{{ 'Profile-Verify.Valid' | translate }} <strong>{{ 'Profile-Verify.Required' | translate }}</strong></mat-error>
      </mat-form-field>

      <mat-form-field
        [hidden]="!data?.verificationCodeRequired"
        class="rc-full-width">
        <mat-label>{{ 'Profile-Verify.JustCode' | translate }}:</mat-label>
        <input
          #verifyCode
          name="profile_verify"
          placeholder="{{ 'Profile-Verify.JustCode' | translate }}"
          matInput
          ngModel
          autocomplete="off"
          minlength="10"
          required>
        <mat-error align="end">{{ 'Profile-Verify.TenDigit' | translate }}</mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-top:24px;">

      <button
        type="button"
        (click)="reqVerificationCode()"
        mat-button>
        {{ 'Profile-Verify.Request' | translate }}
      </button>

      <button
        type="button"
        mat-dialog-close
        mat-button (click)="profileVerifyDialog.close({ confirmed: false })">
        {{ 'Profile-Verify.Cancel' | translate }}
      </button>

      <button
        mat-flat-button
        color="primary"
        [disabled]="isSubmitting || !profileVerifyForm.form.valid">
        {{ 'Profile-Verify.Submit' | translate }}
      </button>

    </mat-dialog-actions>

  </form>
</div>
