<div class="rc-layout-split-container">

  <div class="rc-layout-split-left rc-bgd">
    <section class="rc-layout-split-content">
      <rc-logo [height]="'120px'"></rc-logo>
      <!-- Welcome -->
      <markdown ngPreserveWhitespaces [data]="t_data?.Introduction"></markdown>
    </section>
  </div>

  <div class="rc-layout-split-right">
    <div class="rc-layout-split-content">
    <!-- Password Reset -->
    <section class="rc-signin-form" *ngIf="pwdReset">
      <form
        #frmReset="ngForm"
        (ngSubmit)="frmReset.form.valid && resetPwd(frmReset.value)"
        novalidate>
        <span class="rc-warn" *ngIf="errorMsg">{{ errorMsg | uppercase }}!</span>
        <h1>{{ 'SignIn.ResetPassword' | translate }}</h1>
        <span>{{ 'SignIn.Or' | translate }} <a (click)="showPwdReset(false)">{{ 'SignIn.SignIn' | translate }}</a></span>
        <p>{{ 'SignIn.EnterEmail' | translate }}</p>
        <mat-form-field class="rc-full-width" hideRequiredMarker>
          <mat-label>{{ 'SignIn.UserEmail' | translate }}</mat-label>
          <input
            matInput
            ngModel
            type="email"
            name="email"
            [placeholder]="'SignIn.UserEmail' | translate"
            email
            required>
        </mat-form-field>
        <button
          mat-flat-button
          class="rc-full-width"
          color="accent"
          [disabled]="isSubmitting || !frmReset.form.valid">
          {{ 'SignIn.ResetCaps' | translate }}
        </button>
      </form>
    </section>
    <!-- Sign in -->
    <section class="rc-signin-form" *ngIf="!pwdReset">
      <form
        #frmSignIn="ngForm"
        (ngSubmit)="frmSignIn.form.valid && signIn(frmSignIn.value)"
        novalidate>
        <span class="rc-warn" *ngIf="errorMsg">{{ errorMsg | uppercase }}!</span>
        <h1>{{ 'SignIn.SignIn' | translate }}</h1>
<!--        Todo: reinstate Join link -->
<!--        <span>{{ 'SignIn.Or' | translate }}<a [routerLink]="'/join'">{{ 'SignIn.Join' | translate }}-->
<!--          {{ brand['name'] }}</a></span><br><br>-->
        <mat-form-field class="rc-full-width" hideRequiredMarker>
          <mat-label>{{ 'SignIn.UserEmail' | translate }}</mat-label>
          <input
            #inputEmail
            matInput
            [ngModel]="newMemberEmail"
            type="email"
            name="email"
            email
            required
            autofocus>
          <mat-error *ngIf="!!inputEmail.value" align="end">Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="rc-full-width" hideRequiredMarker>
          <mat-label>{{ 'SignIn.UserPassword' | translate }}</mat-label>
          <input
            matInput
            name="pwd"
            ngModel
            type="password"
            required>
        </mat-form-field>
        <a (click)="showPwdReset(true)">{{ 'SignIn.Forgotten' | translate }}</a>
        <br>
        <br>
        <button
          mat-flat-button
          class="rc-full-width"
          color="accent"
          [disabled]="isSubmitting">{{ 'SignIn.SignCaps' | translate }}</button>
<!--        <p class="rc-txt-small">{{ 'SignIn.Subject' | translate }}<a-->
<!--          [href]="brand['downloads']['terms']" target="_blank">{{ 'SignIn.Terms' | translate }}</a>-->
<!--          {{ 'SignIn.And' | translate }}-->
<!--          <a [href]="brand['downloads']['privacy']" target="_blank">{{ 'SignIn.Privacy' | translate }}</a></p>-->
      </form>
    </section>
  </div>
  </div>
</div>
