<div class="rc-join">

  <div class="rc-join-info rc-bgd">
    <section class="rc-join-welcome">
      <img class="rc-brand-logo" src="../assets/images/{{ company_logo_root }}-trans-white.svg">
      <h1>Empowering Restaurants</h1>
      <p>{{ company_name }} {{ 'SignIn.Text1' | translate }}</p>
      <p>{{ 'SignIn.Text2' | translate }}</p>
    </section>
  </div>

  <div class="rc-join-form">
    <!-- Password Reset -->
    <section class="rc-signin-form" *ngIf="pwdReset">

      <span class="rc-warn" *ngIf="errorMsg">{{ errorMsg | uppercase }}!</span>

      <form
        #frmReset="ngForm"
        (ngSubmit)="frmReset.form.valid && resetPwd(frmReset.value)"
        novalidate>
        <h1>{{ 'SignIn.ResetPassword' | translate }}</h1>
        <span>{{ 'SignIn.Or' | translate }} <a (click)="showPwdReset(false)">{{ 'SignIn.SignIn' | translate }}</a></span>
        <p>{{ 'SignIn.EnterEmail' | translate }}</p>
        <mat-form-field class="rc-full-width">
          <mat-label>{{ 'SignIn.UserEmail' | translate }}</mat-label>
          <input
            matInput
            ngModel
            type="email"
            name="email"
            [placeholder]="'SignIn.UserEmail' | translate"
            email
            required>
        </mat-form-field>
        <button
          mat-flat-button
          class="rc-full-width"
          color="accent"
          [disabled]="isSubmitting || !frmReset.form.valid">{{ 'SignIn.ResetCaps' | translate }}</button>
      </form>

    </section>
    <!-- Sign in -->
    <section class="rc-signin-form" *ngIf="!pwdReset">

      <span class="rc-warn" *ngIf="errorMsg">{{ errorMsg | uppercase }}!</span>

      <form
        #frmSignIn="ngForm"
        (ngSubmit)="frmSignIn.form.valid && signIn(frmSignIn.value)"
        novalidate>

        <h1>{{ 'SignIn.SignIn' | translate }}</h1>
        <span>or <a [routerLink]="'/join'">Join Restaurant Collective</a></span>
        <mat-form-field class="rc-full-width">
          <mat-label>{{ 'SignIn.UserEmail' | translate }}</mat-label>
          <input
            matInput
            [ngModel]="user_email"
            type="email"
            name="email"
            [placeholder]="'SignIn.UserEmail' | translate"
            email
            required
            autofocus>
        </mat-form-field>
        <mat-form-field class="rc-full-width">
          <mat-label>{{ 'SignIn.UserPassword' | translate }}</mat-label>
          <input
            matInput
            name="pwd"
            ngModel
            type="password"
            [placeholder]="'SignIn.UserPassword' | translate"
            required>
        </mat-form-field>
        <a (click)="showPwdReset(true)">{{ 'SignIn.Forgotten' | translate }}</a>
        <button
          mat-flat-button
          class="rc-full-width"
          color="accent"
          [disabled]="isSubmitting">{{ 'SignIn.SignCaps' | translate }}</button>
        <p class="mat-small">{{ 'SignIn.Subject' | translate }}<a
          href="{{ company_url }}/terms/" target="_blank">{{ 'SignIn.Terms' | translate }}</a>
          {{ 'SignIn.And' | translate }}
          <a href="{{ company_url }}/privacy/" target="_blank">{{ 'SignIn.Privacy' | translate }}</a></p>

      </form>


    </section>
  </div>
</div>
