<div class="rc-layout-split-container">
  <div class="rc-layout-split-left rc-bgd">
    <section class="rc-layout-split-content">
      <!-- Welcome -->
      <rc-logo [height]="'120px'"></rc-logo>
      <markdown ngPreserveWhitespaces [data]="'SIGNIN.introduction' | translate"></markdown>
    </section>
  </div>

  <div class="rc-layout-split-right">
    <div class="rc-layout-split-content">

    <!-- Password Reset -->
    <section class="rc-signin-form" *ngIf="pwdReset">
      <form
        #frmReset="ngForm"
        (ngSubmit)="frmReset.form.valid && resetPwd(frmReset.value)"
        novalidate>
        <span class="rc-warn" *ngIf="errorMsg">{{ errorMsg | uppercase }}!</span>

        <h1>{{ 'SIGNIN.ResetPassword' | translate }}</h1>
        <span>{{ 'SIGNIN.Or' | translate }} <a (click)="showPwdReset(false)">{{ 'SIGNIN.SignIn' | translate }}</a></span>
        <p>{{ 'SIGNIN.EnterEmail' | translate }}</p>
        <mat-form-field class="rc-full-width" hideRequiredMarker>
          <mat-label>{{ 'SIGNIN.UserEmail' | translate }}</mat-label>
          <input
            matInput
            ngModel
            type="email"
            name="email"
            [placeholder]="'SIGNIN.UserEmail' | translate"
            email
            required>
        </mat-form-field>
        <button
          mat-flat-button
          class="rc-full-width"
          color="accent"
          [disabled]="isSubmitting || !frmReset.form.valid">
          {{ 'SIGNIN.ResetCaps' | translate }}
        </button>
      </form>
    </section>

    <!-- Sign in -->
    <section class="rc-signin-form" *ngIf="!pwdReset">
      <form
        #frmSignIn="ngForm"
        (ngSubmit)="frmSignIn.form.valid && signIn(frmSignIn.value)"
        novalidate>
        <span class="rc-warn" *ngIf="errorMsg">{{ errorMsg | uppercase }}!</span>
        <markdown ngpreservewhitespaces [data]="'SIGNIN.signInOrJoin' | translate: {route: '/join', brand:
        brand['name'] }"></markdown><br>
        <mat-form-field class="rc-full-width" hideRequiredMarker>
          <mat-label>{{ 'SIGNIN.UserEmail' | translate }}</mat-label>
          <input
            #inputEmail
            matInput
            [ngModel]="newMemberEmail"
            type="email"
            name="email"
            email
            required
            autofocus>
          <mat-error *ngIf="!!inputEmail.value" align="end">Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="rc-full-width" hideRequiredMarker>
          <mat-label>{{ 'SIGNIN.UserPassword' | translate }}</mat-label>
          <input
            matInput
            name="pwd"
            ngModel
            type="password"
            required>
        </mat-form-field>
        <a (click)="showPwdReset(true)">{{ 'SIGNIN.Forgotten' | translate }}</a>
        <br>
        <br>
        <button
          mat-flat-button
          class="rc-full-width"
          color="accent"
          [disabled]="isSubmitting">{{ 'SIGNIN.labelBtnSignIn' | uppercase | translate }}</button>
      </form>
    </section>
  </div>
  </div>
</div>
