<div class="rc-about">
  <button
    mat-icon-button
    mat-dialog-close="done"
    class="rc-close">
    <mat-icon>close</mat-icon>
  </button>
  <div><img src="../assets/images/{{ company_logo_root }}-orange-black.svg"></div>
  <p class="mat-small rc-centre">{{ 'App.Designed' | translate }} <a href="http://rd.limited">
    Restaurant Developments Ltd</a>. {{ 'App.Copyright' | translate }} &copy; 2020</p>
  <h3>{{ build.name }} {{ build.version }}</h3>
  <p class="mat-small rc-centre">{{ os_text }}</p>
</div>
