<div class="rc-about">
  <button
    tabindex="-1"
    mat-icon-button
    mat-dialog-close="done"
    class="rc-close">
    <mat-icon>close</mat-icon>
  </button>
  <div>
    <app-rc-logo [height]="'48px'" [version]="'primary'"></app-rc-logo>
  </div>
  <div class="rc-txt-small" markdown [data]="'ABOUT.company' | translate: params"></div>
  <p class="rc-txt-small"><strong>{{ 'ABOUT.version' | translate }}</strong>: {{ build.version }}</p>
  <p class="rc-txt-small"><strong>{{ 'ABOUT.browser' | translate }}</strong>: {{ os_text }}</p>
</div>
