
<mat-toolbar class="rc-header rc-toolbar rc-toolbar-fixed">

  <a routerLink="/"
     class="rc-brand-wrap">
    <app-rc-logo [version]="'accent'"></app-rc-logo>
  </a>

  <!-- section label -->
  <span class="rc-header-tag rc-media-small-hide">{{ navLabel | uppercase }}</span>

  <span class="rc-space-filler"></span>

  <span
    *ngIf="!authService.isAuth(); else loggedIn"
    (click)="login()"
    class="rc-media-small-hide rc-link-like">
    Login
  </span>

  <ng-template #loggedIn>
    <div class="rdl-main-menu" [matTooltip]="'Menu'" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <div
      class="rc-avatar">

      <advanced-image
        *ngIf="clImage !== null"
        width="60px"
        height="60px"
        [cldImg]="clImage"
        [plugins]="clPlugins">
      </advanced-image>

      <img [src]="avatarUrl" alt="Site menu">

    </div>
    </div>

  </ng-template>

  <mat-menu #menu="matMenu">
    <div class="rc-user-menu">
      <h3>{{ displayName }}</h3>
      <span>{{ 'HEADER.signedInAs' | translate | uppercase }}</span>
    </div>
    <mat-divider></mat-divider>

    <button
      mat-menu-item
      [routerLinkActive]="['rc-link-active']"
      [routerLink]="['/settings']">
      <mat-icon>account_circle</mat-icon>
      <span>{{ 'HEADER.labelSettings' | translate }}</span>
    </button>


    <button
      mat-menu-item
      (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'HEADER.labelLogout' | translate }}</span>
    </button>


    <button
      mat-menu-item
      (click)="faqs()">
      <mat-icon>question_mark</mat-icon>
      <span>{{ 'HEADER.labelFAQs' | translate }}</span>
    </button>


    <button
      mat-menu-item
      (click)="contact()">
      <mat-icon>contact_mail</mat-icon>
      <span>{{ 'HEADER.labelContact' | translate }}</span>
    </button>


    <button
      mat-menu-item
      (click)="about()" >
      <mat-icon>information</mat-icon>
      <span>{{ 'HEADER.labelAbout' | translate }}</span>
    </button>
  </mat-menu>

</mat-toolbar>
