
<mat-toolbar class="rc-header rc-toolbar rc-toolbar-fixed">

  <a routerLink="/hub"
     class="rc-brand-wrap">
    <rc-logo></rc-logo>
  </a>

  <span class="rc-header-tag">{{ navLabel | uppercase }}</span>
  <span class="rc-space-filler"></span>

  <span>
    <button
      class="rc-toolbar-btn-lg"
      mat-icon-button
      matTooltip="Member's Hub"
      [routerLink]="'/hub'">
        <svg fill="#fff" focusable="false" viewBox="0 0 24 24"><path
      d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path></svg>
      </button>
  </span>




  <span
    *ngIf="!authService.isAuth(); else loggedIn"
    (click)="login()"
    class="rc-media-small-hide rc-link-like">
    Login
  </span>

  <ng-template #loggedIn>

<!--    <span-->
<!--      [matMenuTriggerFor]="menu"-->
<!--      class="rc-media-small-hide rc-link-like">-->
<!--    {{ displayName }}-->
<!--  </span>-->
<!--    <button mat-icon-button [matMenuTriggerFor]="menu" style="height: 40px; overflow: hidden">-->
    <button
      mat-icon-button
      class="rc-avatar"
      [matMenuTriggerFor]="menu">
      <cl-image
        *ngIf="avatarId"
        [public-id]="avatarId">
        <cl-transformation
          width="48"
          height="48"
          crop="fill"
          gravity="face">
        </cl-transformation>
      </cl-image>
      <span *ngIf="!avatarId" >
        <img [src]="placeholderAvatar" alt="Member Options">
      </span>
    </button>
<!--    </button>-->

<!--  <button-->
<!--    [matMenuTriggerFor]="menu"-->
<!--    mat-icon-button>-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->

  </ng-template>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [routerLink]="['/hub']">
      <mat-icon>language</mat-icon>
      <span>Web Content</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      [routerLink]="['/hub']">
      <mat-icon>contact_support</mat-icon>
      <span>Knowledge Base</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      [routerLink]="['/hub']">
      <mat-icon>forum</mat-icon>
      <span>Community Forum</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      [routerLink]="['/profile']">
      <mat-icon>account_circle</mat-icon>
      <span>Member Settings</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'Header.Logout' | translate }}</span>
    </button>
<!--    <mat-divider></mat-divider>-->
<!--    <button-->
<!--      mat-menu-item-->
<!--      (click)="about()" >-->
<!--      <mat-icon>help</mat-icon>-->
<!--      <span>{{ 'Header.About' | translate }}</span>-->
<!--    </button>-->
  </mat-menu>

</mat-toolbar>
