
<mat-toolbar class="rc-toolbar rc-toolbar-fixed">

  <span>{{ company_name }}</span>
  <span class="rc-space-filler"></span>
  <span
    *ngIf="!authService.isAuth(); else loggedIn"
    (click)="login()"
    class="rc-media-small-hide rc-link-like">
    Login
  </span>

  <ng-template #loggedIn>


    <span
      [matMenuTriggerFor]="menu"
      class="rc-media-small-hide rc-link-like">
    {{ displayName }}
  </span>
<!--    <button mat-icon-button [matMenuTriggerFor]="menu" style="height: 40px; overflow: hidden">-->
<!--      <cl-image-->
<!--        *ngIf="avatarId"-->
<!--        [public-id]="avatarId">-->
<!--        <cl-transformation-->
<!--          width="40"-->
<!--          height="40"-->
<!--          radius="max"-->
<!--          crop="fill"-->
<!--          gravity="face">-->
<!--        </cl-transformation>-->
<!--      </cl-image>-->
<!--      <div *ngIf="!avatarId" style="width: 40px; height: 40px; border-radius: 20px; overflow: hidden;">-->
<!--        <img [src]="placeholderAvatar">-->
<!--      </div>-->
<!--    </button>-->

  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  </ng-template>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngIf="authService.isAuthLevel(1)"
      [routerLink]="['/profile']">
      <mat-icon>account_circle</mat-icon>
      <span>{{ 'Header.Settings' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      *ngIf="authService.isAuth()"
      (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'Header.Logout' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="about()" >
      <mat-icon>help</mat-icon>
      <span>{{ 'Header.About' | translate }}</span>
    </button>
  </mat-menu>

</mat-toolbar>
