
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <section class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 rc-member-status">

      <button mat-icon-button mat-dialog-close class="rc-close">
        <mat-icon>close</mat-icon>
      </button>

      <!-- Assc.-->
      <div *ngIf="restaurant.restaurant_rc_member_status !== 'Full'">
        <header>
          <mat-icon class="assc-member">people_outline</mat-icon>
          <h1>{{ restaurant.restaurant_name | uppercase }}</h1>
        </header>
        <p>{{ 'Payment.For' | translate }} <strong>{{ company_currency_symbol }}{{ company_monthly_fee }}
          {{ 'Payment.Per' | translate }}</strong>* {{ restaurant.restaurant_name }}
          {{ 'Payment.Upgrade' | translate }} <strong>{{ 'Payment.Services' | translate }}</strong>
        </p>
      </div>

      <!-- Member -->
      <div *ngIf="restaurant.restaurant_rc_member_status === 'Full'">
        <header>
          <mat-icon class="full-member">people</mat-icon>
          <h1>{{ restaurant.restaurant_name | uppercase }}</h1>
        </header>
        <p>{{ 'Payment.As' | translate }} <strong>{{ 'Payment.Full' | translate }}</strong> {{ 'Payment.Of' | translate }}
          {{ company_name }}, {{ restaurant.restaurant_name }} {{ 'Payment.Privileged' | translate }}</p>
        <p>{{ 'Payment.Review' | translate }}</p>
      </div>

      <p class="rc-centre"><a (click)="goto('affiliates')">View all current Affiliate Offers</a></p>

    </section>

    <section
      *ngIf="restaurant.restaurant_rc_member_status !== 'Full'"
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 rc-member-actns">

      <button
        [disabled]="isLoading"
        mat-flat-button
        (click)="openCheckout('Full', restaurant.restaurant_id)"
        class="rc-full-width">
        <span>{{ btnLabel }}</span>
      </button>

      <p style="font-size: 14px; margin-top:8px;">{{ 'Payment.FullOf' | translate }} {{ company_name }} {{
        'Payment.Is' | translate }}
        {{ company_currency_symbol }}{{ company_annual_fee }} {{ 'Payment.TaxYearly' | translate }}</p>
    </section>

    <section
      *ngIf="restaurant.restaurant_rc_member_status === 'Full'"
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 rc-member-actns">
      <button
        mat-raised-button
        (click)="goto('affiliates')"
        class="rc-full-width">{{ 'Payment.FullBenefits' | translate }}</button>
        <p class="mat-small">{{ 'Payment.Due' | translate }} {{ d_renewal_date }}.
          {{ 'Payment.Reason' | translate }} {{ restaurant.restaurant_name | uppercase }} {{ 'Payment.DoesNot' | translate }}
          <a href="{{ 'Payment.Support' | translate }}">{{ company_name }}</a>.</p>
    </section>

  </div>
</div>

