<div class="rc-fs-input">

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

      <header>
        <mat-toolbar>
          <mat-icon>date_range</mat-icon>
          <span class="rc-toolbar-title">
            <mat-form-field>
            <mat-select
              [placeholder]="'FSInput.Select' | translate"
              floatPlaceholder="never"
              [(ngModel)]="selectedYear"
              (change)="dspFsData(selectedYear)"
              name="fsYear">
              <mat-option
                *ngFor="let fsYear of fsYears"
                [value]="fsYear.value">
                {{ fsYear.value }}
              </mat-option>

            </mat-select>
            </mat-form-field>
          </span>
          <span class="rc-space-filler"></span>
          <span class="rc-section-toolbar-actions">
            <mat-button-toggle-group #fsMonths="matButtonToggleGroup">
              <mat-button-toggle value="3">
                3m
              </mat-button-toggle>
              <mat-button-toggle value="6">
               6m
              </mat-button-toggle>
              <mat-button-toggle value="9">
                9m
              </mat-button-toggle>
              <mat-button-toggle value="12" checked="true">
                12m
              </mat-button-toggle>

            </mat-button-toggle-group>
          </span>

          <mat-toolbar-row *ngIf="fsRestaurants.length > 1">
            <mat-icon>store</mat-icon>
            <mat-form-field class="rc-full-width">
            <mat-select
              [placeholder]="'FSInput.Restaurant' | translate"
              floatPlaceholder="never"
              [(ngModel)]="selectedRestaurantId"
              (change)="getFsData(selectedRestaurantId)"
              name="fsYear">
              <mat-option
                *ngFor="let restaurant of fsRestaurants"
                [value]="restaurant.restaurant_id">
                {{ restaurant.restaurant_name }}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </mat-toolbar-row>
        </mat-toolbar>

      </header>

      <form #fsInputForm="ngForm" (ngSubmit)="fsInputForm.valid && updateFsData(fsInputForm.value)">

        <section id="profit">

          <mat-toolbar class="rc-toolbar-fs">
            <mat-icon>trending_up</mat-icon>
            <span class="rc-toolbar-title">{{ 'FSInput.Profit' | translate }} {{ selectedYear }}</span>
            <span class="rc-space-filler"></span>

            <span class="rc-section-toolbar-actions">
              <button mat-raised-button color="primary"
                      [disabled]="!fsInputForm.form.valid || !dataChanged">
                      {{ 'FSInput.Update' | translate }}
              </button>
            </span>

          </mat-toolbar>

          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  [ngModel]="fsData.financial_turnover"
                  [placeholder]="'FSInput.Profit_TO' | translate"
                  (keyup)="flagChange()"
                  type="number"
                  name="financial_turnover">
                <span mdSuffix>{{ 'FSInput.Profit_TO_Suffix' | translate }}</span>
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_gross_profit"
                  [placeholder]="'FSInput.Profit_GP' | translate"
                  (keyup)="flagChange()"
                  name="financial_gross_profit">
                <span mdSuffix>{{ 'FSInput.Profit_GP_Suffix' | translate }}</span>
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_admin_costs"
                  [placeholder]="'FSInput.Profit_AC' | translate"
                  (keyup)="flagChange()"
                  name="financial_admin_costs">
                <span mdSuffix>{{ 'FSInput.Profit_AC_Suffix' | translate }}</span>
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_profit_before_tax"
                  [placeholder]="'FSInput.Profit_PB' | translate"
                  (keyup)="flagChange()"
                  name="financial_profit_before_tax">
                <span mdSuffix>{{ 'FSInput.Profit_PB_Suffix' | translate }}</span>
              </mat-form-field>

            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
              <dl>
                <dt>{{ 'FSInput.Profit_TO' | translate }}</dt>
                <dd>{{ 'FSInput.Profit_TO_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Profit_GP' | translate }}</dt>
                <dd>{{ 'FSInput.Profit_GP_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Profit_AC' | translate }}</dt>
                <dd>{{ 'FSInput.Profit_AC_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Profit_PB' | translate }}</dt>
                <dd>{{ 'FSInput.Profit_PB_Help' | translate }}</dd>
              </dl>
            </div>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" align="end">
            <a mat-button href="#balance" aria-label="Next" alt="Next section"
               pageScroll>{{ 'FSInput.Next' | translate }}</a>
          </div>

        </section>

        <section id="balance">

          <mat-toolbar class="rc-toolbar-fs">
            <mat-icon>equalizer</mat-icon>
            <span class="rc-toolbar-title">{{ 'FSInput.Balance' | translate }} {{ selectedYear }}</span>
            <span class="rc-space-filler"></span>
            <span class="rc-section-toolbar-actions">
              <button mat-raised-button color="primary"
                      [disabled]="!fsInputForm.form.valid || !dataChanged">
                      {{ 'FSInput.Update' | translate }}
              </button>
            </span>
          </mat-toolbar>

          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_exceptions"
                  [placeholder]="'FSInput.Balance_EX' | translate"
                  (keyup)="flagChange()"
                  name="financial_exceptions">
                <span mdSuffix>{{ 'FSInput.Balance_EX_Suffix' | translate }}</span>
              </mat-form-field>


              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_net_assets"
                  [placeholder]="'FSInput.Balance_NA' | translate"
                  (keyup)="flagChange()"
                  name="financial_net_assets">
                <span mdSuffix>{{ 'FSInput.Balance_NA_Suffix' | translate }}</span>
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_capex"
                  [placeholder]="'FSInput.Balance_CX' | translate"
                  (keyup)="flagChange()"
                  name="financial_capex">
                <span mdSuffix>{{ 'FSInput.Balance_CX_Suffix' | translate }}</span>
              </mat-form-field>

            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
              <dl>
                <dt>{{ 'FSInput.Balance_EX' | translate }}</dt>
                <dd>{{ 'FSInput.Balance_EX_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Balance_NA' | translate }}</dt>
                <dd>{{ 'FSInput.Balance_NA_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Balance_CX' | translate }}</dt>
                <dd>{{ 'FSInput.Balance_CX_Help' | translate }}</dd>
              </dl>
            </div>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" align="end">
            <a mat-button href="#staff" aria-label="Next" alt="Next section"
               pageScroll>{{ 'FSInput.Next' | translate }}</a>
          </div>

        </section>

        <section id="staff">

          <mat-toolbar class="rc-toolbar-fs">
            <mat-icon>people</mat-icon>
            <span class="rc-toolbar-title">{{ 'FSInput.Staff' | translate }} {{ selectedYear }}</span>
            <span class="rc-space-filler"></span>
            <span class="rc-section-toolbar-actions">
              <button mat-raised-button color="primary"
                      [disabled]="!fsInputForm.form.valid || !dataChanged">
                      {{ 'FSInput.Update' | translate }}
              </button>
            </span>
          </mat-toolbar>

          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_staff_count"
                  [placeholder]="'FSInput.Staff_CO' | translate"
                  (keyup)="flagChange()"
                  name="financial_staff_count">
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_annual_wage_bill"
                  [placeholder]="'FSInput.Staff_AW' | translate"
                  (keyup)="flagChange()"
                  name="financial_annual_wage_bill">
                <span mdSuffix>{{ 'FSInput.Staff_AW_Suffix' | translate }}</span>
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_annual_covers"
                  [placeholder]="'FSInput.Staff_AC' | translate"
                  (keyup)="flagChange()"
                  name="financial_annual_covers">
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_average_spend"
                  [placeholder]="'FSInput.Staff_AS' | translate"
                  (keyup)="flagChange()"
                  name="financial_average_spend">
                <span mdSuffix>{{ 'FSInput.Staff_AS_Suffix' | translate }}</span>
              </mat-form-field>

            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
              <dl>
                <dt>{{ 'FSInput.Staff_CO' | translate }}</dt>
                <dd>{{ 'FSInput.Staff_CO_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Staff_AW' | translate }}</dt>
                <dd>{{ 'FSInput.Staff_AW_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Staff_AC' | translate }}</dt>
                <dd>{{ 'FSInput.Staff_AC_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Staff_AS' | translate }}</dt>
                <dd>{{ 'FSInput.Staff_AS_Help' | translate }}</dd>
              </dl>
            </div>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" align="end">
            <a mat-button href="#property" aria-label="Next" alt="Next section"
               pageScroll>{{ 'FSInput.Next' | translate }}</a>
          </div>

        </section>

        <section id="property">

          <mat-toolbar class="rc-toolbar-fs">
            <mat-icon>store</mat-icon>
            <span class="rc-toolbar-title">{{ 'FSInput.Property' | translate }} {{ selectedYear }}</span>
            <span class="rc-space-filler"></span>
            <span class="rc-section-toolbar-actions">
              <button mat-raised-button color="primary"
                      [disabled]="!fsInputForm.form.valid || !dataChanged">
                      {{ 'FSInput.Update' | translate }}
              </button>
            </span>
          </mat-toolbar>

          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_property_size"
                  [placeholder]="'FSInput.Property_PS' | translate"
                  (keyup)="flagChange()"
                  name="financial_property_size">
                <span mdSuffix>{{ 'FSInput.Property_PS_Suffix' | translate }}<sup>2</sup></span>
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_seat_count"
                  [placeholder]="'FSInput.Property_NS' | translate"
                  (keyup)="flagChange()"
                  name="financial_seat_count">
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field  floatPlaceholder="always" class="rc-full-width">
                <input
                  matInput
                  type="number"
                  [ngModel]="fsData.financial_property_rent"
                  [placeholder]="'FSInput.Property_AC' | translate"
                  (keyup)="flagChange()"
                  name="financial_property_rent">
                <span mdSuffix>{{ 'FSInput.Property_AC_Suffix' | translate }}</span>
              </mat-form-field>

            </div>

            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
              <dl>
                <dt>{{ 'FSInput.Property_PS' | translate }}</dt>
                <dd>{{ 'FSInput.Property_PS_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Property_NS' | translate }}</dt>
                <dd>{{ 'FSInput.Property_NS_Help' | translate }}</dd>
                <dt>{{ 'FSInput.Property_AC' | translate }}</dt>
                <dd>{{ 'FSInput.Property_AC_Help' | translate }}</dd>
              </dl>
            </div>
          </div>

          <!--Jim, not sure we need this since this is the last section?-->
          <!--<div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-12" align="end">-->
            <!--<a mat-button href="#combinations" aria-label="Next" alt="Next section" -->
               <!--pageScroll>{{ 'FSInput.Next' | translate }}</a>-->
          <!--</div>-->

        </section>

      </form>

    </div>
  </div>
</div>
