$pad: 15vh;

.split-panel {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: 100%;
  }
  .split-panel-left {
    display: flex;
    flex-direction: column;
    color: white;
    background: $rc-theme-primary;
    padding-block: $pad;
    @include mq(medium) {
      min-height: 100vh;
      flex: 1 1 62%;
    }
  }
  .split-panel-right {
    background: white;
    padding-top: $pad;
    color: $rc-theme-text;
    @include mq(medium) {
      min-height: 100vh;
      flex: 1 1 38%;
    }
    .logos {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
      place-items: center;
      img {
        object-fit: contain;
      }
    }
    form {
      width: min(100% - 6em, 30em);
      margin-inline: auto;
      .form-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  .panel-content {
    width: min(100% - 6rem, 40em);
    margin-inline: auto;
    ul {
      margin-left: 1rem;
      margin-bottom: 2rem;
    }
    li {
      list-style: disc;
      margin-bottom: .5em;
    }
  }
}
.bpi-terms {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  min-height: 100vh;
  background: white;
  display: flex;
  .inner {
    width: min(100% - 8em, 50em);
    padding-block: 4em;
    margin-inline: auto;
  }
}
.header {
  margin-bottom: 2rem;
  h2 {
    line-height: 1.1;
    font-weight: 300;
    font-size: 32px;
    margin: 0;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.form-group-label {
  font-size: 20px;
  font-weight: 500;
}
.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rc-form-grid ul {
  margin: 0 0 1em 1rem;
  border-bottom: solid 1px $rc-theme-grey;
  padding-block: 1rem;
}
.ucase {
  text-transform: uppercase;
}


