
/**
* ----------------------------------
* THEMING
* ----------------------------------
**/

@use '@angular/material' as mat;

@import '@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// You can optionally specify a default, lighter, and darker
$rc-app-primary: mat.define-palette(mat.$teal-palette, A700);
$rc-app-accent:  mat.define-palette(mat.$deep-orange-palette, A400);
$rc-app-warn:    mat.define-palette(mat.$deep-orange-palette, 900);
// Create the theme object (a Sass map containing all of the palettes).
$rc-app-theme: mat.define-light-theme($rc-app-primary, $rc-app-accent, $rc-app-warn);

@include mat.all-component-themes($rc-app-theme);

// Set custom typography defaults size/line-height/weight
$custom-typography: mat.define-typography-config(
  $font-family:     'Roboto',
  $headline-5:       mat.define-typography-level(32px, 48px, 500),
  $body-2:           mat.define-typography-level(16px, 24px, 300)
);

@include mat.all-component-typographies($custom-typography);
@include mat.core();
