
/**
* ----------------------------------
* THEMING
* ----------------------------------
**/

$rdl-palette: (
  50: #c8ecf5,
  100: #ACEBF3,
  200: #ACEBF3,
  300: #5ECBDE,
  400: #5ECBDE,
  500: #04A5C2,
  600: #04A5C2,
  700: #025f72,
  800: #2e3642,
  900: #222F3C,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

@use '@angular/material' as mat;

@include mat.core();

$rdl-primary: mat.define-palette($rdl-palette);
$rdl-accent: mat.define-palette(mat.$pink-palette);
$rdl-theme: mat.define-light-theme((
  color: (
    primary: $rdl-primary,
    accent: $rdl-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($rdl-theme);

