@import "vars";

/*
** ----------------
** GLOBAL DEFAULTS
** ----------------
*/
 */

html,
body {
  margin: 0;
  height: 100%;
}
main { min-height: 600px;}
h1,h2,h3,h4 { font-weight: $rc-default-font-weight;}
h1,
h2 {
  font-family: $rc-default-font;
  font-weight: $rc-default-font-weight;
  color: $rc-theme-accent;
}
p, li {
  color: $rc-theme-text;
  font-weight: $rc-default-font-weight;
}
a {
  cursor: pointer;
  color: $rc-theme-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ol {
  margin: 0;
  padding: 0 0 0 1em;
  li {
    margin: 0 0 8px;
  }
}
