@import "vars";

/*
*
* Set global defaults
* -------------------
*/

html,
body {
  margin:   0;
  height:   100%;
  color:    $rc-theme-text;
}
main { min-height: 80vh; }

a {
  cursor: pointer;
  color: $rc-theme-primary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
ol {
  margin: 0;
  padding: 0 0 0 1em;
  li { margin: 0 0 8px; }
}
hr { margin: 3em 0; }
