/**
* ------------------------------------------------------
* RC Vars
* ------------------------------------------------------
**/


// rc palette
$rc-turquoise        : #00a69b;
$rc-sunset           : #ff5721;
$rc-pear             : #cddc38;
$rc-glitter          : #e5f2f3;
$rc-charcoal         : #454540;
$rc-warm-grey        : #9a9a9a;
$rc-cool-grey        : #cdcdcd;
$rc-faint-grey       : #efefef;

$rc-theme-primary:        $rc-turquoise;
$rc-theme-accent:         $rc-sunset;
$rc-theme-secondary:      $rc-cool-grey;
$rc-theme-tertiary:       #ffc213;
$rc-theme-success:        $rc-pear;
$rc-theme-warn:           #c53100;
$rc-theme-bgd:            $rc-faint-grey;
$rc-theme-black:          #1c1b1b;
$rc-theme-grey:           #ddd;
$rc-theme-dkgrey:         #454540;
$rc-display-font:         'Roboto', sans-serif;
$rc-display-font-weight:  500;
$rc-default-font:         'Roboto', sans-serif;
$rc-default-font-weight:  300;

$rc-theme-text:           var(--primary-color);
$rc-media-small:          400px;
$rc-max-width:            1400px;
$rc-header-height:        80px;
$rc-toolbar-height:       48px;
