/*
* ------------------------------------------------------
* RC Vars
* ------------------------------------------------------
*/

$rc-theme-primary:        #FF3D00;
$rc-theme-accent:         #1c1b1b;
$rc-theme-secondary:      #4DD0E1;
$rc-theme-tertiary:       #ffc213;
$rc-theme-success:        #5dbd3d; //#8BC34A; //#50d56d;
$rc-theme-warn:           #c53100;
$rc-theme-bgd:            #efefef; //#EFF1F5;
$rc-display-font:         'Roboto', sans-serif;
$rc-display-font-weight:  700;
$rc-default-font:         'Roboto', sans-serif;
$rc-default-font-weight:  400;
$rc-theme-black:          #1c1b1b;//#20232a;//#212121;
$rc-theme-grey:           #ddd;
$rc-theme-text:           #666;
$rc-media-small:          400px;
$rc-max-width:            1400px; //976px;
