@use '@angular/material' as mat;

@import "mat-themes";
@import "abstract";
@import "variables";
@import "reset";
@import 'bpi';
@import "mozrest";

// Create a config with the default MAT typography levels.
$config: mat.define-legacy-typography-config();

/**
* Utility classes
* ----------------------------------
*/
.rc-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rc-dialog-loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: -12px;
  transition: all 300ms ease-out;
  span {
    display: inline-block;
    padding-top: 8px;
    font: $rc-display-font-weight 14px/1 $rc-default-font;
    text-transform: uppercase;
  }
}
.rc-dialog-backdrop { background-color: rgba($rc-charcoal, 0.75); }
.rc-no-grid-gutter { margin: -16px; }
.rc-hide { display: none; }
.rc-accent { background-color: $rc-theme-secondary !important;}
.rc-centre { text-align: center; }
.rc-space-filler { flex: 1 1 auto; }
.rc-flex-spaced {
  display: flex;
  justify-content: space-between;
}
.rc-flex-end { justify-content: flex-end; }



.rc-codes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  span {
    display: block;
    text-align: center !important;
  }
}
.rc-invisible { visibility: hidden; }
.rc-full-width { width: 100%; }
.rc-half-width { width: calc(50% - 2px);}
.rc-link-active { color: $rc-theme-accent !important; }
.rc-link-like { cursor: pointer; }
.rc-disable {
  filter: saturate(0%);
  opacity: 0.5;
}

// membership
a.rc-back {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  color: #fff !important;
  font-size: 16px;
  text-decoration: none !important;
  margin: 1rem 0;
  transition: transform .3s ease-out;
  &:hover {
    color: white;
    .mat-icon {
      position: relative;
      transition: all .3s ease-out;
      transform: translateX(-8px);
    }
  }
}
.rc-txt-small p,
.rc-txt-small {
  font-size: 14px !important;
  line-height: 1.4;
}

.rc-mat-snack-warn,
.rc-mat-snack-info{
  color: black;
  background-color: $rc-theme-warn;
  .mat-simple-snackbar,
  .mat-simple-snackbar-action {
    color: white;
    font-size: 16px;
    line-height: 22px;
    button {
      font-size: 16px;
    }
  }
}
.rc-mat-snack-info {
  background-color: $rc-charcoal;
  .mat-simple-snackbar,
  .mat-simple-snackbar-action {
    color: white;
    line-height: 1.614;
  }
}

.rc-active {
  cursor: pointer;
  &:hover { background: #eee; }
}
.rc-success { color: $rc-theme-success !important; }
.rc-highlight { color: $rc-theme-accent }
.rc-warn { color: $rc-theme-warn; }
.rc-media-small-hide { display: none !important; }
.rc-media-med { display: block !important; }


// Unused
// -----------------------------------
/**
.agm-map { height: 300px; }
.rc-loader-white {
  .rc-spinner div { background-color: white !important;
  }
}

*/


.rc-user-menu {
  padding: 16px 18px 8px;
  h3 {
    font-size: 18px;
    margin: 0 0 -4px;
    line-height: 1;
  }
  span { font-size: 11px; }
}

@media screen and ( min-width : 600px ){
  .rc-media-small-hide { display: block !important; }
  .rc-media-med { display: none !important; }
  .rc-codes { flex-direction: row;}
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {}

/**
* MAT/MDC Overrides
* -------------------------------
**/
.mat-toolbar,
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
  font: 400 16px/48px $rc-default-font;
}
.mat-toolbar-fixed-adjust { padding-top: $rc-header-height;}
.mat-tooltip { font: $rc-default-font-weight 12px/16px $rc-default-font; }
.mat-hint,
.mat-input-underline {
  color: $rc-theme-black;
  border-width: 4px;
  border-color: $rc-theme-black;
}
.mat-error { text-align: right; }
.mat-radio-label,
.mat-form-field-prefix { margin-right: 8px; }
.mat-form-field { line-height: 1.4; }
.mat-card-title { font-size: 20px; }
.mat-form-field > .mat-chip { background-color: $rc-theme-primary; }
.mat-dialog-container { border-radius: 8px !important; }
.rc-preview-dialog-container .mat-dialog-container {
  padding: 0;
  border-radius: 0;
}
mat-form-field.mat-focused { color: $rc-theme-accent; }
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.rc-preview-backdrop {
  background-color: #000;
  opacity: 0.7;
}
.mat-card-header-text { margin: 0 !important; }
.mat-card-content h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 12px 0 8px;
  background-color: $rc-theme-grey;
  padding: 4px 8px;
  font-size: 12px;
}
.mat-simple-snackbar-action { color: white; }
a.mat-menu-item {text-decoration: none;}
.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Bpi
// ++++++++++++++++++++++++++++++++++++++++++++
.layout-2-panel {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  @include mq-max(small) {
    flex-direction: column;
    height: auto;
  }
  .layout-panel-left {
    height: 100vh;
    width: 50vw;
    overflow: auto;
    overflow-x: hidden;
    background: $rc-theme-primary;
    color: white;
    @include mq(small) {
      width: 100vw;
      height: auto;
    }
  }
  .layout-panel-right {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 50vw;
    overflow: auto;
    overflow-x: hidden;
    background: white;
    @include mq-max(small) {
      justify-content: flex-start;
      height: auto;
      max-width: 100vw;
    }
  }
  .layout-panel-inner {
    min-height: 100vh;
    padding: 7rem 5rem 2rem;
    h1 {
      font-weight: 300;
      line-height: 1.1;
    }
    .mat-form-field {
      width: 100%;
    }
    .mat-checkbox-inner-container {
      height: 20px;
      width: 20px;
      margin-top:0;
    }
    .mat-checkbox-layout {
      margin: 16px 0;
      white-space: normal;
    }
    button {
      width: 100%;
      margin: 0 0;
      line-height: 56px;
      border-radius: 4px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: $rc-default-font-weight;
    }
    .bpi-logos {
      background: white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 1rem auto;
    }
    @include mq-max(small) {
      min-height: 0;
      padding: 2rem;
    }
  }
}

/**
* RC layouts
* -------------------------------
**/

.rc-grid {
  max-width: $rc-max-width;
  display: grid;
  margin: 1rem auto;
  gap: 1rem;
  .rc-grid-col-span {
    grid-column: span 3;
  }
  @include mq(medium) {
    grid-template-columns: repeat(3, 1fr);
    &.two-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.rc-grid-masonry-2 {
  columns: 1;
  margin: 1rem auto;
  gap: 1rem;
  > * {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
  @include mq(medium) {
    columns: 2;
  }
}
.rc-form-grid {
  display: grid;
  margin: 1rem auto;
  gap: 1rem;

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
    .rc-form-grid-span {
      grid-column: span 2;
    }
  }
}
.rc-content-container {
  max-width: $rc-max-width;
  margin: 1rem auto;
}


.rc-layout-split-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .rc-layout-split-left,
  .rc-layout-split-right {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    ul li {
      list-style: disc;
    }
  }
  .rc-layout-split-left {
    background-color: $rc-theme-primary;
    color: white;
    a {
      color: black;
      text-decoration: underline;
    }
    h1 {
      font-weight: 300;
      line-height: 1.1;
    }
  }
  .rc-layout-split-content {
    max-width: 560px;
    margin: 0;
    .rc-logo {
      display: block;
      margin: 0 0 2em;
      img { height: 120px;}
    }
    h1 {
      font-weight: 300;
      line-height: 1.1;
    }
    p {
      // text-align: justify;
      font-weight: 300;
      font-size: 18px;
    }
    .rc-form-msg {
      margin: 0 0 1rem;
      p { font-size: 16px; }
    }
    // suppress the number spinners
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .rc-subscription {
      margin: 1.5rem 0;
      border: 2px solid #ddd;
      padding: 10px 8px;
      border-radius: 5px;
      transition: all .2s ease-out;

      h2 {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0 0 16px;
        padding: 0;
        line-height: 1;
        color: $rc-theme-primary;
      }
    }
    .rc-join-welcome { }
    .rc-join-form {
      background-color: white;
      .mat-form-field {
        width: 100%;
      }
      .mat-checkbox-inner-container {
        height: 20px;
        width: 20px;
        margin-top:0;
      }
      .mat-checkbox-layout {
        margin: 16px 0;
        white-space: normal;
      }

    }
    button {
      width: 100%;
      margin: 0 0;
      line-height: 56px;
      border-radius: 4px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: $rc-default-font-weight;
    }
  }
  $circle: 36px;
  ol {
    counter-reset: rc-counter;
    list-style: none;
    margin: 24px 0 16px;
    padding-left: 8px;
  }
  ol li {
    position: relative;
    padding-left: $circle;
    margin: 24px 0;
    font: $rc-default-font-weight 18px/1.25 $rc-default-font;
    transition: color .3s ease-out;
  }
  ol li:before {
    content: counter(rc-counter);
    counter-increment: rc-counter;
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    font: 500 18px/1 $rc-default-font;
    background: rgba(255, 255, 255, .1);
    border-radius: 50%;
    height: $circle;
    width: $circle;
    color: #fff;
    line-height: $circle;
    text-align: center;
    transition: background-color .3s ease-out;

  }
  li.rc-bolden {
    color: black;
  }
  li.rc-bolden:before {
    background: rgba(0, 0, 0, 1);
  }
  ul li {
    margin-bottom: .25rem;
  }
  @media screen and ( min-width : 768px ){
      flex-direction: row;

      .rc-layout-split-left {
        width: 50vw;
        justify-content: center;
        align-items: flex-end;
        padding: 5%;
      }
      .rc-layout-split-right {
        width: 50vw;
        justify-content: center;
        align-items: flex-start;
        padding: 5%;
      }
  }
}
.bpi-logos {
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto;
}
form.rc-form-grid {
  display: grid;
  gap:8px;
  grid-template-columns: 1fr;
  .col-span-2 { grid-column: span 1; }
  @include mq(small) {
    grid-template-columns: 1fr 1fr;
    .col-span-2 { grid-column: span 2; }
  }
  .rc-btn-prev {
    background-color: #ddd;
  }
  .mat-checkbox-layout { margin-top: 0 !important; }
  li {
    list-style: disc;
    margin: 0 0 .25rem;
  }
}


.rc-about {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  position: relative;

  .rc-close {
    position: absolute;
    top: -8px; right: -8px;
    z-index: 100;
  }
  img {
    width:120px;
    height: auto;
  }
  h3 {
    text-align: center;
    font-size: 16px;
    margin: 0 auto 8px;
  }
  a { font-weight: bold; color: inherit; }
}
.rc-footer {
  margin-top: 0;
  padding: 24px 0 24px 0;
  min-height: 160px;
  background: $rc-theme-black;
  color: #fff;
  a {
    opacity: 1;
    transition: opacity .3s ease-out;
    &:hover { opacity: .75; }
  }
  img {
    height: 80px;
    margin: 0 24px;
  }

  .rc-navlist {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: color .3s ease-out;
      &:hover {
        color: $rc-theme-primary;
      }
    }
    &.rc-selected { color: $rc-theme-primary; }
  }
}
.rc-footer-min {
  background: $rc-theme-bgd;
  display: flex;
  flex-direction: column;
  padding: 24px 48px;
  justify-content: center;
  align-items: center;
  a:first-child {
    display: inline-block;
    height: 56px;
    margin-bottom: 8px;
  }
  img {
    height: 100%;
    width: auto;
  }
  p {
    margin: 0;
    font-size: 12px;
  }
}


// Default logo
.rc-svg-logo {
  height: 100%;
  max-width: 360px;
  margin: 0 0 1rem;
  .rc-logo-group {
    fill: white;
    .rc-logo-circles { opacity: .38; }
    .rc-logo-text {}
  }
  &.primary {
    .rc-logo-group {
      .rc-logo-circles {
        fill: $rc-theme-primary;
        opacity: 1;
      }
      .rc-logo-text {
        fill: $rc-charcoal;
      }
    }
  }
  &.accent {
    .rc-logo-group {
      .rc-logo-circles {
        fill: $rc-theme-accent;
        opacity: 1;
      }
      .rc-logo-text {
        fill: $rc-charcoal;
      }
    }
  }
  &.rc-logo-footer {
    width: 100px;
    .rc-logo-group {
      fill: grey;
      .rc-logo-circles {
        opacity: .5;
      }
    }
  }
}
.mat-toolbar {
  background-color: $rc-theme-primary;
  color: white;
  &.rc-header {
    height: $rc-header-height !important;
    padding: 0 18px;
  }
  .rc-toolbar-actions {
    .mat-icon {
      font-size: 28px;
      width: 29px;
      height: 29px;
      line-height: 28px !important;
    }
  }
  &.rc-toolbar-nav-adjust {
    margin-top: $rc-header-height;
  }
  &.rc-toolbar-nav {
    background-color: $rc-charcoal;
    .rc-link-active { color: $rc-theme-primary !important; }
  }
  &.rc-toolbar-section {
    background-color: $rc-theme-secondary;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    @include mq(small) {
      font-size: 16px;
    }
  }
  &.rc-toolbar-fixed {
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
  }
  .rc-brand-wrap {
    display: block;
    cursor: pointer;
    transition: all .1s ease-out;
    height: $rc-toolbar-height;
    &:hover {
    transform: scale(1.05);
    }
  }
  .rc-brand-logo {
    display: block;
    height: $rc-toolbar-height;
  }
  .rc-header-tag {
    display: inline-block;
    padding-left: 14px;
    margin:2px 0 0 16px;
    border-left: 1px solid white;
    font-size: 14px;
  }
  .rc-toolbar-btn-lg {
    width: 40px;
    height: 40px;
    transition: all .1s ease-out;
    svg { height: 32px;}
    &:hover {
      transform: scale(1.1);
    }
  }
  .rc-avatar {
    display: inline-block;
    background-color: #fff;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    transition: all .1s ease-out;
    line-height: 1;
    &:hover {
      transform: scale(1.1);
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.rc-section-toolbar {
  background-color: $rc-charcoal;
  color: white;
  font-weight: $rc-default-font-weight;
  &.mat-toolbar { min-height: $rc-toolbar-height; }
  .rc-section-toolbar-title { transition: all .3s ease-in-out;}
  .rc-section-toolbar-actions {
    display: flex;
    flex-direction: row;
  }
}

.rc-marketplace {
  padding-top: ($rc-toolbar-height);
  .rc-card-menu {
    position: absolute;
    top: 8px; right: 8px;
  }
  .rc-icon-tag {
    position: absolute;
    cursor: default;
    z-index: 20;
    bottom: 22px;
    display: flex;
    font-size: 14px;
    color: $rc-charcoal;
    .mat-icon {
      margin-right: 4px;
    }
  }


}
.rc-marketplace-sponsor {
  background: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  font-size: 18px;
  img {
    max-height: 64px;
  }
}

/**
* RC Cards
* -------------------------------
**/
.rc-sub-panel {
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 24px 0 0;
  background-color: #eee;
  > div {
    padding: 8px;
    h3 { margin: 0;}
    span { font-size: 14px;}
  }
  img {
    display: block;
    background-color: #eee;
    height: 120px;
    width: 120px;
    object-fit: cover;
    cursor: pointer;
  }
  .rc-avatar-placeholder {
    cursor: pointer;
    transition: all .3s ease-out;
    opacity: .8;
    &:hover {
      transform: scale(.95);
      opacity: 1;
      color: black;
    }
    svg {
      display: block;
      width: 120px;
      height: 120px;
      g {
        fill: $rc-cool-grey;
      }
    }
  }
}
.rc-card-rounded {
  position: relative;
  height: 100%;
  border-radius: 16px !important;
  padding: 24px 24px 48px !important;
  box-shadow: 0 9px 68px 0 rgb(0 0 0 / 20%);
  .rc-card-menu {
    position: absolute;
    top: 8px
  }
  .mat-card-actions {
    position: absolute;
    bottom: 24px; right: 24px; left: 24px;
  }
}
.rc-card-market {
  img {
    height: 64px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 8px;
  }
  h2 {
    margin: 8px 0 0;
    line-height: 1.1;
  }
  h3 {
    margin: 0 0;
  }
  h4 {
    color: $rc-theme-accent;
    font-size: 11px;

  }
  p {
    font-size: 14px;
    line-height: 1.45;
  }
  ol { margin: 0; padding: 0;}
  li {
    list-style: disc;
    margin-left: 16px;
  }
}
.rc-managed-restaurant-placeholder {
  background-color: #eee;
  padding: 0;
  display: flex;
  cursor: pointer;





  div:first-child {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 180px;
    height:120px;
    color: #000;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }
  div:last-child {
    flex: auto;
    padding: 16px;
    height: 120px;
    width: 100%;
    font-size: 14px;
  }
}

.rc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  .rc-card-help {
    position: absolute;
    top:16px; right: 16px;
  }
  .rc-card-img {
    width: calc(100% + 32px);
    margin: 0 0 0 -16px;
    height: auto;
    overflow: hidden;
  }
}
.rc-card-help {
  position: absolute;
  top: 0; right: 0;
  z-index: 10;
  background-color: white;
}
.rc-image-card {
  position: relative;
  box-sizing: border-box;
  background: white;
  width: 100%;
  transition: all .3s ease-out;
  &:hover { @include mat.elevation(6); }
  img {
    width: 100%;
    height: 240px;
    cursor: pointer;
    object-fit: cover;
  }

  .rc-card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:4px 12px 8px 12px;
  }
}
.rc-element-tag {
  position: absolute;
  z-index: 5;
  top: 24px;
  left: 24px;
}

.rc-online { background-color: $rc-theme-success !important; }
.rc-default { background-color: $rc-theme-accent !important; }
.rc-action-left {
  text-align: left;
  float: left;
}


.rc-card-service {
  position: relative;
  height: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 16px !important;
  padding: 24px !important;
  &:hover {
    @include mat.elevation(5);
    h2 { color: $rc-theme-accent }
  }
  img {
    height: 96px;
    margin: 0 0 -8px;
    padding: 0;
  }
  h2 {
    margin: 0;
    color: $rc-charcoal;}
  p {
    text-align: left;
    margin-bottom: 32px;
  }
  span:last-child {
    display: inline-block;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    color: $rc-theme-accent;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
  }
}
.rc-card-restaurant {
  position: relative;
  background-color: white;
  transition: all .3s ease-in-out;
  &:hover {
    @include mat.elevation(6);
  }
  .rc-card-restaurant-nav {
    position: absolute;
    bottom: 0;
    height: 48px;
    width: calc(100%);
    display: flex;
  }
  .rc-card-img-wrapper {}
  img {
    height: auto;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .rc-card-restaurant-content {
    cursor: pointer;
    padding: 0 16px 0;
    margin-bottom: 48px;
    &:focus { outline: none; }
    h2 { margin: 8px 0 0; }
    span {
      &:after { content: ', '; }
    }
  }
  .rc-card-restaurant-actions {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 0;
    right: 0; left: 0;
    margin: 16px 4px 4px !important;
  }
}

/**
* RC Modals & Dialogs
* -------------------------------
**/
.rc-dialog {
  position: relative;
  padding: 0;
  max-width: 960px;
  input {
    text-overflow:ellipsis;
  }

  .mat-dialog-title {
    font: 500 24px/36px $rc-default-font;
  }
  &.rc-dialog-med { max-width: 600px;}
  &.rc-dialog-small { max-width: 400px;}
  .rc-message {
    margin: 8px 0 4px;
    padding: 0 8px 8px;
    border-bottom: 1px solid $rc-theme-grey;
    &:first-child { margin-top: 16px; }
    h2, h3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding:0;
      .mat-icon { margin-right: 4px; }
    }
    p {
      padding:0;
      margin:0;
    }
  }
  .rc-message-important {
    h2, h3 {
      color: $rc-theme-accent;
      .mat-icon { color: $rc-theme-accent; }
    }
  }
}
.rc-dialog-image-upload {
  label.image-select {
    display: block;
    position: relative;
    cursor: pointer;
    //padding-top: 8px;
    .image-select-label {
      position: absolute;
      bottom:0;
      z-index: 10;
      width: 100%;
      background-color: rgba(0,0,0,.5);
      color: white;
      padding: 16px 0;
      text-align: center;
      font: 500 12px/16px $rc-default-font;
    }
  }
  .image-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #eee;
    width: 270px;
    height: 270px;
    img {
      width: 100%;
      height: 100%;
      text-align: center;
      object-fit: cover;
    }
  }
}
.rc-dialog-help {
  h2 {
    color: $rc-theme-accent;
    text-transform: uppercase;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  p {
    border-left: 3px solid $rc-cool-grey;
    padding-left: 8px;
  }
}
.rc-dialog-alert {
  padding-bottom: 8px;
  max-width: 480px;
  h1 {
    text-transform: uppercase;
    padding: 0 0 8px;
    font: 500 20px/24px $rc-default-font;
  }
  .mat-stroked-button {
    border-color: $rc-theme-accent;
  }
  ul { margin-left: 24px;}
  li {
    list-style: disc;
    margin-bottom: 4px;
  }
}
.rc-dialog-member {
  position: relative;
  max-width: 400px !important;
  .mat-dialog-container { padding: 0; }
  .rc-close {
    position: absolute;
    top: 0; right: 0;
    z-index: 500;
  }
}
.rc-dialog-cms-image {
  width: 68vw;
  header { display: flex; }
  .image-wrapper {
    position: relative;
    padding: 0 16px 0;
  }
}
.rc-dialog-cms-image-upload {
  width: 68vw;
  max-width: 480px;
  label {
    font-size: 16px;
  }
  .rc-file-upload-preview {
    height: 300px;
    background-color: $rc-theme-grey;
    img {
      object-fit: cover;
      height: 300px;
      width: 100%;
    }
  }

}
.rc-dialog-spw-preview {
  border: 0;
  padding: 0;
  margin: 0;
  width: 80vw;
  height: 80vh;
}

.rc-file-input-hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.rc-file-input-wrapper {
  display: flex;
  justify-content: center;
  margin:8px auto;
}
.rc-file-input-label {
  cursor: pointer;
  //background: $rc-theme-black;
  color: $rc-theme-text;
  display: flex;
  line-height: 1.5;
  padding: 8px 24px;
  font-size: 24px;
  border-radius: 6px;
  border: 2px solid $rc-theme-grey;
  transition: all .3s ease-out;
  text-align: center;
  text-transform: uppercase;
  mat-icon { margin-right: 8px; }
  &:hover {
    border-color: $rc-theme-black;
    color: $rc-theme-black;
  }
}

.rc-card-vspacer { height: 16px; }
.rc-card-vspacer-lg { height: 32px; }
.rc-form-btns { text-align: center; }
.rc-member { background-color: $rc-theme-success !important; }
.rc-invited { background-color: $rc-theme-black !important; }
.rc-prospect { background-color: $rc-theme-grey !important; }
.rc-card-keystat {
  display: block;
  font-size: 60px;
  color: $rc-theme-primary;
  text-align: center;
  line-height: 1;
}
.rc-card-label {
  display: block;
  text-transform: uppercase;
  font-weight: $rc-default-font-weight;
  letter-spacing: .1em;
  font-size: 11px;
  //color: $rc-theme-primary;
}
.rc-card-stat { mat-icon { margin-right: 16px; } }
.rc-chart {
  transition: height .3s ease-out;
  width: 100%;
  min-height: 200px;
  text-align: center;
  overflow: hidden;
  app-rc-loader.loader-container { height: 100%; }
}
.rc-sub-chart {
  width: 100%;
  min-height: 160px;
  text-align: center;
}
.rc-add-card {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

ul.rc-lookup-results {
  margin: 0 0 0;
  padding:0;
  li {
    list-style: none;
    margin: 0;
    a {
      display: flex;
      line-height: 48px;
      padding:0 16px;
      transition: all .3s ease-out;
      color: $rc-theme-black;
      text-decoration: none;
      &:hover {
        color: $rc-theme-primary;
        background-color: #eee;
        span:last-child { opacity: 1; }
      }
      span:last-child { opacity: 0; }
    }
  }
}
.mat-nav-list.rc-lookup {
  font-size: 14px;
  a {
    position: relative;
    padding: 4px 0;
    mat-icon {
      display: none;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:hover {
      mat-icon { display: inline-block; }
    }
  }
}
.rc-lookup-request{
  margin: 1rem 0 0;
  padding: 16px;
  background-color: #eee;
  h2 { margin: 0 0 1rem; }
}
.rc-lookup-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  button { margin-left: 4px; }
}

/**
* CMS
* -------------------------------
**/
.rc-cms {
  padding-top: ($rc-toolbar-height);
  .rc-cms-base {
    dd { font-size: 24px; }
  }
  .rc-card { padding: 16px; }
  dl { margin: 24px 0 0 0; }
  dt {
    text-transform: uppercase;
    font-size: 12px;
    color: $rc-theme-accent;
    &:after { content: ":"; }
  }
  dd {
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    font-size: 18px;
    a {
      width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      color: inherit;
      &:hover { color: $rc-theme-primary; }
    }
  }
  span { display: block; }
  .rc-cms-info {
    background: rgba($rc-theme-secondary, .25);
    padding: 16px;
    transition: all 300ms ease-in-out;
    max-height: 1000px;
    header {
      display: flex;
      h2 {
        color: inherit;
        font-size: 24px;
        font-weight: $rc-default-font-weight;
        padding: 0;
        margin: 0;
      }
      .rc-cms-close {}
    }
    p {
      margin:8px 0;
      color: inherit;
    }
  }
  .rc-cms-info-actions {
    button { text-transform: uppercase; }
  }
}
.rc-cms-card-nav {
  position: absolute !important;
  top: 20px;
  right: 8px;
}
.rc-card-title-img-wrapper {
  .mat-card-image img {
    height: 240px;
    width: inherit;
    object-fit: cover;
  }
  .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 100%;
  }
}
.rc-cms-social {
  margin: 0;
  padding: 0;
  li {
    margin: 8px 8px 0 0;
    padding: 0;
    display: inline-block;
    img { width: 36px; }
    a {
      opacity: 0.8;
      transition: opacity ease-in-out .3s;
      &:hover { opacity: 1; }
    }
  }
}
.rc-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:2px; right: 2px;
  z-index: 500;
  background: $rc-theme-secondary;
  color: black;
  font-size: 10px;
  font-weight: $rc-display-font-weight;
  line-height: 10px;
  border-radius: 50%;
  width:18px;
  height: 18px;
}
.rc-member-status {
  position: relative;
  p { margin: 16px auto 0; }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      margin: 8px 36px 8px 8px;
      font-size: 20px;
      line-height: 1;
      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
    }
    .mat-icon.assc-member,
    .mat-icon.full-member{
      padding: 8px !important;
      color: white;
      border-radius: 50%;
      background-color: $rc-theme-success;
    }
    .mat-icon.assc-member { background-color: $rc-theme-tertiary; }
  }
}
.rc-member-assc,
.rc-member-full {
  border-radius: 4px;
  border: 2px solid $rc-theme-secondary;
  .rc-benefits {
    .mat-list-item:nth-child(odd) { background: rgba($rc-theme-secondary, .25); }
    &.mat-list { padding-top: 0; }
  }
}
.rc-member-full {
  header {
    padding: 16px;
    display: flex;
    flex-direction: row;
    h1 {
      font: 500 24px/24px $rc-default-font-weight;
      margin: 8px;
    }
    .mat-icon.assc-member {
      padding: 12px !important;
      color: white;
      border-radius: 50%;
      background-color: $rc-theme-success;
    }
  }
}
.rc-member-actns {
  button {
    background: $rc-theme-success;
    height: 56px;
    font-size: 16px;
  }
}
.rc-card-title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  > .mat-icon {
    $size: 32px;
    font-size: $size;
    height: $size;
    width: $size;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
}
.rc-managed-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  margin: 0 0 8px 0;
  cursor: pointer;
  @include mq(small) {
    flex-direction: row;
  }
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
    @include mq(small) {
      height: 120px;
      width: 180px;
    }
  }
  .placeholder {
    position: relative;
    height: 160px;
    width: 100%;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $rc-theme-grey;
    @include mq(small) {
      height: 120px;
      width: 180px;
    }
  }

  .mat-icon {
    transition: all .3s ease-out;
    position: absolute;
    cursor: pointer;
    top: 8px; right: 8px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
  }
  &-info {
    padding: 8px;
  }
  &:hover {
  }
}
.rc-card-subtitle {
  display: block;
  margin: -20px 0 12px 0;
  font-size: 14px;
}
ul.rc-line-items {
  display: block;
  li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $rc-cool-grey;
    padding: 8px 0;
    text-align: left;
    label {
      flex-basis: 38%;
    }
  }
}



.rc-member-profile {
  box-sizing: border-box;
  background: white;
  padding: 8px;

  img {
    width: 100%;
    height: auto;
  }

  span {
    display: flex;
    line-height: 24px;
    font-size: 18px;
    border-bottom: 1px dotted $rc-theme-black;
    padding: 8px 4px;
    mat-icon { margin-right: 8px; }
  }

  h1, h2, h3 { margin: 0; }
  h2 {
    color: $rc-theme-primary;
    font-weight: $rc-display-font-weight;
    padding: 0;
  }
}
.rc-add-content {
  margin-right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  cursor: pointer;
  color: #999;
  padding: 48px;
  transition: all .3s ease-in-out;
  &:hover { @include mat.elevation(6); }
  .mat-icon {
    height: 48px;
    width: 48px;
    font-size: 48px;
  }

  .rc-add-content-label {
    font-size: 24px;
    text-align: center;
  }
  &:hover {
    color: $rc-theme-black;
    border-color: $rc-theme-black;
  }
}

button.rc-member-full,
button.rc-member-assc {
  position: absolute !important;
  top: 16px; left: 16px;
  z-index: 10;
  background-color: $rc-theme-success;
  color: white;
}
button.rc-member-assc {
  background-color: $rc-theme-tertiary;
  color: white;
}

.rc-cms-dash-info {
  transition: all .3s ease-out;
  .mat-card-title {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .mat-card-content { margin-bottom: 8px; }
}
.rc-content-status {
  padding-bottom: 24px;

  mat-list-item {
    cursor: pointer;
    .mat-list-item-content { padding: 4px 0 !important;}
    h3 { transition: color .3s ease; }
    &:hover {
      h3 { color: $rc-theme-primary; }
    }
  }
  mat-icon { background-color: $rc-charcoal; }
  .mat-progress-bar-fill {
    &:after { background-color:  $rc-theme-tertiary; }
  }
  .mat-progress-bar-fill {
    &:after { background-color: $rc-theme-success; }
  }
  .rc-content-status-complete {
    mat-icon { background-color: $rc-theme-success; }
    .mat-progress-bar-fill {
      &:after { background-color: $rc-theme-success; }
    }
  }
  .rc-content-status-partial {
    mat-icon { background-color: $rc-theme-tertiary; }
    .mat-progress-bar-fill {
      &:after { background-color:  $rc-theme-tertiary; }
    }
  }
  .rc-content-status-missing {
    mat-icon { background-color: black; }
    .mat-progress-bar-fill {
      &:after { background-color:  $rc-theme-tertiary; }
    }
  }

  mat-icon {
    padding: 8px !important;
    color: white;
    background-color: black;
  }
  .mat-progress-bar {
    height: 6px;
    margin-top: 6px !important;
  }

  .mat-progress-bar-buffer { background-color: #ddd; }
  p[matLine] > span {
    margin-top: 4px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: right;
  }
}
.rc-cms-times {
  max-width: $rc-max-width;
  margin:1rem auto;
  .mat-checkbox-label {
    font-size: 16px;
    color: $rc-theme-black;
  }
  .rc-day-closed {
    .mat-checkbox-label { color: grey; }
  }
  .rc-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rc-session-time {
      width: 40%;
    }
    a.rc-del-session {
      width: 5%;
      text-align: right;
    }
  }
}

/*
** CMS Menus
** ---------------------------------
*/
.rc-cms-menus {
  margin: 0 auto;
  padding-block: 24px;
  max-width: $rc-max-width;
  display: grid;
  gap: 1rem
}
.rc-content-panel {
  padding: 16px;
  background-color: white;
}

.sample-dishes {
  display: grid;
  gap: 1rem;
  @include mq(medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.rc-cms-menu-info {}

.rc-cms-menu-section {
  padding: 16px 16px 24px;
  background-color: $rc-theme-grey;
  margin-block: 1rem;


  input.mat-input-element {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
  }

}
.rc-cms-menu-download {
  padding: 16px !important;
  transition: all .3s ease-out;
  &:hover { @include mat.elevation(6); }
  h2 {
    margin: 0 auto 0 0;
    padding: 0;
    font: 400 16px/24px $rc-default-font;
    text-transform: uppercase;
    line-height: 1.25;
    color: black;
  }
  p {
    font-size: .9rem;
    line-height: 1.25;
    color: $rc-theme-text;
    padding-top: .2rem;
  }
  .rc-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    .mat-checkbox {
      // adjusty positioning to align with button
      margin: 0 14px 0 0;
    }
  }
}
.rc-cms-menu-download,
.rc-cms-menu-dish {
  background-color: white;
  cursor: pointer;
  padding: 16px !important;

  transition: all .3s ease-out;
}
.rc-cms-menu-dish {
  h3 {
    display: inline;
    span {
      display: inline;
      margin-left: 4px;
    }
  }
  &:hover {
    @include mat.elevation(6);
    h3 {
      color: $rc-theme-primary;
    }
  }
  h2 {
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 8px;
    padding: 0 0 4px;
    letter-spacing: 1px;
    color: $rc-theme-text;
  }
  .rc-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0;
  }
}
.rc-dish-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;

  h3 {
    margin: 0 auto 0 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25;
    flex: 70%;
    color: black;
    span.rc-dish-attribute {
      margin-left: 4px;
    }
  }
  // menu item price
  span:nth-child(2) {
    font-weight: $rc-display-font-weight;
    font-size: 1rem;
    line-height: 1.25;
    margin-left: auto;
    flex: 30%;
    align-content: start;
    text-align: right;
    color: black;

  }
  // menu item desc
  span:nth-child(3) {
    font-size: .9rem;
    line-height: 1.25;
    flex: 100%;
    color: $rc-theme-text;
    padding-top: .2rem;
    text-transform: none;
  }
}
.rc-affiliate-offer-card {
  position: relative;
  .mat-card-actions {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 24px;
    left:24px;
    width: calc(100% - 32px);
  }
  .mat-card-image {
  }
  .mat-card-title {
    font-size: 36px;
    line-height: 1;
  }
  p { margin: 4px 0; }
  dl {
    padding-bottom: 48px;
    dt { color: $rc-theme-black; }
    dd {
      font-size: 16px;
      a {
        color: $rc-theme-primary;
        &:hover { text-decoration: underline; }
      }
    }
    dd:first-of-type {
      font-size: 24px;
      margin-bottom: 0;
    }
  }
  .rc-btn-offer {
    height: 56px;
    width: 100%;
    font-size: 18px;
  }
}

.rc-hub {
  .rc-hub-apps { }
  .rc-hub-cms {
    position: relative;
    .rc-hub-cms-icons {
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 2;
      .mat-icon {
        $size: 36px;
        font-size: $size;
        height: $size;
        width: $size;
        color: $rc-theme-primary;
      }
      .mat-badge-content {
        right: -6px;
        top: -6px;
      }
    }
    .mat-icon {
      font-size: 24px;
      color: $rc-charcoal;
      cursor: pointer;
    }
  }
}

/*
/  Membership plans
*/
.rc-member-plans {
  // this seems a bit excessive, but it's the only way I've managed
  // to override the default mat classes
  .mat-list-base .mat-list-item .mat-list-item-content-reverse,
  .mat-list-base .mat-list-option .mat-list-item-content-reverse {
    padding: 0;
    margin: 0;
  }
  .mat-list-single-selected-option,
  .mat-list-single-selected-option:hover,
  .mat-list-single-selected-option:focus {
    border: 1px solid $rc-theme-accent !important;
    background-color: transparent;
  }

  .mat-list-item.mat-list-option {
    .mat-list-text { padding: 0 !important;}
    height: auto !important;
    margin: 8px 0;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid $rc-cool-grey;

    div.content {
      display: flex;
      justify-content: space-between;
      div:last-child {
        width: 20%;
      }
    }

    h3 {
      font-weight: $rc-display-font-weight;
      line-height: 1;
      margin: 0 0 4px;
      font-size: 16px;
    }
    p {
      font-size: 12px;
      font-weight: $rc-default-font-weight;
      line-height: 1.3;
      margin: 0;
    }
    span {
      font-size: 9px;
      text-transform: uppercase;
      text-align: right;
      font-weight: $rc-default-font-weight;
      display: block;
    }
  }
}

/**
 * RDL Styles
 */


.rd-grid-auto {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(360px, 1fr) );
  gap: 1rem;
}



