
/**
* Material Web Components
* -----------------------
* Edit defaults
*/
//$mdc-layout-grid-default-gutter: ( desktop: 16px, tablet: 16px, phone: 8px);
//$mdc-layout-grid-default-margin: ( desktop: 16px, tablet: 16px, phone: 8px);
@import "@material/layout-grid/mdc-layout-grid";
@import "mat-themes";
@import "vars";
@import "reset";

// Create a config with the default MAT typography levels.
$config: mat-typography-config();

/**
* Utility classes
* ----------------------------------
*/
* {
  box-sizing: border-box;
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.rc-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rc-dialog-loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: -12px;
  transition: all 300ms ease-out;
  span {
    display: inline-block;
    padding-top: 8px;
    font: $rc-display-font-weight 14px/1 $rc-default-font;
    text-transform: uppercase;
  }
}
.rc-dialog-backdrop {
  background-color: rgba($rc-theme-black, 0.75);
}
.rc-no-grid-gutter { margin: -16px;}
.rc-hide { display: none; }
.rc-accent { background-color: $rc-theme-secondary !important;}
.rc-centre { text-align: center; }
.rc-space-filler { flex: 1 1 auto; }
.rc-flex-spaced {
  display: flex;
  justify-content: space-between;
}
.rc-codes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  span {
    display: block;
    text-align: center !important;
  }
}
.rc-invisible { visibility: hidden; }
.rc-full-width { width: 100%; }
.rc-half-width { width: calc(50% - 2px);}
.rc-link-active { color: $rc-theme-primary !important; }
.rc-link-like { cursor: pointer; }
.rc-disable {
  filter: saturate(0%);
  opacity: 0.5;
}
a.rc-back {
  display: inline-flex;
  justify-content: flex-start;
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
  margin: 1rem 0;
  transition: all .3s ease-out;
  &:hover {
    color: white;
    .mat-icon {
      position: relative;
      transition: all .3s ease-out;
      transform: translateX(-8px);
    }
  }
}
.rc-txt-small {
  font-size: 14px !important;
  line-height: 1.3;
}
.rc-mat-snack-warn,
.rc-mat-snack-info{
  color: black;
  background-color: $rc-theme-primary;
  .mat-simple-snackbar,
  .mat-simple-snackbar-action {
    color: black;
    font-size: 14px;
    line-height: 22px;
    button {
      font-size: 16px;
    }
  }
}
.rc-mat-snack-info {
  background-color: black;
  .mat-simple-snackbar,
  .mat-simple-snackbar-action {
    color: white;
  }
}
.rc-active {
  cursor: pointer;
  &:hover { background: #eee; }
}
.rc-success { color: $rc-theme-success !important; }
.rc-highlight { color: $rc-theme-primary }
.rc-warn { color: $rc-theme-warn; }
.rc-media-small-hide { display: none !important; }
.rc-media-med { display: block !important; }
.rc-layout-table {
  border: 0;
  margin: 0 0 24px;
  td:first-child { font-weight: bold; padding-right:24px;}
}
.agm-map { height: 300px; }
.rc-loader-white {
  .rc-spinner div { background-color: white !important;
  }
}

@media screen and ( min-width : 600px ){
  .rc-media-small-hide { display: block !important; }
  .rc-media-med { display: none !important; }
  .rc-codes { flex-direction: row;}
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {}

/**
* Maintain aspect ratio of images
* -------------------------------
**/

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

/**
* MAT Overrides
* -------------------------------
**/

.mdc-layout-grid { max-width: $rc-max-width; }
.mat-toolbar,
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: $rc-toolbar-height-std !important;
  font: 400 18px/24px $rc-default-font;
}
.mat-toolbar-fixed-adjust { margin-top: $rc-toolbar-height-std;}
.mat-tooltip { font: $rc-default-font-weight 12px/16px $rc-default-font; }
.mat-hint,
.mat-input-underline {
  color: $rc-theme-black;
  border-width: 4px;
  border-color: $rc-theme-black;
}
.mat-radio-label,
.mat-form-field-prefix { margin-right: 8px; }
.mat-form-field { line-height: 1.4; }
.mat-card-title { font-size: 20px; }
.mat-form-field > .mat-chip { background-color: $rc-theme-secondary; }
.mat-dialog-container { border-radius: 8px !important; }
.rc-preview-dialog-container .mat-dialog-container {
  padding: 0;
  border-radius: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.rc-preview-backdrop {
  background-color: #000;
  opacity: 0.7;
}
.mat-card-header-text { margin: 0 !important; }
.mat-card-content h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 12px 0 8px;
  background-color: $rc-theme-grey;
  padding: 4px 8px;
  font-size: 12px;
}
.mat-simple-snackbar-action { color: white; }
a.mat-menu-item {text-decoration: none;}

/**
* RC layouts
* -------------------------------
**/

.rc-about {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  position: relative;

  .rc-close {
    position: absolute;
    top: -8px; right: -8px;
    z-index: 100;
  }
  img {
    width:120px;
    height: auto;
  }
  h3 {
    text-align: center;
    font-size: 16px;
    margin: 0 auto 8px;
  }
  a { font-weight: bold; color: inherit; }
}
.rc-footer {
  margin-top: 0;
  padding: 24px 0 24px 0;
  min-height: 160px;
  background: $rc-theme-black;
  color: #fff;
  a {
    opacity: 1;
    transition: opacity .3s ease-out;
    &:hover { opacity: .75; }
  }
  img {
    height: 80px;
    margin: 0 24px;
  }

  .mdc-layout-grid__cell { text-align: center; }

  .rc-navlist {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: color .3s ease-out;
      &:hover {
        color: $rc-theme-primary;
      }
    }
    &.rc-selected { color: $rc-theme-primary; }
  }
}
.rc-footer-min {
  background: $rc-theme-bgd;
  display: flex;
  flex-direction: column;
  padding: 24px 48px;
  justify-content: center;
  align-items: center;
  a:first-child {
    display: inline-block;
    height: 56px;
    margin-bottom: 8px;
  }
  img {
    height: 100%;
    width: auto;
  }
  p {
    margin: 0;
    font-size: 12px;
  }
}
/**
* Sign in / Register
* ------------------------------------------ */

// Default logo
.rc-svg-logo {
  width: 260px;
  margin: 0 0 1rem;
  .rc-svg-logo-group {
    fill: white;
    .rc-svg-logo-circles {
      opacity: .4;
    }
    .rc-svg-logo-text {}
  }
  &.rc-logo-footer {
    width: 100px;
    .rc-svg-logo-group {
      fill: grey;
      .rc-svg-logo-circles {
        opacity: .5;
      }
    }
  }
}

.rc-layout-split-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .rc-layout-split-left,
  .rc-layout-split-right {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
  }
  .rc-layout-split-left {
    background-color: $rc-theme-dkgrey;
    color: #ddd;
  }
  .rc-layout-split-content {
    max-width: 420px;
    margin: 0;
    .rc-logo {
      display: block;
      margin: 0 0 2em;
    }
    h1 {
      font-weight: 300;
      line-height: 1.1;
    }
    p {
      // text-align: justify;
      font-weight: 300;
      font-size: 18px;
    }
    .rc-form-msg {
      margin: 0 0 1rem;
      p { font-size: 16px; }
    }
    // suppress the number spinners
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .rc-subscription {
      margin: 1rem 0;
      border: 2px solid #ddd;
      padding: 10px 8px;
      border-radius: 5px;
      transition: all .2s ease-out;

      h2 {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0 0 16px;
        padding: 0;
        line-height: 1;
        color: $rc-theme-primary;
      }


    }
    .rc-join-form {
      background-color: white;

      .mat-form-field {
        width: 100%;
      }

    }
    button {
      width: 100%;
      margin: 0 0;
      line-height: 56px;
      border-radius: 4px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: $rc-default-font-weight;
    }
  }
  $circle: 56px;
  ol {
    counter-reset: rc-counter;
    list-style: none;
    margin: 24px 0 16px;
    padding-left: 8px;
  }
  ol li {
    position: relative;
    padding: 18px 0  18px $circle;
    font: $rc-default-font-weight 18px/1.25 $rc-default-font;
  }
  ol li:before {
    content: counter(rc-counter);
    counter-increment: rc-counter;
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    font: 500 24px/1 $rc-default-font;
    background: rgba(255, 255, 255, .1);
    border-radius: 50%;
    height: $circle;
    width: $circle;
    color: #fff;
    line-height: $circle;
    text-align: center;
  }
}
@media screen and ( min-width : 768px ){
  .rc-layout-split-container {
    flex-direction: row;

    .rc-layout-split-left {
      width: 50vw;
      justify-content: center;
      align-items: flex-end;
      padding: 5%;
    }
    .rc-layout-split-right {
      width: 50vw;
      justify-content: center;
      align-items: flex-start;
      padding: 5%;
    }

  }
}

//@media screen and ( min-width : 768px ){
//  .rc-join {
//    flex-direction: row;
//    .rc-join-info-container, .rc-join-form {
//      min-height: 100vh;
//    }
//    .rc-join-info-container {
//      width: 50%;
//      &.rc-options {
//        align-items: flex-end;
//        padding: 48px;
//      }
//
//    }
//    .rc-join-form {
//      width: 50%;
//      &.rc-options {
//        align-items: flex-start;
//        padding: 5vh;
//      }
//    }
//  }
//}

//.rc-join {
//  box-sizing: border-box;
//  display: flex;
//  flex-direction: column;
//  .rc-join-info-container,
//  .rc-join-form {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//    width: 100%;
//    min-height: 0;
//    h1 {
//      font-size: 32px;
//      font-weight: $rc-default-font-weight;
//      margin: 0 0 0;
//    }
//    h1 + span {
//      display: inline-block;
//      margin: 0 0 24px;
//    }
//  }
//  .rc-join-info-container {
//    position: relative;
//    background-color: #00BCD3;
//    color: black;
//    font-size: 18px;
//    &.rc-bgd {
//      background-color: $rc-theme-primary;
//      color: white;
//    }
//    &.rc-options {
//
//      background-color: #454550;
//      p {
//        color: #ddd;
//      }
//    }
//
//    .rc-join-info {
//      max-width: 480px;
//      padding: 1vh 24px 5vh;
//      span { display: block;}
//      img {
//        margin: 2rem 0;
//      }
//      h1 {
//        margin: 0 0 1rem;
//        line-height: 1.1;
//        color: white;
//      }
//      p {
//        font-size: 18px;
//        line-height: 1.3;
//        font-weight: 300;
//        text-align: justify;
//      }
//    }
//    .rc-join-welcome {
//      padding: 48px;
//      max-width: 600px;
//      .rc-brand-logo {
//        height: 90px;
//        margin-bottom: 16px;
//      }
//      ol {
//        counter-reset: rc-counter;
//        list-style: none;
//        margin: 24px 0 16px;
//        padding-left: 8px;
//      }
//      ol li {
//        position: relative;
//        padding: 8px 0  8px 48px;
//        font: $rc-default-font-weight 16px/1.25 $rc-default-font;
//      }
//      ol li:before {
//        content: counter(rc-counter);
//        counter-increment: rc-counter;
//        position: absolute;
//        left: 0;
//        top: 50%;
//        transform: translateY(-50%);
//        font: bold 24px/1 $rc-default-font;
//        background: white;
//        border-radius: 50%;
//        height: 36px;
//        width: 36px;
//        color: #000;
//        line-height: 36px;
//        text-align: center;
//      }
//    }
//  }
//
//  .rc-join-form {
//    background-color: white;
//    &.rc-options {
//      align-items: center;
//      padding: 24px;
//    }
//    form,
//    > div {
//      max-width: 400px;
//      padding: 48px;
//    }
//    .mat-form-field {
//      width: 100%;
//    }
//    button {
//      width: 100%;
//      margin: 24px 0 8px;
//      line-height: 64px;
//      border-radius: 4px;
//      text-transform: uppercase;
//      letter-spacing: 2px;
//      font-weight: $rc-default-font-weight;
//    }
//  }
//}
.mat-toolbar {
  background-color: $rc-theme-primary;
  color: white;
  .rc-toolbar-actions {
    .mat-icon {
      font-size: 28px;
      width: 29px;
      height: 29px;
      line-height: 28px !important;
    }
  }
  &.rc-toolbar-nav {
    background-color: $rc-theme-accent;
  }
  &.rc-toolbar-section {
    background-color: $rc-theme-secondary;
    color: black;
    text-transform: uppercase;
  }
  &.rc-toolbar-fixed {
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
  }
}
.rc-section-toolbar {
  background-color: $rc-theme-black;
  color: white;
  height:56px;
  font-weight: $rc-default-font-weight;
  &.mat-toolbar { min-height: $rc-toolbar-height-std; }
  .rc-section-toolbar-title { transition: all .3s ease-in-out;}
  .rc-section-toolbar-actions {
    display: flex;
    flex-direction: row;
  }
}



/**
* RC Cards
* -------------------------------
**/

.rc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  .rc-card-help {
    position: absolute;
    top:16px; right: 16px;
  }
  .rc-card-img {
    width: calc(100% + 32px);
    margin: 0 0 0 -16px;
    height: auto;
    overflow: hidden;
  }
}
.rc-card-help {
  position: absolute;
  top: 0; right: 0;
  z-index: 10;
  background-color: white;
}
.rc-image-card {
  position: relative;
  box-sizing: border-box;
  background: white;
  width: 100%;
  transition: all .3s ease-out;
  &:hover { @include mat-elevation(6); }
  img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .rc-card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:4px 12px 8px 12px;
  }
}
.rc-element-tag {
  position: absolute;
  z-index: 5;
  top: 24px;
  left: 24px;
}
.rc-online { background-color: $rc-theme-success !important; }
.rc-action-left {
  text-align: left;
  float: left;
}
.rc-card-restaurant {
  position: relative;
  background-color: white;
  transition: all .3s ease-in-out;
  &:hover {
    @include mat-elevation(6);
  }
  .rc-card-restaurant-nav {
    position: absolute;
    bottom: 0;
    height: 48px;
    width: calc(100%);
    display: flex;
  }
  .rc-card-img-wrapper {}
  img {
    height: auto;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .rc-card-restaurant-content {
    cursor: pointer;
    padding: 0 16px 0;
    margin-bottom: 48px;
    &:focus { outline: none; }
    h2 { margin: 8px 0 0; }
    span {
      &:after { content: ', '; }
    }
  }
  .rc-card-restaurant-actions {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 0;
    right: 0; left: 0;
    margin: 16px 4px 4px !important;
  }
}

/**
* RC Modals & Dialogs
* -------------------------------
**/

.rc-dialog {
  position: relative;
  padding: 0;
  max-width: 960px;

  .mat-dialog-title {
    font: 500 24px/36px $rc-default-font;
  }

  &.rc-dialog-med {
    max-width: 600px;
  }

  &.rc-dialog-small {
    max-width: 400px;
  }

  /** Dashboard messages **/
  .rc-message {
    margin: 8px 0 4px;
    padding: 0 8px 8px;
    border-bottom: 1px solid $rc-theme-grey;
    &:first-child { margin-top: 16px; }
    h2, h3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding:0;
      .mat-icon { margin-right: 4px; }
    }
    p {
      padding:0;
      margin:0;
    }
  }
  .rc-message-important {
    h2, h3 {
      color: $rc-theme-primary;
      .mat-icon { color: $rc-theme-primary; }
    }
  }
}
.rc-dialog-image-upload {
  label.image-select {
    display: block;
    position: relative;
    cursor: pointer;
    //padding-top: 8px;
    .image-select-label {
      position: absolute;
      bottom:0;
      z-index: 10;
      width: calc(100% - 16px);
      background-color: rgba(0,0,0,.5);
      color: white;
      padding: 8px;
      text-align: center;
      font: 500 12px/16px $rc-default-font;
    }
  }
  .image-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    background: #eee;
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      text-align: center;
    }
  }
}
.rc-dialog-help {
  .mat-dialog-content {
    padding-top: 16px;
  }
}
.rc-dialog-alert {
  padding-bottom: 8px;
  max-width: 480px;
  h1 {
    text-transform: uppercase;
    padding: 0 0 8px;
    //border-bottom: 1px solid #212121;
    font: 500 20px/24px $rc-default-font;
  }
  .mat-stroked-button {
    border-color: $rc-theme-success;
  }
}
.rc-dialog-member {
  position: relative;
  max-width: 400px !important;
  .mat-dialog-container { padding: 0; }
  .rc-close {
    position: absolute;
    top: 0; right: 0;
    z-index: 500;
  }
}
.rc-dialog-cms-image {
  width: 68vw;
  header { display: flex; }
  .image-wrapper {
    position: relative;
    padding: 0 16px 0;
  }
}
.rc-dialog-cms-image-upload {
  width: 68vw;
  max-width: 480px;
  label {
    text-transform: capitalize;
    font-size: 16px;
  }

}
.rc-dialog-spw-preview {
  border: 0;
  padding: 0;
  margin: 0;
  width: 80vw;
  height: 80vh;
}

.rc-file-input-hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.rc-file-input-wrapper {
  display: flex;
  justify-content: center;
  margin:8px auto;
}
.rc-file-input-label {
  cursor: pointer;
  //background: $rc-theme-black;
  color: $rc-theme-text;
  display: flex;
  line-height: 1.5;
  padding: 8px 24px;
  font-size: 24px;
  border-radius: 6px;
  border: 2px solid $rc-theme-grey;
  transition: all .3s ease-out;
  text-align: center;
  text-transform: uppercase;
  mat-icon { margin-right: 8px; }
  &:hover {
    border-color: $rc-theme-black;
    color: $rc-theme-black;
  }
}

.rc-card-vspacer { height: 16px; }
.rc-card-vspacer-lg { height: 32px; }
.rc-form-btns { text-align: center; }
.rc-member { background-color: $rc-theme-success !important; }
.rc-invited { background-color: $rc-theme-black !important; }
.rc-prospect { background-color: $rc-theme-grey !important; }

.rc-card-keystat {
  display: block;
  font-size: 60px;
  color: $rc-theme-primary;
  text-align: center;
  line-height: 1;
}
.rc-card-label {
  display: block;
  text-transform: uppercase;
  font-weight: $rc-default-font-weight;
  letter-spacing: .1em;
  font-size: 11px;
  //color: $rc-theme-primary;
}
.rc-card-stat { mat-icon { margin-right: 16px; } }
.rc-chart {
  transition: height .3s ease-out;
  width: 100%;
  min-height: 200px;
  text-align: center;
  overflow: hidden;
  rc-loader.loader-container { height: 100%; }
}
.rc-sub-chart {
  width: 100%;
  min-height: 160px;
  text-align: center;
}
.rc-add-card {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

ul.rc-lookup-results {
  margin: 0 0 0;
  padding:0;
  li {
    list-style: none;
    margin: 0;
    a {
      display: flex;
      line-height: 48px;
      padding:0 16px;
      transition: all .3s ease-out;
      color: $rc-theme-black;
      text-decoration: none;
      &:hover {
        color: $rc-theme-primary;
        background-color: #eee;
        span:last-child { opacity: 1; }
      }
      span:last-child { opacity: 0; }
    }
  }
}
.mat-nav-list.rc-lookup {
  font-size: 14px;
  a {
    position: relative;
    padding: 4px 0;
    mat-icon {
      display: none;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:hover {
      mat-icon { display: inline-block; }
    }
  }
}
.rc-lookup-request{
  margin: 1rem 0 0;
  padding: 16px;
  background-color: #eee;
  h2 { margin: 0 0 1rem; }
}
.rc-lookup-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  button { margin-left: 4px; }
}

/**
* CMS
* -------------------------------
**/
.rc-cms {
  padding-top: ($rc-toolbar-height-std);
  .rc-cms-base {
    dd { font-size: 24px; }
  }
  .rc-card { padding: 16px; }
  dl { margin: 24px 0 0 0; }
  dt {
    text-transform: uppercase;
    font-size: 12px;
    color: $rc-theme-primary;
    &:after { content: ":"; }
  }
  dd {
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    font-size: 18px;
    a {
      color: inherit;
      &:hover { color: $rc-theme-primary; }
    }
  }
  span { display: block; }
  .rc-cms-info {
    background: rgba($rc-theme-secondary, .25);
    padding: 16px;
    transition: all 300ms ease-in-out;
    max-height: 1000px;
    header {
      display: flex;
      h2 {
        color: inherit;
        font-size: 24px;
        font-weight: $rc-default-font-weight;
        padding: 0;
        margin: 0;
      }
      .rc-cms-close {}
    }
    p {
      margin:8px 0;
      color: inherit;
    }
  }
  .rc-cms-info-actions {
    button { text-transform: uppercase; }
  }
}
.rc-cms-card-nav {
  position: absolute !important;
  top: 20px;
  right: 8px;
}
.rc-cms-card-core {
  .mat-card-image {
    margin: 0 0 16px -8px;
  }
}
.rc-cms-social {
  margin: 0;
  padding: 0;
  li {
    margin: 8px 8px 0 0;
    padding: 0;
    display: inline-block;
    img { width: 36px; }
    a {
      opacity: 0.8;
      transition: opacity ease-in-out .3s;
      &:hover { opacity: 1; }
    }
  }
}
.rc-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:2px; right: 2px;
  z-index: 500;
  background: $rc-theme-secondary;
  color: black;
  font-size: 10px;
  font-weight: $rc-display-font-weight;
  line-height: 10px;
  border-radius: 50%;
  width:18px;
  height: 18px;
}
.rc-member-status {
  position: relative;
  p { margin: 16px auto 0; }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      margin: 8px 36px 8px 8px;
      font-size: 20px;
      line-height: 1;
      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
    }
    .mat-icon.assc-member,
    .mat-icon.full-member{
      padding: 8px !important;
      color: white;
      border-radius: 50%;
      background-color: $rc-theme-success;
    }
    .mat-icon.assc-member { background-color: $rc-theme-tertiary; }
  }
}
.rc-member-assc,
.rc-member-full {
  border-radius: 4px;
  border: 2px solid $rc-theme-secondary;
  .rc-benefits {
    .mat-list-item:nth-child(odd) { background: rgba($rc-theme-secondary, .25); }
    &.mat-list { padding-top: 0; }
  }
}
.rc-member-full {
  header {
    padding: 16px;
    display: flex;
    flex-direction: row;
    h1 {
      font: 500 24px/24px $rc-default-font-weight;
      margin: 8px;
    }
    .mat-icon.assc-member {
      padding: 12px !important;
      color: white;
      border-radius: 50%;
      background-color: $rc-theme-success;
    }
  }
}
.rc-member-actns {
  button {
    background: $rc-theme-success;
    height: 56px;
    font-size: 16px;
  }
}
.rc-member-profile {
  box-sizing: border-box;
  background: white;
  padding: 8px;

  img {
    width: 100%;
    height: auto;
  }

  span {
    display: flex;
    line-height: 24px;
    font-size: 18px;
    border-bottom: 1px dotted $rc-theme-black;
    padding: 8px 4px;
    mat-icon { margin-right: 8px; }
  }

  h1, h2, h3 { margin: 0; }
  h2 {
    color: $rc-theme-primary;
    font-weight: $rc-display-font-weight;
    padding: 0;
  }
}
.rc-add-content {
  margin-right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  cursor: pointer;
  color: #999;
  padding: 48px;
  transition: all .3s ease-in-out;
  &:hover { @include mat-elevation(6); }
  .mat-icon {
    height: 48px;
    width: 48px;
    font-size: 48px;
  }

  .rc-add-content-label {
    font-size: 24px;
    text-align: center;
  }
  &:hover {
    color: $rc-theme-black;
    border-color: $rc-theme-black;
  }
}

button.rc-member-full,
button.rc-member-assc {
  position: absolute !important;
  top: 16px; left: 16px;
  z-index: 10;
  background-color: $rc-theme-success;
  color: white;
}
button.rc-member-assc {
  background-color: $rc-theme-tertiary;
  color: white;
}

.rc-cms-dash-info {
  transition: all .3s ease-out;
  .mat-card-title {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .mat-card-content { margin-bottom: 8px; }
}
.rc-content-status {
  padding-bottom: 24px;

  mat-list-item {
    cursor: pointer;
    .mat-list-item-content { padding: 4px 0 !important;}
    h3 { transition: color .3s ease; }
    &:hover {
      h3 { color: $rc-theme-primary; }
    }
  }
  mat-icon { background-color: black; }
  .mat-progress-bar-fill {
    &:after { background-color:  $rc-theme-tertiary; }
  }
  .mat-progress-bar-fill {
    &:after { background-color: $rc-theme-success; }
  }
  .rc-content-status-complete {
    mat-icon { background-color: $rc-theme-success; }
    .mat-progress-bar-fill {
      &:after { background-color: $rc-theme-success; }
    }
  }
  .rc-content-status-partial {
    mat-icon { background-color: $rc-theme-tertiary; }
    .mat-progress-bar-fill {
      &:after { background-color:  $rc-theme-tertiary; }
    }
  }
  .rc-content-status-missing {
    mat-icon { background-color: black; }
    .mat-progress-bar-fill {
      &:after { background-color:  $rc-theme-tertiary; }
    }
  }

  mat-icon {
    padding: 8px !important;
    color: white;
    background-color: black;
  }
  .mat-progress-bar {
    height: 6px;
    margin-top: 6px !important;
  }

  .mat-progress-bar-buffer { background-color: #ddd; }
  p[matLine] > span {
    margin-top: 4px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: right;
  }
}

.rc-cms-times {
  .mat-checkbox-label {
    font-size: 16px;
    color: $rc-theme-black;
  }
  .rc-day-closed {
    .mat-checkbox-label { color: grey; }
  }
  .rc-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .rc-session-time {
      width: 40%;
    }
    a.rc-del-session {
      width: 5%;
      text-align: right;
    }
  }
}

// CMS Menus
.rc-content-panel {
  padding: 16px;
  background-color: white;
}
.rc-cms-menu-info {}
.rc-cms-menu-section {
  padding: 16px 16px 24px;
  background-color: $rc-theme-grey;
  margin-bottom: 16px;
  input.mat-input-element {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
  }

}

.rc-cms-menu-download {



  padding: 16px !important;
  transition: all .3s ease-out;
  &:hover { @include mat-elevation(6); }
  h2 {
    margin: 0 auto 0 0;
    padding: 0;
    font: 400 16px/24px $rc-default-font;
    text-transform: uppercase;
    line-height: 1.25;
    color: black;
  }
  p {
    font-size: .9rem;
    line-height: 1.25;
    color: $rc-theme-text;
    padding-top: .2rem;
  }
  .rc-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    .mat-checkbox {
      // adjusty positioning to align with button
      margin: 0 14px 0 0;
    }
  }

}
.rc-cms-menu-download,
.rc-cms-menu-dish {
  background-color: white;
  cursor: pointer;
  margin: 0 16px 16px 0;
  padding: 16px !important;

  transition: all .3s ease-out;
}
.rc-cms-menu-dish {


  h3 {
    display: inline;
    span {
      display: inline;
      margin-left: 4px;
    }
  }
  &:hover {
    @include mat-elevation(6);
    h3 {
      color: $rc-theme-primary;
    }
  }
  h2 {
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 8px;
    padding: 0 0 4px;
    letter-spacing: 1px;
    color: $rc-theme-text;
  }
  .rc-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0;
  }
}
.rc-dish-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;

  h3 {
    margin: 0 auto 0 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25;
    flex: 70%;
    color: black;
    span.rc-dish-attribute {
      margin-left: 4px;
    }
  }
  // menu item price
  span:nth-child(2) {
    font-weight: $rc-display-font-weight;
    font-size: 1rem;
    line-height: 1.25;
    margin-left: auto;
    flex: 30%;
    align-content: start;
    text-align: right;
    color: black;

  }
  // menu item desc
  span:nth-child(3) {
    font-size: .9rem;
    line-height: 1.25;
    flex: 100%;
    color: $rc-theme-text;
    padding-top: .2rem;
    text-transform: none;
  }
}

.rc-affiliate-offer-card {
  position: relative;
  .mat-card-actions {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 24px;
    left:24px;
    width: calc(100% - 32px);
  }
  .mat-card-image {}
  .mat-card-title {
    font-size: 36px;
    line-height: 1;
  }
  p { margin: 4px 0; }
  dl {
    padding-bottom: 48px;
    dt { color: $rc-theme-black; }
    dd {
      font-size: 16px;
      a {
        color: $rc-theme-primary;
        &:hover { text-decoration: underline; }
      }
    }
    dd:first-of-type {
      font-size: 24px;
      margin-bottom: 0;
    }
  }
  .rc-btn-offer {
    height: 56px;
    width: 100%;
    font-size: 18px;
  }
}

/*
** Financial & Statistical
** ---------------------------------
*/

.rc-fs-input {
  form {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input { font-size: 24px; }
    span { font-size: inherit; }
    label { text-transform: uppercase; }
    dl { margin: 8px 0 8px 24px; }
    dt { }
    dd {
      margin: 0;
      padding: 0 0 8px 0;
      font-size: 12px;
    }
    .mat-input-subscript-wrapper {
      font-size: 11px !important;
      margin-top: 0 !important;
    }
  }
  header {
    margin-top: 24px;
    padding: 24px 0 12px;
    background: white;
    mat-toolbar {
      background-color: #fff;
      mat-icon { margin-right: 8px; }
    }
    .mat-button-toggle-group,
    .mat-button-toggle-standalone { box-shadow: none; }
  }
  section {
    background: #fff;
    margin-top: 24px;
    padding: 16px;
    @include mat-elevation(2);
    &:last-child { margin-bottom: 48px; }
  }
  .rc-toolbar-fs {
    $toolbar-height: 48px;
    height:$toolbar-height;
    background-color: $rc-theme-black;
    color: #fff;
    &.mat-toolbar { min-height: $toolbar-height; }
    mat-toolbar-row { height: $toolbar-height; }
    margin-bottom: 16px;
    mat-icon { margin-right: 16px; }
    .mat-select-trigger { font-size: 24px; }
  }
  .mdc-layout-grid { max-width: 640px; }
}
.rc-fs-graph-toolbar {
  background-color: white;
  padding-left: 0;
  margin-bottom: 16px;
  .mat-button-toggle-group,
  .mat-button-toggle-standalone { box-shadow: none; }
}
.rc-fs-graphlet {
  cursor: pointer;
  transition: all .3s ease-out;
  &:hover { @include mat-elevation(4); }
}
.rc-fs-graph-card.mat-card-title { display: flex !important; }
.rc-dg-graph-card.mat-card-title {
  display: flex !important;
  font-size: 20px;
}
.rc-card-toggle {
  font-size: 12px;
  text-transform: uppercase;
  .mat-button-toggle-checked {
    background-color: $rc-theme-primary;
    color: white;
  }
}
