<div class="rc-dialog rc-dialog-small">

  <h1 mat-dialog-title>
    {{ 'Password.Header' | translate }}
  </h1>

  <form #pwdUpdateForm="ngForm" novalidate (ngSubmit)="pwdUpdateForm.form.valid && onPwdSubmit(pwdUpdateForm.form.value)">

    <mat-dialog-content>

      <mat-form-field class="rc-full-width">
        <mat-label>{{ 'Password.Current' | translate }}</mat-label>
        <input
          name="old_pwd"
          type="password"
          matInput
          ngModel
          required>
        <mat-error align="end">{{ 'Password.Required' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="rc-full-width">
        <mat-label>{{ 'Password.New' | translate }}</mat-label>
        <input
          name="new_pwd"
          type="password"
          matInput
          ngModel
          required
          minlength="8"
          pwdMatch="confirm_new_pwd" reverse="true">
        <mat-error align="end">{{ 'Password.MustBe8' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="rc-full-width">
        <mat-label>{{ 'Password.Confirm' | translate }}</mat-label>
        <input
          name="confirm_new_pwd"
          type="password"
          matInput
          ngModel
          required
          pwdMatch="new_pwd">
        <mat-error align="end">{{ 'Password.NoMatch' | translate }}</mat-error>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button
        type="button"
        mat-dialog-close
        mat-button
        [disabled]="isSubmitting">
        {{ 'Password.Cancel' | translate }}
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="isSubmitting || !loginForm.form.valid">
        {{ 'Password.Update' | translate }}
      </button>

    </mat-dialog-actions>


  </form>
</div>
