<div class="rc-dialog rc-dialog-small">

  <h1 mat-dialog-title>{{ 'Profile-Detail.UpdateProfile' | translate }}</h1>

  <form #formProfile="ngForm" (ngSubmit)="formProfile.valid && onProfileUpdate(formProfile.value)">
    <mat-dialog-content>
      <section>
        <div>
          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'Profile-Detail.FullName' | translate }}</mat-label>
            <input
              name="member_fullname"
              matInput
              [(ngModel)]="member_full_name"
              required>
            <mat-hint align="end">{{ 'Profile-Detail.Names' | translate }}</mat-hint>
            <mat-error align="end">{{ 'Profile-Detail.Required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'Profile-Detail.Email' | translate }}</mat-label>
            <input
              name="member_email"
              matInput
              [(ngModel)]="member.member_email"
              required
              email>
            <mat-error align="end">{{ 'Profile-Detail.ValidEmail' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'Profile-Detail.JobTitle' | translate }}</mat-label>
            <input
              name="member_job"
              matInput
              ngModel
              [(ngModel)]="member.member_job"
              required>
            <mat-hint align="end">{{ 'Profile-Detail.Job' | translate }}</mat-hint>
            <mat-error align="end">{{ 'Profile-Detail.Required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'Profile-Detail.Group' | translate }}</mat-label>
            <input
              name="member_restaurant_group"
              matInput
              ngModel
              [(ngModel)]="member.member_restaurant_group">
            <mat-hint align="end">{{ 'Profile-Detail.Company' | translate }}</mat-hint>
            <mat-error align="end">{{ 'Profile-Detail.Required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'Profile-Detail.Mobile' | translate }}</mat-label>
            <input
              name="member_telephone"
              type="text"
              matInput
              #tel="ngModel"
              [(ngModel)]="member.member_telephone"
              minlength="11"
              pattern="^[0-9 ]+$"
              required>
            <mat-error align="end">{{ 'Profile-Detail.InvalidMobile' | translate }}</mat-error>
          </mat-form-field>

        </div>
      </section>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button
        type="button"
        mat-dialog-close
        mat-button
        [disabled]="isSubmitting">
        {{ 'Profile-Detail.Cancel' | translate }}
      </button>

      <button
        mat-flat-button
        color="primary"
        [disabled]="isSubmitting || !formProfile.form.valid">
        {{ 'Profile-Detail.Update' | translate }}
      </button>

    </mat-dialog-actions>

  </form>

</div>

