<div class="rc-dialog rc-dialog-image-upload">

  <h1 mat-dialog-title>{{ 'Profile-Image.ProfileImage' | translate }}</h1>

  <mat-dialog-content>

    <div>

      <form>
        <label class="image-select" for="imgUpload">
          <div class="image-container" style="--aspect-ratio:1/1;">
            <img id="imgPreview" [src]="imgPreviewSrc" alt="Preview Image">
          </div>
          <div class="image-select-label">
            <span  *ngIf="!inProgress">{{ 'Profile-Image.SelectImage' | translate }}</span>
            <span *ngIf="inProgress">{{ 'Profile-Image.LoadingImage' | translate }}</span>
          </div>
        </label>

        <input
          type="file"
          id="imgUpload"
          class="rc-hide"
          #fileInput
          ng2FileSelect
          [uploader]="uploader"
          (change)="inProgress = true"
          multiple />
      </form>

      <mat-progress-bar *ngIf="inProgress" color="primary" [value]="uploader?.progress"></mat-progress-bar>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button
      mat-button
      mat-dialog-close>
      {{ 'Profile-Image.Cancel' | translate }}
    </button>
    <button
      mat-button
      color="warn"
      (click)="deleteImage()"
      [disabled]="inProgress">
      {{ 'Profile-Image.Delete' | translate }}
    </button>
    <button
      mat-raised-button
      (click)="updateImage()"
      color="primary"
      [disabled]="!imgPrimed">
      {{ 'Profile-Image.Update' | translate }}
    </button>
  </mat-dialog-actions>

</div>
