<div class="rc-dialog rc-dialog-med">

  <h1 mat-dialog-title>
    {{ 'Referrals.Send' | translate }}
  </h1>

    <mat-dialog-content>

      <table class="rc-layout-table">
        <tr>
          <td>{{ 'Referrals.Code' | translate }}</td>
          <td>
            <a
              mat-dialog-close="code"
              matTooltip="{{ 'Referrals.CopyCode' | translate }}">
              {{ data.member.member_promo_code }}
            </a>
          </td>
        </tr>
        <tr>
          <td>{{ 'Referrals.Link' | translate }}</td>
          <td>
            <a
              mat-dialog-close="link"
              matTooltip="{{ 'Referrals.CopyLink' | translate }}">
              {{ data.joinUrl }}
            </a>
          </td>
        </tr>
      </table>

      <p>{{ 'Referrals.Text1' | translate }}</p>
      <p>{{ 'Referrals.Text2' | translate }} <strong>{{ 'Referrals.Email' | translate }}</strong>,
        <strong>{{ 'Referrals.SMS' | translate }}</strong>, <strong>{{ 'Referrals.WA' | translate }}
      </strong>{{ 'Referrals.Social' | translate }}</p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button
        type="button"
        mat-dialog-close
        mat-button>
        {{ 'Password.Cancel' | translate }}
      </button>

      <button
        mat-flat-button
        mat-dialog-close="link"
        matTooltip="{{ 'Referrals.RefLink' | translate }}"
        color="primary">
        {{ 'Referrals.CopyLinkButton' | translate }}
      </button>

    </mat-dialog-actions>

</div>
