<div class="rc-dialog rc-dialog-med">

  <h1 mat-dialog-title>
    {{ 'SETTINGS.referral.headerReferral' | translate }}
  </h1>

    <mat-dialog-content>

      <table class="rc-layout-table">
        <tr>
          <td>{{ 'SETTINGS.referral.labelCode' | translate }}</td>
          <td>
            <a
              mat-dialog-close="code"
              matTooltip="{{ 'SETTINGS.referral.tipCopyCode' | translate }}">
              {{ data.member.member_promo_code }}
            </a>
          </td>
        </tr>
        <tr>
          <td>{{ 'SETTINGS.referral.labelLink' | translate }}</td>
          <td>
            <a
              mat-dialog-close="link"
              matTooltip="{{ 'SETTINGS.referral.tipCopyLink' | translate }}">
              {{ data.joinUrl }}
            </a>
          </td>
        </tr>
      </table>

      <markdown [data]="'SETTINGS.referral.instructions' | translate: { brand: data.brand }"></markdown>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button
        tabindex="-1"
        type="button"
        mat-dialog-close
        mat-button>
        {{ 'SETTINGS.referral.labelBtnCancel' | translate }}
      </button>

      <button
        mat-button
        mat-dialog-close="link"
        color="accent">
        {{ 'SETTINGS.referral.labelBtnCopyLink' | translate }}
      </button>

    </mat-dialog-actions>

</div>
