<div class="rc-dialog rc-dialog-alert">
  <h2 mat-dialog-title>
    {{ txtTitle }}
  </h2>
  <mat-dialog-content markdown>
    {{ txtBody }}
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button *ngIf="data.no" mat-button (click)="confirmCancelDialog.close(false )">
      {{ txtBtnCancel | titlecase }}
    </button>
    <button
      autofocus
      mat-button color="accent" (click)="confirmCancelDialog.close(true )">
      {{ txtBtnConfirm | uppercase }}
    </button>
  </mat-dialog-actions>
  <mat-checkbox *ngIf="data.showCheckbox">{{ txtDontShow }}</mat-checkbox>
</div>
