
<div class="rc-dialog">

  <h1 mat-dialog-title>{{ restaurant.restaurant_name }} - {{ 'Financial.FinancialData' | translate }}</h1>

  <div mat-dialog-content>

    <form (ngSubmit)="financialForm.form.valid" #financialForm="ngForm">

      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">

          <!--<mat-form-field  floatPlaceholder="always" class="rc-full-width">-->
            <!--<input-->
              <!--name="financial_year_end"-->
              <!--type="text"-->
              <!--[placeholder]="'Financial.FYE' | translate"-->
              <!--matInput-->
              <!--#restaurant_name="ngModel"-->
              <!--[(ngModel)]="financial.financial_year_end"-->
              <!--required-->
              <!--pattern="[0-9]"-->
              <!--[disabled]="!editMode">-->
            <!--<mat-hint align="end">{{ 'Financial.FYEhint' | translate }}</mat-hint>-->
          <!--</mat-form-field>-->
          <div>
            <p><br />  </p>
          </div>

          <mat-form-field class="rc-full-width">
            <mat-select
              name="financial_year_end"
              [placeholder]="'Financial.FYE' | translate"
              [(ngModel)]="yearendselection"
              (ngModelChange)="setYearEnd($event)">
              <mat-option *ngFor= "let yearend of yearendoptions"
                         [value] = "yearend.label">{{ yearend.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_months"
              type="text"
              [placeholder]="'Financial.MON' | translate"
              matInput
              #financial_months="ngModel"
              [(ngModel)]="financial.financial_months"
              required
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">{{ 'Financial.MONhint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_turnover"
              type="text"
              [placeholder]="'Financial.TUO' | translate"
              matInput
              #financial_turnover="ngModel"
              [(ngModel)]="financial.financial_turnover"
              required
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_gross_profit"
              type="text"
              [placeholder]="'Financial.GPR' | translate"
              matInput
              #financial_gross_profit="ngModel"
              [(ngModel)]="financial.financial_gross_profit"
              required
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_admin_costs"
              type="text"
              [placeholder]="'Financial.ADC' | translate"
              matInput
              #financial_admin_costs="ngModel"
              [(ngModel)]="financial.financial_admin_costs"
              required
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_profit_before_tax"
              type="text"
              [placeholder]="'Financial.PBT' | translate"
              matInput
              #financial_profit_before_tax="ngModel"
              [(ngModel)]="financial.financial_profit_before_tax"
              required
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <div>
            <p><br />  </p>
          </div>
          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_exceptions"
              type="text"
              [placeholder]="'Financial.EXP' | translate"
              matInput
              #financial_exceptions="ngModel"
              [(ngModel)]="financial.financial_exceptions"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">{{ 'Financial.EXPhint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_net_assets"
              type="text"
              [placeholder]="'Financial.NAS' | translate"
              matInput
              #financial_net_assets="ngModel"
              [(ngModel)]="financial.financial_net_assets"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_capex"
              type="text"
              [placeholder]="'Financial.CPX' | translate"
              matInput
              #financial_capex="ngModel"
              [(ngModel)]="financial.financial_capex"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_staff_count"
              type="text"
              [placeholder]="'Financial.SFC' | translate"
              matInput
              #financial_staff_count="ngModel"
              [(ngModel)]="financial.financial_staff_count"
              required
              pattern="[0-9]"
              [disabled]="!editMode">
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_annual_wage_bill"
              type="text"
              [placeholder]="'Financial.AWB' | translate"
              matInput
              #financial_annual_wage_bill="ngModel"
              [(ngModel)]="financial.financial_annual_wage_bill"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>

          <mat-form-field floatPlaceholder="always" class="rc-full-width">
              <textarea
                name="notes"
                matInput
                mdTextareaAutosize
                [placeholder]="'Financial.NOT' | translate"
                [(ngModel)]="financial.financial_notes"
                [disabled]="!editMode"></textarea>
          </mat-form-field>

        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <div>
            <p><br />  </p>
          </div>
          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_average_spend"
              type="text"
              [placeholder]="'Financial.AVS' | translate"
              matInput
              #financial_average_spend="ngModel"
              [(ngModel)]="financial.financial_average_spend"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">{{ 'Financial.AVShint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_annual_covers"
              type="text"
              [placeholder]="'Financial.AnnCov' | translate"
              matInput
              #financial_annual_covers="ngModel"
              [(ngModel)]="financial.financial_annual_covers"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">{{ 'Financial.AnnCovhint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_seat_count"
              type="text"
              [placeholder]="'Financial.STC' | translate"
              matInput
              #financial_seat_count="ngModel"
              [(ngModel)]="financial.financial_seat_count"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">{{ 'Financial.STChint' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_property_size"
              type="text"
              [placeholder]="'Financial.PSZ' | translate"
              matInput
              #financial_property_size="ngModel"
              [(ngModel)]="financial.financial_property_size"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">m2</mat-hint>
          </mat-form-field>

          <mat-form-field  floatPlaceholder="always" class="rc-full-width">
            <input
              class="rc-full-width"
              name="financial_property_rent"
              type="text"
              [placeholder]="'Financial.PRT' | translate"
              matInput
              #financial_property_rent="ngModel"
              [(ngModel)]="financial.financial_property_rent"
              pattern="[0-9]"
              [disabled]="!editMode">
            <mat-hint align="end">000s</mat-hint>
          </mat-form-field>

        </div>

      </div>
    </form>

  </div>

  <div mat-dialog-actions align="end">

    <button
      mat-raised-button
      mat-dialog-close
      color="primary">
      CANCEL
    </button>
    <mat-button-toggle (click)="toggleEditMode($event)">
      {{ 'Financial.EDIT' | translate }}
    </mat-button-toggle>
    <a (click)="financialForm.reset()" mat-button>{{ 'Financial.RESET' | translate }}</a>
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      [disabled]="!financialForm.valid"
      [matTooltip]="'Financial.DONEtip' | translate"
      matTooltipPosition="above">
      {{ 'Financial.DONE' | translate }}
    </button>

  </div>

</div>

