
<div class="rc-dialog">

  <h1 mat-dialog-title>{{ restaurant.restaurant_name }} - {{ 'Financial.FinancialData' | translate }}</h1>

  <div mat-dialog-content>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">

        {{ financialslength }} {{ 'Financial.RecordsFound' | translate }}

        <table>
          <tbody>
          <tr *ngFor="let financial of financials; let i = index">
            <div>
              {{ financial.financial_year_end }}
              <!--<a (click)="showFinancial(restaurant.restaurant_id, i)"-->
                 <!--mat-icon-button-->
                 <!--title="Show">-->
                <!--<mat-icon>visibility</mat-icon>-->
              <!--</a>-->
              <a (click)="editFinancial(restaurant.restaurant_id, i)"
                 mat-icon-button
                 title="Show">
                <mat-icon>create</mat-icon>
              </a>
              <a (click)="delFinancial(restaurant.restaurant_id, i)"
                 mat-icon-button
                 title="Show">
                <mat-icon>clear_circle</mat-icon>
              </a>
            </div>
          </tr>
          </tbody>
        </table>
        <div>
          <button
            mat-button
            (click)="addFinancial(restaurant.restaurant_id)"
            color="secondary"
            matTooltipPosition="above">
            {{ 'Financial.ADD' | translate }}
          </button>
        </div>

      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">

        <!--<div>-->
          <!--<button-->
            <!--mat-button-->
            <!--(click)="reviewFinancials(restaurant.restaurant_id)"-->
            <!--color="secondary"-->
            <!--matTooltipPosition="above">-->
            <!--{{ 'Financial.REVIEW' | translate }}-->
          <!--</button>-->
        <!--</div>-->
        <div>
          <p><br />  </p>
        </div>

        <mat-form-field class="rc-full-width">
        <mat-select
          name="financial_graph_selector"
          [placeholder]="'Financial.GraphSelector' | translate"
          [(ngModel)]="graphDataSelection"
          (ngModelChange)="setGraphData($event)">
          <mat-option *ngFor= "let graphoption of graphDataOptions"
                     [value] = "graphoption.value">{{ graphoption.label }}
          </mat-option>
        </mat-select>
        </mat-form-field>

        <mat-card>
          <span class="rc-card-label">{{ line_ChartHeading }}</span>
          <div
            id="line_chart"
            [chartData]="line_ChartData"
            [chartOptions] = "line_ChartOptions"
            chartType = "ColumnChart"
            GoogleChart
            class="rc-chart">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </mat-card>

        <div>
        <button
          mat-button
          (click)="benchmark()"
          color="secondary"
          matTooltipPosition="above">
          {{ 'Financial.BENCHMARK' | translate }}
          </button>
         </div>

      </div>
    </div>
  </div>

  <div mat-dialog-actions align="end">

    <button
      mat-button
      mat-dialog-close
      color="secondary"
      [matTooltip]="'Financial.CLOSEtip' | translate"
      matTooltipPosition="above">
      {{ 'Financial.DONE' | translate }}
    </button>

  </div>

  <!--<button mat-button (click)="getFinancials(restaurant.restaurant_id)">{{ 'Financial.GPRV' | translate }}</button>-->

</div>
