<div class="rc-dialog">

    <mat-dialog-content>

      <h2>{{ restaurant.restaurant_name }}, {{ restaurant.restaurant_address_1 }} {{ restaurant.restaurant_address_2 }} {{ restaurant.restaurant_address_3 }} {{ restaurant.restaurant_post_code }}</h2>


          <agm-map
            [latitude]="maplat"
            [longitude]="maplng"
            [zoom]="zoom">

              <agm-marker
                [latitude]="maplat"
                [longitude]="maplng"
                [title]=restaurant.restaurant_name
                [iconUrl]=restaurant.restaurant_icon>
                <agm-info-window [disableAutoPan]="true">
                  {{ restaurant.restaurant_name }}, {{ restaurant.restaurant_post_code }}, {{ restaurant.restaurant_website }}
                </agm-info-window>
              </agm-marker>
          </agm-map>


    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button
          mat-button
          mat-dialog-close
          color="secondary"
          matTooltip="Close dialog"
          matTooltipPosition="above">
          DONE
      </button>

    </mat-dialog-actions>

</div>
