<div class="mdc-layout-grid rc-section-restaurant-list" >
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

            <div class="rc-search-list-container">
              <mat-icon>search</mat-icon>
              <input
                class="rc-list-search"
                (keyup)="getSubset($event)"
                type="text" [(ngModel)]="search_text"
                [placeholder]="t_search">
            </div>

          </div>

          <mat-card
            #card
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-card-restaurant"
            *ngFor="let restaurant of restaurants; let i = index"
            id="{{ i }}">
            <mat-card-header>
              <mat-card-title><h2 [ngStyle]="{'color': getListStyle(restaurant.restaurant_data_status)}">{{ restaurant.restaurant_name }}</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content class="rc-card-restaurant-content">

              <span *ngIf="restaurant.restaurant_address_1">{{ restaurant?.restaurant_address_1 }}</span>
              <span *ngIf="restaurant.restaurant_address_2">{{ restaurant?.restaurant_address_2 }}</span>
              <span *ngIf="restaurant.restaurant_address_3">{{ restaurant?.restaurant_address_3 }}</span>
              <span>{{ restaurant?.restaurant_post_code }}</span>

            </mat-card-content>

            <mat-card-actions align="end" class="rc-card-restaurant-actions">

              <a
                mat-icon-button
                href="{{ restaurant.restaurant_website }}"
                target="_blank"
                title="Open {{ restaurant.restaurant_website }}">
                <mat-icon>link</mat-icon>
              </a>

              <a
                mat-icon-button
                href="mailto: {{ restaurant.restaurant_email }}"
                target="_blank"
                title="Send email">
                <mat-icon>mail</mat-icon>
              </a>

              <button
                (click)="viewMap(i)"
                mat-icon-button
                title="View location">
                <mat-icon>location_on</mat-icon>
              </button>

              <button
                (click)="viewCard(i, 'edit')"
                mat-icon-button
                title="Edit details">
                <mat-icon>create</mat-icon>
              </button>


            </mat-card-actions>

          </mat-card>


          <!--<div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-4"-->
               <!--*ngFor="let restaurant of restaurants; let i = index">-->
            <!---->
            <!---->

            <!--<div #card id="{{ i }}"-->
                 <!--class="rc-card" (mouseover)="rcToggleClass(card)"-->
                 <!--(click)="openRestaurantCard($event, 'view', card)"-->
                 <!--(mouseout)="rcToggleClass(card)">-->
              <!--<div class="rc-card-content">-->
                <!--<mat-icon class="rc-associate">account_circle</mat-icon>-->
                <!--<h2>{{ restaurant.restaurant_name }}</h2>-->
                <!--<span>{{ restaurant.restaurant_post_code }}</span>-->
              <!--</div>-->
              <!--<div class="rc-card-actions">-->
                <!--<a (click)="openRestaurantCard($event, 'finance', card)"-->
                   <!--mat-icon-button-->
                   <!--title="Enter financial details">-->
                  <!--<mat-icon>euro_symbol</mat-icon>-->
                <!--</a>-->
                <!--<a (click)="openRestaurantCard($event, 'cms', card)"-->
                   <!--mat-icon-button-->
                   <!--title="Enter CMS data">-->
                  <!--<mat-icon>restaurant</mat-icon>-->
                <!--</a>-->
                <!--<a (click)="openRestaurantCard($event, 'map', card)"-->
                   <!--mat-icon-button-->
                   <!--title="View location">-->
                  <!--<mat-icon>location_on</mat-icon>-->
                <!--</a>-->
                <!--<a (click)="openRestaurantCard($event, 'web', card)"-->
                   <!--mat-icon-button-->
                   <!--href="{{ restaurant.restaurant_website }}"-->
                   <!--target="_blank"-->
                   <!--title="Open {{ restaurant.restaurant_website }}">-->
                  <!--<mat-icon>link</mat-icon>-->
                <!--</a>-->
                <!--<a *ngIf="restaurant.restaurant_telephone"-->
                  <!--(click)="openRestaurantCard($event, 'tel', card)"-->
                   <!--mat-icon-button-->
                   <!--href="tel: {{ restaurant.restaurant_telephone }}">-->
                  <!--<mat-icon>phone</mat-icon>-->
                <!--</a>-->
                <!--<a (click)="openRestaurantCard($event, 'mail', card)"-->
                   <!--mat-icon-button-->
                   <!--href="mailto:{{ restaurant.restaurant_email }}"-->
                   <!--title="Send email">-->
                  <!--<mat-icon>mail</mat-icon>-->
                <!--</a>-->
                <!--<a (click)="openRestaurantCard($event, 'edit', card)"-->
                   <!--mat-icon-button-->
                   <!--title="Edit details">-->
                  <!--<mat-icon>create</mat-icon>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>

  </div>
</div>
