
<div class="mdc-layout-grid">

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

    <mat-toolbar class="rc-cms-toolbar">

      <span class="rc-toolbar-title">{{ 'CMS-Menus.MenuInfo' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-section-toolbar-actions">

        <button
          mat-icon-button
          (click)="help.dspHelp('cms-menus-general')">
          <mat-icon>help_outline</mat-icon>
        </button>

        <button
          mat-icon-button [disabled]="!dataChanged"
          (click)="updateDescription(overview)">
          <mat-icon>done</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </div>

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-form-field
      class="rc-full-width"
      floatPlaceholder="never">
          <textarea
            #overview
            matInput
            matTextareaAutosize
            matAutosizeMinRows="3"
            matAutosizeMaxRows="5"
            name="cms_description_menus_overview"
            maxlength="{{ menuOverviewLength }}"
            placeholder="{{ 'CMS-Menus.MenuGenInfo' | translate }} {{ menuOverviewLength }})"
            (keyup)="setChanged()"
            [ngModel]="descriptions?.cms_description_menus_overview">
          </textarea>
      <mat-hint align="end">{{ overview.value.length }}/{{ menuOverviewLength }}</mat-hint>
    </mat-form-field>
  </div>

  <!-- SAMPLE MENU -->
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

    <mat-toolbar class="rc-cms-toolbar">
      <!--<mat-icon>restaurant</mat-icon>-->
      <span class="rc-toolbar-title">{{ 'CMS-Menus.SampleDishes' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-section-toolbar-actions">
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-menus-html')">
          <mat-icon>help_outline</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="addDish()"
          matTooltip="{{ 'CMS-Menus.AddDish' | translate }}">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button
          mat-icon-button [disabled]="!dataChanged"
          (click)="updateSectionName()">
          <mat-icon>done</mat-icon>
        </button>
      </span>
    </mat-toolbar>

    <!--<p>Add a selection of your most popular dishes. We would recommend that you choose a cross-section of your price-->
    <!--range and dishes that best reflect your style of food. You can flag dishes as <strong class="rc-green">VEGETARIAN</strong> or <strong class="rc-blue">GLUTEN-FREE</strong> when you add them.</p>-->
    <p>
      {{ 'CMS-Menus.MenuHelp' | translate }}
      <strong class="rc-green">
        {{ 'CMS-Menus.Vegetarian' | translate }}
      </strong>
      {{ 'CMS-Menus.Or' | translate }}
      <strong class="rc-blue">
        {{ 'CMS-Menus.GlutenFree' | translate }}
      </strong>
      {{ 'CMS-Menus.WhenAdd' | translate }}
    </p>
  <div
    *ngFor="let section of htmlMenu.sections"
    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

    <mat-toolbar class="cms-menu-section">
      <mat-form-field floatPlaceholder="never" class="rc-full-width">
        <input
          [(ngModel)]="section.label"
          name="menuSection{{section.id}}"
          type="text" matInput
          (keyup)="setChanged()"
          placeholder="{{ 'CMS-Menus.AddSection' | translate }}">
      </mat-form-field>
    </mat-toolbar>

    <div class="mdc-layout-grid">

      <div
        draggable="true"
        #menuDish
        *ngFor="let dish of getDishesBySection(section.id)"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-card rc-dish"
        (drag)="rcToggleClass(menuDish)">
        <div
          [ngClass]="{'rc-green': dish.cms_dish_vegetarian, 'rc-blue': dish.cms_dish_glutenfree}"
          class="rc-card-content"
          (mouseover)="rcToggleClass(menuDish)"
          (mouseout)="rcToggleClass(menuDish)"
          (click)="editDish(dish)">
          <h2>{{ section.label }}</h2>
          <div class="rc-dish-content">
            <h3>{{ dish.cms_dish_name | uppercase }}</h3>
            <span>{{ dish.cms_dish_price | currency }}</span>
            <span>{{ dish.cms_dish_desc }}</span>
          </div>
        </div>
        <div class="rc-card-actions">
          <button mat-icon-button (click)="deleteDish(dish)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="editDish(dish)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-toolbar class="rc-cms-toolbar">
      <!--<mat-icon>restaurant</mat-icon>-->
      <span class="rc-toolbar-title">{{ 'CMS-Menus.DownloadableMenus' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-section-toolbar-actions">
      <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
        <!--<mat-icon>filter_list</mat-icon>-->
      <!--</button>-->
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-menus-pdf')">
          <mat-icon>help_outline</mat-icon>
        </button>
      <button mat-icon-button
              (click)="addPdfMenu()"
              matTooltip="{{ 'CMS-Menus.UploadNewMenu' | translate }}">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
  </span>
    </mat-toolbar>

  </div>

  <div
    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-add-content"
    (click)="addPdfMenu()"
    *ngIf="showLoader">

    <rc-loader></rc-loader>

  </div>

  <div
       *ngFor="let menu of menus; let i of index"
       #card id="{{ i }}"
       class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-card"
       (mouseover)="rcToggleClass(card)"
       (mouseout)="rcToggleClass(card)"
       (click)="viewPdfMenu(menu)">

    <div class="rc-card-content">
      <h2 mat-card-title>{{ menu.cms_element_title }}</h2>
      <span>{{ menu.cms_element_caption }}</span>
      <!--<p>{{ menu.cms_element_live_from | date }} - {{ menu.cms_element_live_to | date }}</p>-->
      <p>{{ 'CMS-Menus.UploadedOn' | translate }} {{ menu.cms_element_created_on | date }} {{ 'CMS-Menus.By' | translate }} {{ menu.cms_element_created_by }}</p>
    </div>

    <div class="rc-card-actions">
      <span>
        <mat-chip-list>
          <mat-chip
            class="rc-online"
            selected="true"
            *ngIf="menu.cms_element_active">
            {{ 'CMS-Menus.Available' | translate }}
          </mat-chip>
          <mat-chip
            selected="false"
            *ngIf="!menu.cms_element_active">
            {{ 'CMS-Menus.Offline' | translate }}
          </mat-chip>
        </mat-chip-list>
      </span>
      <span class="rc-space-filler"></span>
      <span (click)="stopBubbling($event)">
        <button
          mat-icon-button
          title="{{ 'CMS-Menus.Delete' | translate }} {{ menu.cms_element_title }}"
          (click)="deletePdfMenu(menu)">
          <mat-icon>delete</mat-icon>
        </button>
        <!--<button-->
          <!--mat-icon-button-->
          <!--title="Download {{ menu.cms_element_title }}">-->
          <!--<mat-icon>file_download</mat-icon>-->
        <!--</button>-->
        <mat-checkbox
          labelPosition="before"
          color="accent"
          [checked]="menu.cms_element_active"
          (change)="togglePdfMenuStatus(menu)">
        </mat-checkbox>
      </span>
    </div>
  </div>

  <div
    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-add-content"
    (click)="addPdfMenu()"
    *ngIf="!showLoader">
    <mat-icon>add_circle_outline</mat-icon>
    <span class="rc-add-content-label">{{ 'CMS-Menus.AddMenu' | translate }}</span>
  </div>

</div>


<!--<hr>-->
<!--<pre>{{ descriptions | json }}</pre>-->
<!--<pre>{{ menus | json }}</pre>-->
