<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-toolbar class="rc-cms-toolbar">
      <span class="rc-toolbar-title">{{ 'CMS-Location.LocInfo' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-section-toolbar-actions">
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-location-transport')">
          <mat-icon>help_outline</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </div>

  <mat-card class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet">

    <mat-card-title>
      <div class="rc-cms-card-nav">

        <button
          mat-icon-button
          [disabled]="!dataChanged"
          [matTooltip]="'CMS-Location.SaveChanges' | translate"
          (click)="updateTransport()">
          <mat-icon>check</mat-icon>
        </button>
      </div>
      <h2>{{ 'CMS-Location.CarParking' | translate }}</h2></mat-card-title>
    <mat-card-content>
      <mat-form-field
        class="rc-full-width"
        floatPlaceholder="never">
          <textarea
            #private
            matInput
            matTextareaAutosize
            matAutosizeMinRows="3"
            matAutosizeMaxRows="5"
            name="cms_description_car_parking"
            maxlength="{{ transportPrivateLength }}"
            placeholder="{{ 'CMS-Location.WhatParking' | translate }} {{ transportPrivateLength }})"
            (keyup)="setChanged(private)"
            [(ngModel)]="descriptions.cms_description_car_parking">
          </textarea>
        <mat-hint align="end">{{ private.value.length }}/{{ transportPrivateLength }}</mat-hint>
      </mat-form-field>
    </mat-card-content>

  </mat-card>

  <mat-card class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-4-tablet">

    <mat-card-title>
      <div class="rc-cms-card-nav">

        <button
          mat-icon-button
          [disabled]="!dataChanged"
          [matTooltip]="'CMS-Location.SaveChanges' | translate"
          (click)="updateTransport()">
          <mat-icon>check</mat-icon>
        </button>
      </div>
      <h2>{{ 'CMS-Location.PublicTransport' | translate }}</h2></mat-card-title>
    <mat-card-content>
      <mat-form-field
        class="rc-full-width"
        floatPlaceholder="never">
          <textarea
            #public
            matInput
            matTextareaAutosize
            matAutosizeMinRows="3"
            matAutosizeMaxRows="5"
            name="cms_description_public_transport"
            maxlength="{{ transportPublicLength }}"
            placeholder="{{ 'CMS-Location.Transport' | translate }} {{ transportPublicLength }})"
            (keyup)="setChanged(public)"
            [(ngModel)]="descriptions.cms_description_public_transport">
          </textarea>
        <mat-hint align="end">{{ public.value.length }}/{{ transportPublicLength }}</mat-hint>
      </mat-form-field>
    </mat-card-content>

  </mat-card>

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-toolbar class="rc-cms-toolbar">
      <!--<mat-icon>place</mat-icon>-->
      <span class="rc-toolbar-title">{{ 'CMS-Location.MapPos' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-section-toolbar-actions">

        <button
          mat-icon-button
          (click)="help.dspHelp('cms-location-map')">
          <mat-icon>help_outline</mat-icon>
        </button>

        <button
          mat-icon-button
          [disabled]="!dataChanged"
          (click)="resetData()"
          [matTooltip]="'CMS-Location.UndoChanges' | translate">
          <mat-icon>undo</mat-icon>
        </button>

        <button
          mat-icon-button
          [disabled]="!dataChanged"
          [matTooltip]="'CMS-Location.SaveChanges' | translate"
          (click)="updateGeoCoords()">
          <mat-icon>check</mat-icon>
        </button>
      </span>
    </mat-toolbar>

  </div>

  <mat-card class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

    <mat-card-content>
      <h3>{{ restaurant?.restaurant_address_1 }}
        {{ restaurant?.restaurant_address_2 }} {{ restaurant?.restaurant_address_3 }}
        {{ restaurant?.restaurant_post_code }}</h3>


      <agm-map
        [latitude]="mapLat"
        [longitude]="mapLng"
        [zoom]="zoom">

        <agm-marker
          [latitude]="restaurant?.restaurant_lat"
          [longitude]="restaurant?.restaurant_lng"
          [title]="restaurant?.restaurant_name"
          [markerDraggable]="allowMarkerDrag"
          (dragEnd)="getMarkerPosition($event)"
          [iconUrl]="restaurant?.restaurant_icon">
          <agm-info-window [disableAutoPan]="true">
            {{ restaurant?.restaurant_name }}, {{ restaurant?.restaurant_post_code }}, {{
            restaurant?.restaurant_website }}
          </agm-info-window>
        </agm-marker>
      </agm-map>

    </mat-card-content>
    <mat-card-actions align="end">

      <button
        mat-button
        (click)="uploadDirections()">
        {{ 'CMS-Location.UploadDirections' | translate }}
      </button>
      <button
        *ngIf="directions"
        mat-button
        [disabled]="!fileLoaded"
        (click)="viewDirections()">
        {{ 'CMS-Location.ViewDirections' | translate }}
      </button>
    </mat-card-actions>

  </mat-card>

</div>

