<div class="mdc-layout-grid rc-cms-times">
  <div class="mdc-layout-grid__inner" [@insertAnimation]="openingTimes.length">

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-toolbar class="rc-toolbar rc-toolbar-section">
      <span>{{ 'CMS-Hours.OpeningTimes' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-toolbar-actions">

        <button
          mat-icon-button
          (click)="help.dspHelp('cms-hours', restaurant)">
            <mat-icon>help_outline</mat-icon>
        </button>

        <button
          mat-icon-button
          [disabled]="!dataChanged"
          (click)="resetData()"
          [matTooltip]="'CMS-Hours.UndoChanges' | translate">
          <mat-icon>undo</mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="!dataChanged"
          (click)="updateData()"
          [matTooltip]="'CMS-Hours.SaveChanges' | translate"
          color="accent">
          <mat-icon>check</mat-icon>
        </button>
      </span>
    </mat-toolbar>

  </div>

  <mat-card
    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-card-title>{{ 'CMS-Hours.Notes' | translate }}</mat-card-title>
      <mat-form-field class="rc-full-width">
        <mat-label>{{ 'CMS-Hours.General' | translate }} (max 1000 {{ 'CMS-Features.Chars' | translate }})</mat-label>
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMinRows="1"
          matAutosizeMaxRows="7"
          maxlength=1000
          (change)="setChanged()"
          (keydown)="setChanged()"
          [(ngModel)]="openingTimesNotes">
        </textarea>
      </mat-form-field>
  </mat-card>

  <mat-card
    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone"
    *ngFor="let cmstime of openingTimes; let i = index">

      <mat-card-title>
        <mat-checkbox
          [class.rc-day-closed]="cmstime.closed"
          [(ngModel)]="cmstime.checked"
          (click)="toggleSession(i)"
          #cb>
          {{ display_dow[i] | uppercase }}
        </mat-checkbox>
      </mat-card-title>

    <mat-card-content>

      <div *ngFor="let session of cmstime.sessions; let j = index">
        <h4 *ngIf="!cmstime.closed">{{ 'CMS-Hours.Session' | translate }} {{ j + 1 }}</h4>
        <h4 *ngIf="cmstime.closed">{{ 'CMS-Hours.Closed' | translate }}</h4>
        <div class="rc-session">
          <mat-form-field class="rc-session-time">
            <mat-label>{{ 'CMS-Hours.Start' | translate }}</mat-label>
            <input
              matInput
              type="time"
              step="900"
              (change)="setChanged()"
              [(ngModel)]="session.open"
              [disabled]="cmstime.closed">
          </mat-form-field>
          <mat-form-field class="rc-session-time">
            <mat-label>{{ 'CMS-Hours.End' | translate }}</mat-label>
            <input
              matInput
              type="time"
              step="900"
              (change)="setChanged()"
              [(ngModel)]="session.close"
              [disabled]="cmstime.closed">
          </mat-form-field>
          <a mat-icon-button
             color="warn"
             [disabled]="!!cmstime.closed"
             class="rc-del-session"
             (click)="removeSession(i,j)">
            <mat-icon>cancel</mat-icon>
          </a>
        </div>

      </div>

    </mat-card-content>

    <mat-card-actions align="end" *ngIf="!cmstime.closed">
      <button
        mat-button
        (click)="addSession(i)"
        [disabled]="cmstime.sessions.length >= maxSessions">
        {{ 'CMS-Hours.AddSession' | translate }}
      </button>
    </mat-card-actions>

  </mat-card>
  </div>
</div>



<!--<hr>-->
<!--<pre>{{ openingTimes | json }}</pre>-->
