<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <!-- TOOLBAR -->
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <mat-toolbar class="rc-toolbar rc-toolbar-section">
        <span>{{ 'CMS.RESERVATIONS.titleReservationsInfo' | translate }}</span>
        <span class="rc-space-filler"></span>
        <span class="rc-toolbar-actions">
          <button
            mat-icon-button
            (click)="help.dspHelp('cms-reservations', restaurant)">
            <mat-icon>help_outline</mat-icon>
          </button>
          <!-- UNDO CHANGES -->
          <button
            mat-icon-button
            [disabled]="!dataChanged"
            (click)="resetData()"
            [matTooltip]="'CMS.RESERVATIONS.tipUndo' | translate">
            <mat-icon>undo</mat-icon>
          </button>
          <!-- SAVE CHANGES -->
          <button
            mat-icon-button
            [disabled]="!dataChanged"
            (click)="updateData()"
            [matTooltip]="'CMS.RESERVATIONS.tipSave' | translate">
            <mat-icon>check</mat-icon>
          </button>
        </span>
      </mat-toolbar>
        </div>

    <!-- GENERAL -->
    <mat-card
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet rc-cms-res">
      <mat-card-title>
        <h2>{{ 'CMS.RESERVATIONS.titleGeneral' | translate }}</h2>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field
          class="rc-full-width"
          floatLabel="never">
          <mat-placeholder>{{ 'CMS.RESERVATIONS.labelGeneral' | translate: { chars: resGeneralMaxLength } }}
          </mat-placeholder>
            <textarea
              #bkgsGeneral
              matInput
              matTextareaAutosize
              matAutosizeMinRows="5"
              matAutosizeMaxRows="5"
              name="cms_description_reservation_info"
              maxlength="{{ resGeneralMaxLength }}"
              (keyup)="setChanged(bkgsGeneral)"
              [(ngModel)]="descriptions.cms_description_reservation_info">
            </textarea>
          <mat-hint align="end">{{ bkgsGeneral.value.length }}/{{ resGeneralMaxLength }}</mat-hint>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- ONLINE BOOKINGS -->
    <mat-card
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet rc-cms-res-online">
      <form #frmBooking="ngForm">

        <mat-card-title>
          <h2>{{ 'CMS.RESERVATIONS.titleOnline' | translate }}</h2>
        </mat-card-title>

        <mat-card-content>

          <!-- PROVIDER -->
          <mat-form-field class="rc-full-width">
            <mat-label>{{ 'CMS.RESERVATIONS.labelProvider' | translate }}</mat-label>
            <mat-select
              #bkgProvider
              name="bkg_provider"
              (selectionChange)="changeOption(bkgProvider)"
              [(ngModel)]="selected_booking_provider_index">
              <mat-option
                *ngFor="let provider of booking_providers; let idx = index"
                [value]="idx">
                {{ provider.booking_provider_label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- PROVIDER ID ( Has online booking provider )-->
          <div
            *ngIf='selectedBookingService !== "none"'
            class="rc-flex-spaced">
            <mat-form-field class="rc-full-width">
              <mat-label>{{ booking_provider_rid_label }}</mat-label>
              <input
                #bkgProviderId
                matInput
                name="bkg_provider_reference"
                (keyup)="setChanged(bkgProviderId)"
                [(ngModel)]="booking_provider_reference">
              <a
                *ngIf="booking_provider_reference && selectedBookingService !== 'email'"
                matSuffix
                mat-icon-button
                [matTooltip]="'CMS.RESERVATIONS.tipTestLink' | translate"
                (click)="testBkgLink()">
                <mat-icon>arrow_forward</mat-icon>
              </a>
              <mat-error><strong>{{ 'CMS.RESERVATIONS.invalidEmail' | translate }}</strong></mat-error>
            </mat-form-field>
          </div>

          <!-- MIN/MAX COVERS ( Email ) -->
          <div *ngIf="selectedBookingService === 'email'" class="rc-flex-spaced">
            <mat-form-field style="width: 48%;">
              <mat-label>{{ 'CMS.RESERVATIONS.labelMaxCovers' | translate }}</mat-label>
              <input
                #bkgMaxCovers
                matInput
                type="number"
                name="bkg_max_covers"
                min="2" max="12"
                (ngModelChange)="setChanged(bkgMaxCovers)"
                [(ngModel)]="descriptions.cms_booking_max_covers">
            </mat-form-field>
            <mat-form-field style="width: 48%;">
              <mat-label>{{ 'CMS.RESERVATIONS.labelMaxDays' | translate }}</mat-label>
              <input
                #bkgAdvDays
                matInput
                type="number"
                name="bkg_max_advance_days"
                min="0"
                max="90"
                (ngModelChange)="setChanged(bkgAdvDays)"
                [(ngModel)]="descriptions.cms_booking_max_advance_days">
            </mat-form-field>
          </div>

          <!-- NO ONLINE BOOKINGS -->
          <div *ngIf="selectedBookingService === 'none'" class="rc-flex-spaced" markdown>
            {{ 'CMS.RESERVATIONS.msgNoOnlineBookings' | translate }}
          </div>

        </mat-card-content>
      </form>
    </mat-card>

    <!-- GROUPS -->
    <mat-card
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
      <mat-card-title>
        <h2>{{ 'CMS.RESERVATIONS.titleGroupBookings' | translate }}</h2></mat-card-title>
      <mat-card-content>
        <mat-form-field
          class="rc-full-width"
          floatLabel="never">
          <mat-label>{{ 'CMS.RESERVATIONS.labelGroupPolicy' | translate: { max: resGroupMaxLength } }}</mat-label>
            <textarea
              #bkgsGroup
              matInput
              matTextareaAutosize
              matAutosizeMinRows="3"
              matAutosizeMaxRows="5"
              name="cms_descriptions_group"
              maxlength="{{ resGroupMaxLength }}"
              (keyup)="setChanged(bkgsGroup)"
              [(ngModel)]="descriptions.cms_description_group">
            </textarea>
          <mat-hint align="end">{{ bkgsGroup.value.length }}/{{ resGroupMaxLength }}</mat-hint>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <!-- PRIVATE DINING -->
    <mat-card
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
      <mat-card-title>
        <h2>{{ 'CMS.RESERVATIONS.titlePrivate' | translate }}</h2></mat-card-title>
      <mat-card-content>
        <mat-form-field
          class="rc-full-width"
          floatLabel="never">
          <mat-label>{{ 'CMS.RESERVATIONS.labelPrivate' | translate: { max: resPrivateMaxLength } }}</mat-label>
          <textarea
            #bkgsPrivate
            matInput
            matTextareaAutosize
            matAutosizeMinRows="3"
            matAutosizeMaxRows="5"
            name="cms_descriptions_private"
            maxlength="{{ resPrivateMaxLength }}"
            (keyup)="setChanged(bkgsPrivate)"
            [(ngModel)]="descriptions.cms_description_private">
          </textarea>
          <mat-hint align="end">{{ bkgsPrivate.value.length }}/{{ resPrivateMaxLength }}</mat-hint>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--<hr>-->

<!--<pre>-->

<!--{{ descriptions | json }}-->

<!--</pre>-->
