
<div class="rc-dialog rc-dialog-cms-image">

  <header>
    <h1 mat-dialog-title>{{ image.cms_element_title }}: {{ image.cms_element_caption }}</h1>
    <span class="rc-space-filler"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <mat-menu #menu="matMenu">

    <button mat-menu-item (click)="toggleImageStatus(image)" [disabled]="image.cms_element_default == 1">
      <mat-icon>cloud_circle</mat-icon>
      <span *ngIf="image.cms_element_active">{{ 'CMS-Image-Dialog.Deactivate' | translate }}</span>
      <span *ngIf="!image.cms_element_active">{{ 'CMS-Image-Dialog.Activate' | translate }}</span>
    </button>

    <button mat-menu-item (click)="setDefaultImage(image)" [disabled]="image.cms_element_active == 0 || image.cms_element_default == 1">
      <mat-icon>image</mat-icon>
      <span>{{ 'CMS-Image-Dialog.Default' | translate }}</span>
    </button>

  </mat-menu>

  <mat-dialog-content>
    <div class="rc-dialog-cms-image-wrap">
    <mat-chip-list class="rc-element-default">
      <mat-chip selected="true" *ngIf="image.cms_element_default">{{ 'CMS-Image-Dialog.DefaultTag' | translate }}</mat-chip>
      <mat-chip selected="true" class="rc-online" *ngIf="image.cms_element_active">{{ 'CMS-Image-Dialog.Available' | translate }}</mat-chip>
      <mat-chip selected="false" *ngIf="!image.cms_element_active">{{ 'CMS-Image-Dialog.Offline' | translate }}</mat-chip>
    </mat-chip-list>
    <img [src]="image.cms_element_image_path">
    </div>
  </mat-dialog-content>
</div>
