<div class="rc-dialog rc-dialog-cms-image-upload">

  <div *ngIf="data.type === 'image'">
    <h1 mat-dialog-title>
      {{ 'CMS.UPLOAD.titleUploadImage' | translate }}
    </h1>
    <span>{{ 'CMS.UPLOAD.infoImages' | translate }}</span>
  </div>
  <div *ngIf="data.type === 'menu'">
    <h1 mat-dialog-title>
      {{ 'CMS.UPLOAD.titleUploadMenu' | translate }}
    </h1>
  </div>
  <div *ngIf="data.type === 'direction'">
    <h1 mat-dialog-title>
      {{ 'CMS.UPLOAD.titleUploadDirections' | translate }}
    </h1>
  </div>

  <p class="rc-warn" markdown [data]="uploadMessage | translate"></p>

  <mat-dialog-content>
      <!-- IMAGE PREVIEW-->
      <div *ngIf="data.type === 'image'" class="rc-file-upload-preview">
        <img *ngIf="filePreview" [src]="filePreview" [alt]="">
      </div>

      <!-- FILE SELECT BUTTON -->
      <div class="rc-file-input-wrapper">

        <label class="rc-file-input-label rc-centre rc-full-width" for="fileUpload">
          <mat-icon>cloud_upload</mat-icon>
          <span>{{ uploadLabel | titlecase }} <span *ngIf="inProgress">({{ uploader?.progress }}%)</span></span>
        </label>

        <input
          type="file"
          id="fileUpload"
          [accept]="fileTypes"
          class="rc-file-input-hide"
          #fileInput
          ng2FileSelect
          [uploader]="uploader"
          (change)="fileSelected()"/>

      </div>

    <!-- UPLOAD FORMS -->
    <div>

      <!-- MENU UPLOAD FORM -->
      <form *ngIf="data.type === 'menu'" #menuUploadForm="ngForm">

        <section>

          <!-- MENU CATEGORY -->
        <mat-form-field class="rc-full-width">
          <mat-label>{{ 'CMS.UPLOAD.labelMenuName' | translate }}</mat-label>
          <input
            matInput
            ngModel
            name="menuClass"
            required>
        </mat-form-field>
          <!-- MENU DESC/CAPTION -->
        <mat-form-field class="rc-full-width">
          <mat-label>{{ 'CMS.UPLOAD.labelMenuCaption' | translate }}</mat-label>
          <input matInput
                 ngModel
                 name="menuCaption">
        </mat-form-field>

        </section>

      </form>

      <!-- IMAGE UPLOAD FORM -->

      <form *ngIf="data.type === 'image'" #imgUploadForm="ngForm">

        <!-- CATEGORY -->
        <section>
          <mat-form-field class="rc-full-width">
            <mat-label>{{ 'CMS.UPLOAD.labelImgCat' | translate }}</mat-label>
            <mat-select
              required
              ngModel
              name="imgClass"
              class="rc-full-width">
                <mat-option
                  *ngFor="let imgClass of imgClasses"
                  [value]="imgClass.value">
                {{ imgClass.lbl }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <!-- DEFAULT IMAGE? -->
        <section>
          <mat-checkbox
              ngModel
            name="imgDefault">
            <span>{{ 'CMS.UPLOAD.labelMakeDefault' | translate }}</span>
          </mat-checkbox>
        </section>

      </form>

    </div>

  </mat-dialog-content>

  <mat-progress-bar *ngIf="inProgress" color="primary" [value]="uploader?.progress"></mat-progress-bar>

  <mat-dialog-actions align="end">
    <!-- Cancel upload -->
    <button
      mat-button
      mat-dialog-close>
      {{ 'CMS.UPLOAD.labelBtnCancel' | translate }}
    </button>
    <!-- Start ulpoad -->
    <button
      mat-flat-button
      (click)="upload()"
      color="primary"
      [disabled]="!filePrimed || !validForm()">
      {{ 'CMS.UPLOAD.labelBtnUpload' | translate }}
    </button>

  </mat-dialog-actions>


</div>
