<div class="rc-cms-menus rc-content-container">

<!--  <mat-toolbar class="rc-toolbar rc-toolbar-section">-->
<!--    <span>{{ 'CMS.SETTINGS.titleSettings' | translate }}</span>-->
<!--    <span class="rc-space-filler"></span>-->
<!--    <span class="rc-toolbar-actions">-->

<!--        <button-->
<!--          mat-icon-button-->
<!--          (click)="help.dspHelp('cms-settings')">-->
<!--            <mat-icon>help_outline</mat-icon>-->
<!--        </button>-->

<!--      </span>-->
<!--  </mat-toolbar>-->

  <div class="rc-grid">
    <mat-card appearance="outlined" class="rc-card-rounded">
      <div class="rc-card-title">
        <h2>{{ 'CMS.SETTINGS.titleStatus' | translate }}</h2>
      </div>
    </mat-card>
    <mat-card appearance="outlined" class="rc-card-rounded">
      <div class="rc-card-title">
        <h2>{{ 'CMS.SETTINGS.titleTheme' | translate }}</h2>
      </div>
    </mat-card>
    <mat-card appearance="outlined" class="rc-card-rounded">
      <div class="rc-card-title">
        <h2>{{ 'CMS.SETTINGS.titleConfig' | translate }}</h2>
      </div>
    </mat-card>

    <button
      mat-button color="accent" (click)="publishWebsite(false)">
      Preview Website
    </button>

    <button
      mat-button color="accent" (click)="publishWebsite(true)">
      Publish Website
    </button>

  </div>






</div>
