<div class="">
  <mat-toolbar class="rc-toolbar-section">
    <span>{{ 'CMS.IMAGES.titleRestaurantImages' | translate }}</span>
    <span class="rc-space-filler"></span>
    <span class="rc-toolbar-actions">
          <button
                  mat-icon-button
                  (click)="help.dspHelp('cms-images', restaurant)">
              <mat-icon>help_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="addImage()"
                  matTooltip="{{ 'CMS.IMAGES.tipAddImage' | translate }}">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </span>
  </mat-toolbar>
  <div class="rd-grid-auto" [@insertAnimation]="cmsImages?.length">

    <!-- Image cards -->
    <div
      *ngFor="let image of cmsImages">
      <div
        class="rc-image-card"
        (click)="viewImage(image)">
      <mat-chip-listbox class="rc-element-tag">
        <mat-chip-option
          class="rc-default"
          *ngIf="image['cms_element_default']">
          {{ 'CMS.IMAGES.tagDefault' | translate }}
        </mat-chip-option>
        <mat-chip-option
          class="rc-online"
          *ngIf="image['cms_element_active']">
          {{ 'CMS.IMAGES.tagActive' | translate }}
        </mat-chip-option>
        <mat-chip-option
          *ngIf="!image['cms_element_active']">
          {{ 'CMS.IMAGES.tagOffline' | translate }}
        </mat-chip-option>
      </mat-chip-listbox>
      <div>
        <advanced-image
                class="img-gallery"
                *ngIf="image['cms_element_image_ref']"
                width="100%"
                height="100%"
                loading="lazy"
                alt="Smiling face"
                [plugins]="cldPlugins"
                [cldImg]="image['cldImage']">
        </advanced-image>
      </div>


      <div class="rc-card-actions" (click)="stopBubbling($event)">
        {{ image['cms_element_id'] }}
        <span class="rc-space-filler"></span>
          <a
            mat-icon-button
            [href]="image['cms_element_image_path']"
            target="_blank"
            title="{{ 'CMS.IMAGES.tipDownload' | translate }}">
            <mat-icon>cloud_download</mat-icon>
          </a>
         <button
             mat-icon-button
             title="{{ 'CMS.IMAGES.tipDelete' | translate }}"
             [disabled]="image['cms_element_default'] == 'Y' || image['cms_element_default'] == true"
             (click)="deleteImage(image)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-checkbox
            labelPosition="before"
            title="{{ 'CMS.IMAGES.tipChangeStatus' | translate }}"
            (change)="updateImageStatus(image)"
            [checked]="image['cms_element_active']"
            [disabled]="image['cms_element_default'] == 1"
            color="accent">
          </mat-checkbox>
      </div>
    </div>
    </div>
    <!-- Add image option -->
    <div
      *ngIf="!showLoader"
      class="rc-add-content"
      (click)="addImage()">
      <mat-icon>add_circle_outline</mat-icon>
      <span class="rc-add-content-label">
        {{ 'CMS.IMAGES.tipAddImage' | translate }}
      </span>
    </div>
  </div>
</div>


