<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner" [@insertAnimation]="cmsImages?.length">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <mat-toolbar class="rc-toolbar-section">
      <span>{{ 'CMS.IMAGES.titleRestaurantImages' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-toolbar-actions">
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-images', restaurant)">
            <mat-icon>help_outline</mat-icon>
        </button>

        <button mat-icon-button (click)="addImage()"
                matTooltip="{{ 'CMS.IMAGES.tipAddImage' | translate }}">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </span>
    </mat-toolbar>
    </div>

    <!-- Image cards -->
    <div
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"
      *ngFor="let image of cmsImages">
      <div
        class="rc-image-card"
        (click)="viewImage(image)">
      <mat-chip-list class="rc-element-tag">
        <mat-chip
          class="rc-default"
          selected="true"
          *ngIf="image['cms_element_default']">
          {{ 'CMS.IMAGES.tagDefault' | translate }}
        </mat-chip>
        <mat-chip
          class="rc-online"
          selected="true"
          *ngIf="image['cms_element_active']">
          {{ 'CMS.IMAGES.tagActive' | translate }}
        </mat-chip>
        <mat-chip
          selected="false"
          *ngIf="!image['cms_element_active']">
          {{ 'CMS.IMAGES.tagOffline' | translate }}
        </mat-chip>
      </mat-chip-list>
      <div>
        <cl-image
          *ngIf="image['cms_element_image_ref']"
          [public-id]="image['cms_element_image_ref']"
          secure="true"
          loading="lazy"
          height="180"
          width="320">
          <cl-transformation
            height="450"
            width="800"
            crop="fill"
            gravity="auto">
          </cl-transformation>
        </cl-image>
      </div>


      <div class="rc-card-actions">
        {{ image['cms_element_id'] }}
        <span class="rc-space-filler"></span>
        <span (click)="stopBubbling($event)">
          <a
            mat-icon-button
            [href]="image['cms_element_image_path']"
            target="_blank"
            title="{{ 'CMS.IMAGES.tipDownload' | translate }}">
            <mat-icon>cloud_download</mat-icon>
          </a>
         <button
             mat-icon-button
             title="{{ 'CMS.IMAGES.tipDelete' | translate }}"
             [disabled]="image['cms_element_default'] == 'Y' || image['cms_element_default'] == true"
             (click)="deleteImage(image)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-checkbox
            labelPosition="before"
            title="{{ 'CMS.IMAGES.tipChangeStatus' | translate }}"
            (change)="updateImageStatus(image)"
            [checked]="image['cms_element_active']"
            [disabled]="image['cms_element_default'] == 1"
            color="accent">
          </mat-checkbox>
        </span>
      </div>
    </div>
    </div>
    <!-- Add image option -->
    <div
      *ngIf="!showLoader"
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-add-content"
      (click)="addImage()">
      <mat-icon>add_circle_outline</mat-icon>
      <span class="rc-add-content-label">
        {{ 'CMS.IMAGES.tipAddImage' | translate }}
      </span>
    </div>
  </div>
</div>


