
<div class="rc-dialog rc-dialog-cms-image">

  <header>
    <h1 style="margin: 0;">{{ image.cms_element_title | uppercase }}</h1>
    <span class="rc-space-filler"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-dialog-close="false">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <mat-menu #menu="matMenu">

    <button mat-menu-item (click)="toggleImageStatus(image)" [disabled]="image.cms_element_default == 1">
      <mat-icon>cloud_circle</mat-icon>
      <span *ngIf="image.cms_element_active">{{ 'CMS.IMAGES.labelDeactivate' | translate }}</span>
      <span *ngIf="!image.cms_element_active">{{ 'CMS.IMAGES.labelActivate' | translate }}</span>
    </button>

    <button mat-menu-item (click)="setDefaultImage(image)" [disabled]="image.cms_element_active == 0 || image.cms_element_default == 1">
      <mat-icon>image</mat-icon>
      <span>{{ 'CMS.IMAGES.labelDefault' | translate }}</span>
    </button>

    <a [href]="image.cms_element_image_path" target="_blank" mat-menu-item>
      <mat-icon>cloud_download</mat-icon>
      <span>{{ 'CMS.IMAGES.labelDownload' | translate }}</span>
    </a>


  </mat-menu>



    <div class="image-wrapper">
    <mat-chip-listbox class="rc-element-tag">
      <mat-chip class="rc-default" *ngIf="image.cms_element_default">{{ 'CMS.IMAGES.tagDefault' | translate }}</mat-chip>
      <mat-chip class="rc-online" *ngIf="image.cms_element_active">{{ 'CMS.IMAGES.tagActive' | translate }}</mat-chip>
      <mat-chip *ngIf="!image.cms_element_active">{{ 'CMS.IMAGES.tagOffline' | translate }}</mat-chip>
    </mat-chip-listbox>

    <advanced-image
      height="100%"
      width="100%"
      [cldImg]="cldImage"
      [plugins]="">
    </advanced-image>
    </div>


</div>
