<div class="rc-content-container">
  <mat-toolbar class="rc-toolbar rc-toolbar-section">
    <span>{{ 'CMS.FEATURES.titleDescAndFeatures' | translate }}</span>
    <span class="rc-space-filler"></span>
    <span class="rc-toolbar-actions">
        <!-- HELP -->
        <button
                mat-icon-button
                (click)="help.dspHelp('cms-features', restaurant)">
            <mat-icon>help_outline</mat-icon>
        </button>
        <!-- UNDO CHANGES -->
        <button
                mat-icon-button
                [disabled]="!dataChanged"
                (click)="resetData()"
                [matTooltip]="'CMS.FEATURES.tipUndo' | translate">
          <mat-icon>undo</mat-icon>
        </button>
        <!-- SAVE CHANGES -->
        <button
                mat-icon-button
                [disabled]="!dataChanged"
                (click)="updateData()"
                [matTooltip]="'CMS.FEATURES.tipSave' | translate">
          <mat-icon>check</mat-icon>
        </button>
      </span>
  </mat-toolbar>
  <div class="rd-flex-col-2">

    <mat-card appearance="outlined">
      <mat-card-header>
      <mat-card-title>
        <h2>{{ 'CMS.FEATURES.titleDescriptions' | translate }}</h2>
      </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <!-- SUBHEADING -->
        <h4>{{ 'CMS.FEATURES.headerStrapline' | translate }}</h4>
        <mat-form-field class="rc-full-width" appearance="outline">
          <textarea
            #strapline
            matInput
            placeholder="{{ 'CMS.FEATURES.labelStrapline' | translate: { chars: descStraplineTotal } }}"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            name="cms_description_strap_line"
            maxlength="{{ descStraplineTotal }}"
            (keyup)="setChanged()"
            [(ngModel)]="descriptions.cms_description_strap_line">
          </textarea>
          <mat-hint align="end">{{ strapline.value.length }}/{{ descStraplineTotal }}</mat-hint>
        </mat-form-field>
        <!-- ONE SENTENCE DESC. -->
        <h4>{{ 'CMS.FEATURES.headerDescSentence' | translate }}</h4>
        <!-- ONE PARAGRAPH DESC. -->
        <mat-form-field class="rc-full-width" appearance="outline">
          <textarea
            #sentence
            matInput
            placeholder="{{ 'CMS.FEATURES.labelDescSentence' | translate: { chars: descSentenceTotal } }}"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            name="cms_description_one_sentence"
            maxlength="{{ descSentenceTotal }}"
            (keyup)="setChanged()"
            [(ngModel)]="descriptions.cms_description_one_sentence">
          </textarea>
          <mat-hint align="end">{{ sentence.value.length }}/{{ descSentenceTotal }}</mat-hint>
        </mat-form-field>
        <h4>{{ 'CMS.FEATURES.headerDescParagraph' | translate }}</h4>
        <mat-form-field
          class="rc-full-width" appearance="outline">
          <textarea
            #paragraph
            matInput
            placeholder="{{ 'CMS.FEATURES.labelDescParagraph' | translate: { chars: descParagraphTotal } }}"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            name="cms_description_one_paragraph"
            maxlength="{{ descParagraphTotal }}"
            (keyup)="setChanged()"
            [(ngModel)]="descriptions.cms_description_one_paragraph">
          </textarea>
          <mat-hint align="end">{{ paragraph.value.length }}/{{ descParagraphTotal }}</mat-hint>
        </mat-form-field>
        <!-- LONG DESC. -->
        <h4>{{ 'CMS.FEATURES.headerDescFull' | translate }}</h4>
        <mat-form-field class="rc-full-width" appearance="outline">
          <textarea
            #full
            matInput
            placeholder="{{ 'CMS.FEATURES.labelDescFull' | translate: { chars: descFullTotal } }}"
            name="cms_description_long"
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            maxlength="{{ descFullTotal }}"
            (keydown)="setChanged()"
            [(ngModel)]="descriptions.cms_description_long">
          </textarea>
          <mat-hint align="end">{{ full.value.length }}/{{ descFullTotal }}</mat-hint>
        </mat-form-field>

      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
      <mat-card-title>
        <!-- FEATURES -->
        <h2>{{ 'CMS.FEATURES.titleFeatures' | translate }}</h2>
      </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let feature of features; let iatt = index">
          <mat-checkbox
            name="att{{ iatt }}"
            value="feature.status"
            [(ngModel)]="feature.status"
            (change)="setChanged()">
            {{ feature.text }}
          </mat-checkbox>
        </div>
      </mat-card-content>
      <!-- ADDITIONAL FEATURES -->
      <mat-card-header>
      <h2>{{ 'CMS.FEATURES.titleAddFeatures' | translate }}</h2>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="rc-full-width" appearance="outline">
          <mat-chip-grid #chipList>
            <mat-chip-row
              class="rc-accent"
              *ngFor="let k of keywords"
              removable="true"
              (removed)="remove(k)">
              {{ k | uppercase }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip-row>
            <input [placeholder]="'CMS.FEATURES.tipAddFeatures' | translate"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event)" />
          </mat-chip-grid>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
