<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 *ngIf="data['mode'] === 'add'">
        {{ 'CMS.MENUS.titleAddDish' | translate }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #formDish="ngForm">
      <section>
        <mat-form-field class="rc-full-width" floatLabel="always">
          <mat-label>{{ 'CMS.MENUS.labelSection' | translate }}</mat-label>
          <mat-select
              [ngModel]="data['dish']['cms_dish_section_id']"
              name="cms_dish_section_id"
              required>
            <mat-option *ngFor="let section of data['sections']" [value]="section.id">
              {{ section.label | uppercase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <input type="hidden" name="cms_dish_id" [ngModel]="data['dish']['cms_dish_id']">
      <div style="display: flex;">
          <mat-form-field style="flex: 3; margin-right: 4px;" floatLabel="always">
            <mat-label>{{ 'CMS.MENUS.labelDishName' | translate }}</mat-label>
            <input
                name="cms_dish_name"
                matInput
                maxlength="50"
                [ngModel]="data['dish']['cms_dish_name']"
                required>
          </mat-form-field>
          <mat-form-field style="width: 30%; flex: 1;" floatLabel="always">
            <span matTextPrefix>{{ data['currencySymbol'] }}&nbsp;</span>
            <mat-label>{{ 'CMS.MENUS.labelPrice' | translate }}</mat-label>
            <input
                name="cms_dish_price"
                type="number"
                step="0.01"
                matInput
                [ngModel]="data['dish']['cms_dish_price']"
                required>
          </mat-form-field>
      </div>
      <mat-form-field class="rc-full-width" floatLabel="always">
        <mat-label>{{ 'CMS.MENUS.labelDescription' | translate }}</mat-label>
        <textarea
            matInput
            name="cms_dish_desc"
            [ngModel]="data['dish']['cms_dish_desc']"></textarea>
      </mat-form-field>

      <section style="display: flex; flex-direction: column">
        <mat-checkbox
            name="cms_dish_vegetarian"
            [ngModel]="data.dish.cms_dish_vegetarian">
          {{ 'CMS.MENUS.labelVegetarian' | translate }}
        </mat-checkbox>
        <mat-checkbox
            name="cms_dish_vegan"
            [ngModel]="data['dish']['cms_dish_vegan']">
          {{ 'CMS.MENUS.labelVegan' | translate }}
        </mat-checkbox>
        <mat-checkbox
            name="cms_dish_glutenfree"
            [ngModel]="data['dish']['cms_dish_glutenfree']">
          {{ 'CMS.MENUS.labelGlutenFree' | translate }}
        </mat-checkbox>
      </section>

      <mat-dialog-actions
          *ngIf="data.mode === 'edit'"
          align="end">
        <button
            type="button"
            mat-button
            mat-dialog-close>{{ 'CMS.MENUS.labelBtnCancel' | translate | uppercase }}</button>
        <button
            type="button"
            mat-flat-button
            [mat-dialog-close]="formDish"
            color="accent"
            [disabled]="!formDish.dirty || !formDish.valid">{{ 'CMS.MENUS.labelBtnUpdate' | translate | uppercase }}</button>
      </mat-dialog-actions>

      <mat-dialog-actions *ngIf="data.mode === 'add'" align="end">
        <button
            type="button"
            mat-button
            mat-dialog-close>{{ 'CMS.MENUS.labelBtnCancel' | translate | uppercase }}</button>
        <button
            type="button"
            mat-flat-button
            color="accent"
            [mat-dialog-close]="formDish"
            [disabled]="!formDish.valid">{{ 'CMS.MENUS.labelBtnSave' | translate | uppercase }}
        </button>
      </mat-dialog-actions>

    </form>
  </mat-card-content>
</mat-card>
