<div class="rc-content-container rc-full-width">
  <div class="rc-grid-masonry-2 golden">

  <!-- CORE DATA -->
  <mat-card appearance="outlined">
    <div class="rc-card-title-img-wrapper">
      <advanced-image
        *ngIf="cldImage"
        [cldImg]="cldImage"
        [plugins]="cldPlugins">
      </advanced-image>
    </div>
    <mat-card-header>
      <mat-card-title>{{ restaurant?.restaurant_name }}</mat-card-title>
      <mat-card-subtitle>{{ restaurant?.restaurant_group_name }}</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
      <div class="rc-card-help">
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-dashboard-core', restaurant)">
          <mat-icon>help_outline</mat-icon>
        </button>
      </div>
      <dl>
        <dt>{{ 'CMS.DASHBOARD.core.labelFoodStyle' | translate }}</dt>
        <dd>
          {{ restaurant?.restaurant_cuisine_1 }}
          <span *ngIf="restaurant?.restaurant_cuisine_2"> – {{ restaurant?.restaurant_cuisine_2 }}</span>
          <span *ngIf="restaurant?.restaurant_cuisine_3"> – {{ restaurant?.restaurant_cuisine_3 }}</span>
        </dd>
        <dt>{{ 'CMS.DASHBOARD.core.labelAddress' | translate }}</dt>
        <dd>
          <span>{{ restaurant?.restaurant_address_1 }}</span>
          <span>{{ restaurant?.restaurant_address_2 }}</span>
          <span *ngIf="restaurant?.restaurant_address_3">{{ restaurant?.restaurant_address_3 }}</span>
          <span>{{ restaurant?.restaurant_post_code }}</span>
        </dd>
        <dt>{{ 'CMS.DASHBOARD.core.labelTel' | translate }}</dt>
        <dd>
          <a href="tel:{{ restaurant?.restaurant_telephone }}">{{ restaurant?.restaurant_telephone }}</a>
        </dd>
        <dt>{{ 'CMS.DASHBOARD.core.labelEmail' | translate }}</dt>
        <dd>
          <a href="mailto:{{ restaurant?.restaurant_email }}">{{ restaurant?.restaurant_email }}</a>
        </dd>
        <dt>{{ 'CMS.DASHBOARD.core.labelWeb' | translate }}</dt>
        <dd>
          <a
            (click)="openRestaurantWebsite(restaurant.restaurant_website)"
            target="_blank">
            {{ restaurant?.restaurant_website }}
          </a>
        </dd>
        <dt>{{ 'CMS.DASHBOARD.core.labelSocial' | translate }}</dt>
        <dd>
          <ul class="rc-cms-social">
            <li [class.rc-disable]="!restaurant?.restaurant_facebook">
              <a
                (click)="openSocialLink(restaurant?.restaurant_facebook)"
                target="_blank">
                <img src="../../assets/images/icons/Facebook-color.svg" alt="Facebook">
              </a>
            </li>
            <li
              [class.rc-disable]="!restaurant?.restaurant_twitter">
              <a
                (click)="openSocialLink(restaurant?.restaurant_twitter)"
                target="_blank">
                <img src="../../assets/images/icons/Twitter-color.svg" alt="Twitter">
              </a>
            </li>
            <li
              [class.rc-disable]="!restaurant?.restaurant_instagram">
              <a
                (click)="openSocialLink(restaurant?.restaurant_instagram)"
                target="_blank">
                <img src="../../assets/images/icons/Instagram-color.svg" alt="Instagram">
              </a>
            </li>
          </ul>
        </dd>
      </dl>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="reqDirectoryDataChange()">
        {{ 'CMS.DASHBOARD.core.labelBtnRequestChange' | translate | uppercase }}
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- SPW: loading -->
  <mat-card
    appearance="outlined"
    *ngIf="isPreviewing"
    class="rc-cms-dash-info">
    <mat-card-header>
      <mat-card-title>{{ 'CMS.DASHBOARD.spw.msgAnalysing' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-rc-loader></app-rc-loader>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>

  <!-- SPW: no changes -->
  <mat-card
    appearance="outlined"
    *ngIf="!cmsChanged && cmsHasSufficientData && !isPreviewing"
    class="rdl-card rc-cms-dash-info">

    <!-- HEADER -->
    <!-- Verified by/data -->
    <mat-card-header *ngIf="!isPreviewing">
      <mat-card-title
        ngpreservewhitespaces
        markdown>
        {{ 'CMS.DASHBOARD.spw.msgVerified' | translate: { date: d_publishDate, name:
        restaurant.restaurant_verified_by } }}
      </mat-card-title>
      <span class="rc-space-filler"></span>
      <mat-icon class="rc-success">cloud_done</mat-icon>
    </mat-card-header>

    <!-- CONTENT -->
    <mat-card-content
      *ngIf="!isPreviewing"
      markdown
      ngpreservewhitespaces>
      {{ 'CMS.DASHBOARD.spw.msgPublished' | translate }}
    </mat-card-content>

    <!-- ACTIONS -->
    <mat-card-actions align="end" *ngIf="!isPreviewing">
      <button
        mat-button
        (click)="dspSPWLinks()"
        matTooltip="{{ 'CMS.DASHBOARD.spw.tipMarketingLinks' | translate }}"
        [disabled]="isPreviewing">
        {{ 'CMS.DASHBOARD.spw.labelBtnMarketingLinks' | translate | uppercase }}
      </button>
      <a
        [disabled]="isPreviewing"
        [href]="spwProdUrl"
        target="_blank"
        matTooltip="{{ 'CMS.DASHBOARD.spw.tipViewPublished' | translate: {
        restaurant: restaurant.restaurant_name } }}"
        mat-button color="accent">
        {{ 'CMS.DASHBOARD.spw.labelBtnViewPublished' | translate | uppercase }}
      </a>
    </mat-card-actions>
  </mat-card>

  <!-- SPW: has changes -->
  <mat-card
    appearance="outlined"
    *ngIf="cmsChanged && !isPreviewing"
    class="rdl-card">

    <!-- HEADER -->
    <!-- Unpublished changes -->
    <mat-card-header *ngIf="!isPreviewing && cmsHasSufficientData">
      <mat-card-title>{{ 'CMS.DASHBOARD.spw.headerUnPublished' | translate | uppercase }}</mat-card-title>
      <span class="rc-space-filler"></span>
      <mat-icon class="rc-warn">cloud_off</mat-icon>
    </mat-card-header>

    <!-- More content required -->
    <mat-card-header *ngIf="!isPreviewing && !cmsHasSufficientData">
      <mat-card-title>{{ 'CMS.DASHBOARD.spw.headerContentRequired' | translate | uppercase }}</mat-card-title>
      <span class="rc-space-filler"></span>
      <mat-icon class="rc-warn">cloud_off</mat-icon>
    </mat-card-header>

    <!-- CONTENT -->
    <!-- Unpublished changes -->
    <mat-card-content
      *ngIf="!isPreviewing && cmsHasSufficientData"
      markdown
      ngpreservewhitespaces>
      {{ 'CMS.DASHBOARD.spw.msgUnpublished' | translate: { brand: config.brand.name } }}
    </mat-card-content>

    <!-- More content required -->
    <mat-card-content
      *ngIf="!isPreviewing && !cmsHasSufficientData"
      markdown
      ngpreservewhitespaces>
      {{ 'CMS.DASHBOARD.spw.msgContentRequired' | translate: { link: config.brand.spwDemoUrl } }}
    </mat-card-content>

    <!-- ACTIONS -->
    <!-- card actions -->
    <mat-card-actions
      align="end"
      *ngIf="!isPreviewing">
      <button
        mat-button
        [disabled]="isPreviewing"
        (click)="previewSPW()">{{ 'CMS.DASHBOARD.spw.labelBtnPreview' | translate | uppercase }}</button>
      <button
        mat-button
        color="accent"
        [disabled]="!cmsHasSufficientData"
        (click)="publishSPW()">{{ 'CMS.DASHBOARD.spw.labelBtnPublish' | translate | uppercase }}</button>
    </mat-card-actions>
  </mat-card>

  <!-- CONTENT Summary -->
  <mat-card appearance="raised" class="rdl-card">
    <div class="rc-card-help">
      <button
        mat-icon-button
        (click)="help.dspHelp('cms-dashboard-summary', restaurant)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
    <mat-card-content class="rc-cms-dash-info">
      <mat-card-header>
        <mat-card-title>{{ 'CMS.DASHBOARD.summary.titleSummary' | translate | uppercase}}</mat-card-title>
      </mat-card-header>

      <mat-list class="rc-content-status">
        <!-- Hours -->
        <mat-list-item
          [class.rc-content-status-complete]="hours_status > 99"
          [class.rc-content-status-partial]="hours_status < 100 && hours_status > 0"
          (click)="navTo('opening-times')">
          <mat-icon matListItemIcon>watch_later</mat-icon>
          <div matListItemTitle>{{ 'CMS.DASHBOARD.summary.headerTimes' | translate | uppercase }}</div>
          <div matListItemLine>
            <span>{{ 'CMS.DASHBOARD.summary.msgLastUpdated' | translate: { update: d_hours_date} }}</span>
            <span class="matLineStatus">{{ hours_status_text }}</span>
            <span><mat-progress-bar  mode="determinate" value="{{ hours_status }}"></mat-progress-bar></span>
          </div>
        </mat-list-item>

        <!-- Features -->
        <mat-list-item
          [class.rc-content-status-complete]="desc_status > 99"
          [class.rc-content-status-partial]="desc_status < 100 && desc_status > 0"
          (click)="navTo('features')">
          <mat-icon matListItemIcon>check_box</mat-icon>
          <div matListItemTitle>{{ 'CMS.DASHBOARD.summary.headerFeatures' | translate | uppercase }}</div>
          <div matListItemLine>
            <span>{{ 'CMS.DASHBOARD.summary.msgLastUpdated' | translate : { update: d_desc_date } }}</span>
            <span class="matLineStatus">{{ desc_status_text }}</span>
            <span><mat-progress-bar mode="determinate" value="{{ desc_status }}"></mat-progress-bar></span>
          </div>
        </mat-list-item>

        <!-- Images -->
        <mat-list-item
          [class.rc-content-status-complete]="img_status > 99"
          [class.rc-content-status-partial]="img_status < 100 && img_status > 0"
          (click)="navTo('images')">
          <mat-icon matListItemIcon>image</mat-icon>
          <div matListItemTitle>{{ 'CMS.DASHBOARD.summary.headerImages' | translate | uppercase }}</div>
          <div matListItemLine>
            <span>{{ 'CMS.DASHBOARD.summary.msgLastUpdated' | translate: { update: d_img_date } }}</span>
            <span class="matLineStatus">{{ img_status_text }}</span>
            <mat-progress-bar mode="determinate" value="{{ img_status }}"></mat-progress-bar>
          </div>
        </mat-list-item>

        <!-- Menus -->
        <mat-list-item
          [class.rc-content-status-complete]="mnu_status > 99"
          [class.rc-content-status-partial]="mnu_status < 100 && mnu_status > 0"
          (click)="navTo('menus')">
          <mat-icon matListItemIcon>restaurant</mat-icon>
          <div matListItemTitle>
            <span>{{ 'CMS.DASHBOARD.summary.headerMenus' | translate | uppercase }}</span>
          </div>
          <div matListItemLine>
            <span>{{ 'CMS.DASHBOARD.summary.msgLastUpdated' | translate: {update: d_mnu_date} }}</span>
            <span class="matLineStatus">{{ mnu_status_text }}</span>
            <mat-progress-bar mode="determinate" value="{{ mnu_status }}"></mat-progress-bar>
          </div>
        </mat-list-item>

        <!-- Booking info -->
        <mat-list-item
          [class.rc-content-status-complete]="bkg_status > 99"
          [class.rc-content-status-partial]="bkg_status < 100 && bkg_status > 0"
          (click)="navTo('reservations')">
          <mat-icon matListItemIcon>event</mat-icon>
          <div matListItemTitle>
            <span>{{ 'CMS.DASHBOARD.summary.headerBookings' | translate | uppercase }}</span>
          </div>
          <div matListItemLine>
            <span>{{ 'CMS.DASHBOARD.summary.msgLastUpdated' | translate: {update: d_bkg_date} }}</span>
            <span class="matLineStatus">{{ bkg_status_text }}</span>
            <mat-progress-bar mode="determinate" value="{{ bkg_status }}"></mat-progress-bar>
          </div>
        </mat-list-item>

        <!-- Location -->
        <mat-list-item
          [class.rc-content-status-complete]="loc_status > 99"
          [class.rc-content-status-partial]="loc_status < 100 && loc_status > 0"
          (click)="navTo('location')">
          <mat-icon matListItemIcon>place</mat-icon>
          <div matListItemTitle>
            <span>{{ 'CMS.DASHBOARD.summary.headerLocation' | translate | uppercase }}</span>
          </div>
          <div matListItemLine>
            <span>{{ 'CMS.DASHBOARD.summary.msgLastUpdated' | translate: {update: d_loc_date} }}</span>
            <span class="matLineStatus">{{ loc_status_text }}</span>
            <mat-progress-bar mode="determinate" color="primary" value="{{ loc_status }}"></mat-progress-bar>
          </div>

        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  </div>
</div>



