<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-toolbar class="rc-toolbar-section">
      <span>{{ 'CMS-Images.RImages' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-toolbar-actions">

        <button
          mat-icon-button
          (click)="help.dspHelp('cms-images', restaurant)">
            <mat-icon>help_outline</mat-icon>
        </button>

        <button mat-icon-button (click)="addImage()"
                matTooltip="{{ 'CMS-Images.UploadImage' | translate }}">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </div>
    <!-- content load animation -->
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-add-content" *ngIf="showLoader">
    <rc-loader></rc-loader>
  </div>
    <!-- Image cards -->
    <div
      class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"
      *ngFor="let image of cmsImages">
      <div
      #card
      class="rc-image-card"
      (click)="viewImage(image)">
      <mat-chip-list class="rc-element-tag">
        <mat-chip
          selected="true"
          *ngIf="image.cms_element_default">
          {{ 'CMS-Images.DefaultTag' | translate }}
        </mat-chip>
        <mat-chip
          class="rc-online"
          selected="true"
          *ngIf="image.cms_element_active">
          {{ 'CMS-Images.Available' | translate }}
        </mat-chip>
        <mat-chip
          selected="false"
          *ngIf="!image.cms_element_active">
          {{ 'CMS-Images.Offline' | translate }}
        </mat-chip>
      </mat-chip-list>
      <div>
        <cl-image
          [public-id]="image['cms_element_image_ref']"
          secure="true"
          loading="lazy"
          height="180"
          width="320">
          <cl-transformation
            height="450"
            width="800"
            crop="fill"
            gravity="auto">
          </cl-transformation>
        </cl-image>
      </div>

      <div class="rc-card-actions">
        {{ image.cms_element_id }}
        <span class="rc-space-filler"></span>
        <span (click)="stopBubbling($event)">
          <a
            mat-icon-button
            [href]="image.cms_element_image_path"
            target="_blank"
            title="{{ 'CMS-Images.Download' | translate }}">
            <mat-icon>cloud_download</mat-icon>
          </a>
         <button
             mat-icon-button
             title="{{ 'CMS-Images.Delete' | translate }}"
             [disabled]="image.cms_element_default == 'Y' || image.cms_element_default == true"
             (click)="deleteImage(image)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-checkbox
            labelPosition="before"
            title="{{ 'CMS-Images.ChangeStatus' | translate }}"
            (change)="updateImageStatus(image)"
            [checked]="image.cms_element_active"
            [disabled]="image.cms_element_default == 1"
            color="accent">
          </mat-checkbox>
        </span>
      </div>
    </div>
    </div>
    <!-- Add image option -->
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-add-content" (click)="addImage()" *ngIf="!showLoader">
      <mat-icon>add_circle_outline</mat-icon>
      <span class="rc-add-content-label">{{ 'CMS-Images.AddImage' | translate }}</span>
    </div>
  </div>
</div>


