
<div
  style="margin:16px;"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="16px"
  fxLayoutGap.xs="0">
  <div fxFlex>
    <mat-toolbar class="rc-toolbar rc-toolbar-section">
      <span>{{ 'CMS-Menus.MenuInfo' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-toolbar-actions">
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-menus-general')">
          <mat-icon>help_outline</mat-icon>
        </button>
        <button
          mat-icon-button [disabled]="!dataChanged"
          (click)="updateDescription(overview)">
          <mat-icon>done</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </div>

  <!--  MENU INFO -->
  <div
    fxFlex
    class="rc-content-panel">
    <mat-form-field
      class="rc-full-width"
      floatPlaceholder="never">
          <textarea
            #overview
            matInput
            matTextareaAutosize
            matAutosizeMinRows="3"
            matAutosizeMaxRows="5"
            name="cms_description_menus_overview"
            maxlength="{{ menuOverviewLength }}"
            placeholder="{{ 'CMS-Menus.MenuGenInfo' | translate }} {{ menuOverviewLength }})"
            (keyup)="setChanged()"
            [ngModel]="descriptions?.cms_description_menus_overview">
          </textarea>
      <mat-hint align="end">{{ overview.value.length }}/{{ menuOverviewLength }}</mat-hint>
    </mat-form-field>
  </div>

  <!-- SAMPLE MENU TOOLBAR -->
  <div fxFlex>
    <mat-toolbar class="rc-toolbar rc-toolbar-section">
      <span>{{ 'CMS-Menus.SampleDishes' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-toolbar-actions">
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-menus-html')">
          <mat-icon>help_outline</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="addDish()"
          matTooltip="{{ 'CMS-Menus.AddDish' | translate }}">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button
          mat-icon-button [disabled]="!dataChanged"
          (click)="updateSectionName()">
          <mat-icon>done</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </div>
  <div fxFlex class="rc-content-panel" markdown>
    Add a selection of your most popular dishes. We would recommend that you choose a cross-section of your price
    range and dishes that best reflect your style of food. You can display the dishes as **Vegetarian** (green) or
    **Gluten Free** (blue)) when you add them.
<!--    <p>-->
<!--      {{ 'CMS-Menus.MenuHelp' | translate }}-->
<!--      <strong class="rc-cms-menu-dish-vegan">-->
<!--        {{ 'CMS-Menus.Vegetarian' | translate }}-->
<!--      </strong>-->
<!--      {{ 'CMS-Menus.Or' | translate }}-->
<!--      <strong class="rc-blue">-->
<!--        {{ 'CMS-Menus.GlutenFree' | translate }}-->
<!--      </strong>-->
<!--      {{ 'CMS-Menus.WhenAdd' | translate }}-->
<!--    </p>-->
  </div>

  <!-- SAMPLE MENU SECTION -->
  <div fxFlex *ngFor="let section of htmlMenu.sections">
    <div class="rc-cms-menu-section">
      <mat-form-field floatPlaceholder="never" class="rc-full-width">
        <input
          [(ngModel)]="section.label"
          name="menuSection{{ section.id }}"
          type="text"
          matInput
          (keyup)="setChanged()"
          placeholder="{{ 'CMS-Menus.AddSection' | translate }}">
        <button mat-button *ngIf="section.label" matSuffix mat-icon-button aria-label="Clear" (click)="section.label=''">
          <mat-icon>close</mat-icon>
        </button>
<!-- Todo: Translation Required -->
        <mat-hint>Antipasti, Starters, Main Courses etc.</mat-hint>
      </mat-form-field>

    </div>
    <!-- Dishes -->
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="0 1 calc(33.33% - 16px)"
        fxFlex.lt-md="0 1 calc(50% - 16px)"
        fxFlex.lt-sm="0 1 calc(100%)"
        #menuDish
        *ngFor="let dish of getDishesBySection(section.id)"
        class="rc-card rc-cms-menu-dish">
        <div
          [ngClass]="{'rc-green': dish.cms_dish_vegetarian, 'rc-blue': dish.cms_dish_glutenfree}"
          class="rc-card-content"
          (click)="editDish(dish)">
          <h2>{{ section.label }}</h2>
          <div class="rc-dish-content">
            <h3>{{ dish.cms_dish_name | uppercase }}</h3>
            <span>{{ currencySymbol }} {{ dish.cms_dish_price}}</span>
            <span>{{ dish.cms_dish_desc }}</span>
          </div>
        </div>
        <div class="rc-card-actions">
          <button mat-icon-button (click)="deleteDish(dish)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="editDish(dish)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- DOWNLOAD MENUS -->
  <div fxFlex>
    <mat-toolbar class="rc-toolbar rc-toolbar-section">
      <span>{{ 'CMS-Menus.DownloadableMenus' | translate }}</span>
      <span class="rc-space-filler"></span>
      <span class="rc-toolbar-actions">
        <button
          mat-icon-button
          (click)="help.dspHelp('cms-menus-pdf')">
          <mat-icon>help_outline</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="addPdfMenu()"
          matTooltip="{{ 'CMS-Menus.UploadNewMenu' | translate }}">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </div>

  <div fxFlex>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="16px grid"
      fxLayoutGap.xs="16px">
      <div
        fxFlex="0 1 calc(33.3% - 16px)"
        fxFlex.lt-md="0 1 calc(50% - 16px)"
        fxFlex.lt-sm="0 1 calc(100%)"
        *ngFor="let menu of menus; let i of index"
        #card id="{{ i }}"
        class="rc-card rc-cms-menu-download"
        (click)="viewPdfMenu(menu)">
        <div class="rc-card-content">
          <h2 mat-card-title>{{ menu.cms_element_title }}</h2>
          <span>{{ menu.cms_element_caption }}</span>
          <!--<p>{{ menu.cms_element_live_from | date }} - {{ menu.cms_element_live_to | date }}</p>-->
          <p>{{ 'CMS-Menus.UploadedOn' | translate }} {{ menu.cms_element_created_on | date }} {{ 'CMS-Menus.By' | translate }} {{ menu.cms_element_created_by }}</p>
        </div>
        <div class="rc-card-actions">
          <span>
            <mat-chip-list>
              <mat-chip
                class="rc-online"
                selected="true"
                *ngIf="menu.cms_element_active">
                {{ 'CMS-Menus.Available' | translate }}
              </mat-chip>
              <mat-chip
                selected="false"
                *ngIf="!menu.cms_element_active">
                {{ 'CMS-Menus.Offline' | translate }}
              </mat-chip>
            </mat-chip-list>
          </span>
          <span class="rc-space-filler"></span>
          <span (click)="stopBubbling($event)">
            <button
              mat-icon-button
              title="{{ 'CMS-Menus.Delete' | translate }} {{ menu.cms_element_title }}"
              (click)="deletePdfMenu(menu)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-checkbox
              labelPosition="before"
              color="accent"
              [checked]="menu.cms_element_active"
              (change)="togglePdfMenuStatus(menu)">
            </mat-checkbox>
          </span>
        </div>
      </div>

      <div
        fxFlex
        class="rc-add-content rc-cms-menu-download"
        *ngIf="showLoader">
        <rc-loader></rc-loader>
      </div>
      <div
        fxFlex
        class="rc-add-content rc-cms-menu-download"
        (click)="addPdfMenu()"
        *ngIf="!showLoader">
        <mat-icon>add_circle_outline</mat-icon>
        <span class="rc-add-content-label">{{ 'CMS-Menus.AddMenu' | translate }}</span>
      </div>

    </div>

  </div>

</div>


<!--<hr>-->
<!--<pre>{{ descriptions | json }}</pre>-->
<!--<pre>{{ menus | json }}</pre>-->
