<div class="rc-dialog rc-dialog-help">

  <mat-dialog-content>
  <div>
    <h2>
      {{ 'FAQS.titleFAQs' | translate }}
    </h2>
  </div>


    <ng-container *ngFor="let faq of display_faqs">

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ faq.faq_question }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <markdown ngPreserveWhitespaces>{{ faq.faq_response }}</markdown>
      </mat-expansion-panel>

    </ng-container>

  </mat-dialog-content>

  <mat-dialog-actions  align="end">
    <mat-form-field class="rc-full-width" appearance="outline">
      <input
        matInput
        placeholder="Search in Questions..."
        (keyup)="doSearch()"
        [(ngModel)]="search_text">
    </mat-form-field>
    <button mat-flat-button [mat-dialog-close]="false" color="accent">OK</button>
  </mat-dialog-actions>

</div>
