<div class="rc-dialog">
  <mat-toolbar class="rc-toolbar rc-toolbar-nav">
    <span>{{ 'FAQS.titleFAQs' | translate }}</span>
    <span class="rc-space-filler"></span>
    <span class="rc-toolbar-actions">
        <button mat-icon-button [mat-dialog-close]="false" tabindex="-1">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>




  <div mat-dialog-content>

    <mat-form-field class="rc-full-width">
      <input
        matInput
        placeholder="Search in Questions..."
        (keyup)="doSearch()"
        [(ngModel)]="search_text">
    </mat-form-field>


    <ng-container *ngFor="let faq of display_faqs">

      <mat-expansion-panel hideToggle class="rdl-expansion">
        <mat-expansion-panel-header class="rdl-expansion-header">
          <mat-panel-title class="rdl-expansion-title">
            {{ faq.faq_question }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <markdown ngPreserveWhitespaces>{{ faq.faq_response }}</markdown>
      </mat-expansion-panel>

    </ng-container>

  </div>

</div>
