<div class="rc-dialog rc-dialog-help">

  <mat-dialog-content>
  <div>
    <h2>
      {{ 'FAQS.titleFAQs' | translate }}
    </h2>
  </div>


    <ng-container *ngFor="let faq of faqs">
      <markdown ngPreserveWhitespaces>{{ faq.faq_question }}</markdown>
      <ng-container *ngIf="faq.faq_show">
        <markdown ngPreserveWhitespaces>{{ faq.faq_response }}</markdown>
      </ng-container>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions  align="end">
    <button mat-flat-button [mat-dialog-close]="false" color="accent">OK</button>
  </mat-dialog-actions>

</div>
