
<mat-toolbar
  color="primary"
  class="rc-nav-global mat-toolbar">
<!--  <button-->
<!--    *ngIf="authService.isAuthLevel(4)"-->
<!--    mat-icon-button-->
<!--    (click)="rcNavToggle()" >-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->

  <span class="rc-section-toolbar-title">{{ company_name }}</span>

  <span class="rc-space-filler"></span>

  <span
    *ngIf="!authService.isAuth(); else loggedIn"
    (click)="login()"
    class="rc-media-small-hide rc-link-like rc-section-toolbar-title">
    Login
  </span>

  <ng-template #loggedIn>
    <span
      [matMenuTriggerFor]="menu"
      class="rc-media-small-hide rc-link-like rc-section-toolbar-title">
    {{ displayName }}
  </span>

  <button
    [matMenuTriggerFor]="menu"
    mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  </ng-template>

  <!--<button-->
    <!--*ngIf="!authService.isAuth()"-->
    <!--mat-icon-button-->
    <!--(click)="login()" >-->
    <!--<mat-icon>account_circle</mat-icon>-->
  <!--</button>-->

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngIf="authService.isAuthLevel(1)"
      [routerLink]="['/profile']">
      <mat-icon>account_circle</mat-icon>
      <span>{{ 'Header.Settings' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      *ngIf="authService.isAuth()"
      (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'Header.Logout' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="about()" >
      <mat-icon>help</mat-icon>
      <span>{{ 'Header.About' | translate }}</span>
    </button>
  </mat-menu>

</mat-toolbar>
