<div class="layout-2-panel">
  <!-- LEFT -->
  <div class="layout-panel-left">
    <div class="layout-panel-inner">
      <app-rc-logo [height]="'90px'"></app-rc-logo>
      <markdown *ngIf="isPreRegistration" @fadeAnimation>
        {{ 'JOIN.infoPrereg' | translate }}
      </markdown>
      <markdown *ngIf="!isPreRegistration">
        {{ 'JOIN.infoSignUp' | translate }}
      </markdown>
    </div>
  </div>
  <!-- RIGHT -->
  <div class="layout-panel-right">
    <div class="layout-panel-inner">

      <!-- PREREG -->
      <div class="rc-thanks" *ngIf="isRegistered">
        <app-rc-logo [height]="'90px'" version="primary"></app-rc-logo>
        <h1>{{ 'JOIN.msgThanks' | translate }}</h1>
      </div>
      <div class="rc-join-form" *ngIf="!isRegistered">
        <!-- PreReg -->
        <form
          [formGroup]="formPending"
          class="rc-form-grid"
          *ngIf="formStage === 'member' && isPreRegistration">
          <div class="bpi-logos col-span-2">
            <cl-image public-id="v1643713637/ri_assets/BlocGraphique_gouv_Europe_100dpi.gif">
              <cl-transformation width="275" crop="scale">
              </cl-transformation>
            </cl-image>
            <cl-image public-id="v1643713177/ri_assets/Bpifrance.png">
              <cl-transformation width="140" crop="scale">
              </cl-transformation>
            </cl-image>


          </div>
          <!--<h1 class="col-span-2">{{ 'JOIN.headerContactDetails' | translate }}</h1>-->

          <mat-form-field>
            <mat-label>{{ 'JOIN.labelFirstName' | translate }}</mat-label>
            <input formControlName="first_name" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'JOIN.labelLastName' | translate }}</mat-label>
            <input formControlName="last_name" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Telephone -->
          <mat-form-field>
            <mat-label>{{ 'JOIN.labelTel' | translate }}</mat-label>
            <input matInput formControlName="telephone">
            <mat-error>{{ 'JOIN.invalidTelRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field>
            <mat-label>{{ 'JOIN.labelEmail' | translate }}</mat-label>
            <input formControlName="email" matInput>
            <mat-error>{{ 'JOIN.invalidEmail' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'JOIN.labelOrganisation' | translate }}</mat-label>
            <input formControlName="job" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'JOIN.labelCity' | translate }}</mat-label>
            <input formControlName="city" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="col-span-2">
            <mat-label>{{ 'JOIN.labelReferrer' | translate }}</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let ref of referrers" [value]="ref">
                {{ ref }}
              </mat-option>
            </mat-select>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="gdpr" class="col-span-2">
            <div class="rc-txt-small" markdown>
              {{ 'JOIN.labelGDPR' | translate }}
            </div>
          </mat-checkbox>

          <button
            type="button"
            mat-flat-button
            class="col-span-2"
            color="accent"
            [disabled]="!formPending.valid"
            (click)="registerInterest()">
            {{ 'JOIN.labelBtnRegister' | translate }}
          </button>

          <div class="bpi-logos col-span-2">

            <cl-image public-id="v1643639802/ri_assets/UMIH_header-logo.png_1644223205.png">
              <cl-transformation width="60" crop="scale">
              </cl-transformation>
            </cl-image>

            <cl-image public-id="v1643639800/ri_assets/Logo_AFMR.png">
              <cl-transformation width="130" crop="scale">
              </cl-transformation>
            </cl-image>
          </div>

        </form>

        <!-- MEMBER -->
        <form
          [formGroup]="formMember"
          class="rc-form-grid"
          *ngIf="formStage === 'member' && !isPreRegistration">

          <h1 class="col-span-2">{{ 'JOIN.headerBpiYourDetails' | translate }}</h1>

          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'JOIN.labelFirstName' | translate }}</mat-label>
            <input formControlName="bpi_forename" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'JOIN.labelLastName' | translate }}</mat-label>
            <input formControlName="bpi_surname" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="col-span-2">
            <mat-label>{{ 'JOIN.labelJob' | translate }}</mat-label>
            <mat-select formControlName="bpi_role">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Telephone -->
          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'JOIN.labelTel' | translate }}</mat-label>
            <input matInput formControlName="bpi_telephone">
            <mat-error>{{ 'JOIN.invalidTelRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'JOIN.labelEmail' | translate }}</mat-label>
            <input formControlName="bpi_email" matInput>
            <mat-error>{{ 'JOIN.invalidEmail' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="col-span-2">
            <mat-label>{{ 'JOIN.labelReferrer' | translate }}</mat-label>
            <mat-select formControlName="bpi_status">
              <mat-option *ngFor="let ref of referrers" [value]="ref">
                {{ ref }}
              </mat-option>
            </mat-select>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <button
            *ngIf="!isPreRegistration"
            type="button"
            mat-flat-button
            class="col-span-2"
            color="accent"
            [disabled]="!formMember.valid"
            (click)="next(formMember, 'company')">NEXT
          </button>

        </form>
        <!-- COMPANY -->
        <form class="rc-form-grid" [formGroup]="formCompany" *ngIf="formStage === 'company'">

          <h1 class="col-span-2">{{ 'JOIN.headerBpiCompanyDetails' | translate }}</h1>

          <mat-form-field hideRequiredMarker class="col-span-2">
            <mat-label>{{ 'BPI.labelCompany' | translate }}</mat-label>
            <input formControlName="bpi_company_name" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Address -->
          <mat-form-field hideRequiredMarker class="col-span-2">
            <mat-label>{{ 'BPI.labelStreet' | translate }}</mat-label>
            <input matInput formControlName="bpi_company_address">
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- City -->
          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelTown' | translate }}</mat-label>
            <input matInput formControlName="bpi_company_town">
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Postcode -->
          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelPostcode' | translate }}</mat-label>
            <input matInput formControlName="bpi_company_post_code">
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Siret -->
          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelSiret' | translate }}</mat-label>
            <input matInput formControlName="bpi_siret">
            <mat-error>{{ 'BPI.invalidSiret' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelTotalEmployees' | translate }}</mat-label>
            <mat-select formControlName="bpi_company_employees">
              <mat-option *ngFor="let item of totalEmployees" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <mat-error>{{ 'BPI.invalidSelectionRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelDirectorFirstName' | translate }}</mat-label>
            <input formControlName="bpi_director_forename" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelDirectorLastName' | translate }}</mat-label>
            <input formControlName="bpi_director_surname" matInput>
            <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field hideRequiredMarker class="col-span-2">
            <mat-label>{{ 'BPI.labelDirectorEmail' | translate }}</mat-label>
            <input formControlName="bpi_director_email" matInput>
            <mat-error>{{ 'JOIN.invalidEmail' | translate }}</mat-error>
          </mat-form-field>


          <button
            type="button"
            class="rc-btn-prev"
            mat-flat-button
            color="primary"
            (click)="prev('member')">BACK
          </button>

          <button
            mat-flat-button
            type="button"
            color="accent"
            [disabled]="!formCompany.valid"
            (click)="next(formCompany, 'terms')">NEXT
          </button>

        </form>
        <!-- TERMS -->
        <form class="rc-form-grid" [formGroup]="formTerms" *ngIf="formStage === 'terms'">
          <h1 class="col-span-2">
            {{ 'JOIN.headerDeclarations' | translate }}
          </h1>
          <div class="rc-txt-small col-span-2" markdown ngPreserveWhitespaces>
            #### Je soussigné(e) {{ formMember.controls.bpi_surname.value }}
            , {{ formMember.controls.bpi_forename.value }}, {{ formCompany.controls.bpi_company_name.value }}, déclare
            que l’entreprise à laquelle j’appartiens:
            - Existe légalement depuis plus de 2 ans en France
            - A un chiffre d'affaires supérieur à 20 000€ (dernier exercice connu)
            - Est à jour de ses obligations fiscales et sociales
            - N'a pas déjà perçu pour les deux derniers exercices fiscaux et l'exercice fiscal en cours plus de 200 000
            euros d'aides publiques (en dehors des aides Covid-19), conformément au règlement (UE) n°1407/2013 de la
            Commission européenne du 18 décembre 2013 relatif à l'application des articles 107 et 108 du traité sur le
            fonctionnement de l'Union européenne aux aides « de minimis », publié au Journal Officiel de l'Union
            européenne du 26 juin 2014 ou tout texte lui succédant(1)
            - N'est pas, à ce jour, en liquidation judiciaire
            - N'a pas déjà bénéficié de plus d'un accompagnement dans le cadre de ce programme (limité à 2 thématiques
            ou 2 personnes de la même entreprise)
            - Autorise Bpifrance et tout prestataire de Bpifrance à réaliser des contrôles sur la validité des
            informations listées ci-dessus.
          </div>
          <div class="rc-txt-small col-span-2" markdown ngPreserveWhitespaces>
            #### J'atteste avoir connaissance que toute déclaration inexacte quant aux éléments susvisés:
            - Entraînerait la résiliation automatique avec effet immédiat du présent accord entre la société et
            l'Accompagnateur ;
            - Serait de nature à engager la responsabilité de la société ;
            - Impliquerait l'obligation pour la société de verser à l'Accompagnateur le montant total de
            l'accompagnement, et ce, sans sommation ni mise en demeure ou formalité judiciaire préalable, quinze (15)
            jours après l'envoi d'une lettre recommandée avec accusé de réception.
          </div>
          <h3 class=" col-span-2">Fait pour servir et valoir ce que de droit.</h3>
          <mat-checkbox formControlName="bpi_terms_accepted" class="col-span-2">
            <div class="rc-txt-small" markdown ngPreserveWhitespaces>
              #### En cochant la présente case:
              - Je reconnais avoir pris connaissance et accepter [les Conditions Générales de Vente disponibles sur le
              site internet](https://restaurateursindependant.fr/bpi-terms.pdf), et j’atteste avoir pris connaissance
              des mentions d’information relatives au traitement des données à caractère personnel collectées et
              traitées dans le cadre du présent dispositif disponibles au paragraphe « PROTECTION DES DONNEES A
              CARACTERE PERSONNEL » des Conditions Générales de Vente ;
              - J’atteste sur l’honneur que les informations contenues dans le présent formulaire sont exactes et je
              confirme mon inscription à la formation accompagnement des TPE/PME à la transformation numérique.

            </div>
          </mat-checkbox>
          <button
            type="button"
            class="rc-btn-prev"
            mat-flat-button
            color="primary"
            [disabled]="isSubmitting"
            (click)="prev('company')">BACK
          </button>
          <button
            mat-flat-button
            type="button"
            color="accent"
            [disabled]="!formTerms.valid || isSubmitting"
            (click)="submit($event)">
            <span *ngIf="isSubmitting">SENDING...</span>
            <span *ngIf="!isSubmitting">SUBMIT</span>
          </button>
        </form>
        <div class="bpi-logos col-span-2" *ngIf="!isPreRegistration">
          <app-rc-logo [height]="'60px'" version="primary"></app-rc-logo>

          <cl-image public-id="v1643713177/ri_assets/Bpifrance.png">
            <cl-transformation width="140" crop="scale">
            </cl-transformation>
          </cl-image>
          <cl-image public-id="v1643713637/ri_assets/BlocGraphique_gouv_Europe_100dpi.gif">
            <cl-transformation width="275" crop="scale">
            </cl-transformation>
          </cl-image>
        </div>
      </div>
    </div>
  </div>
</div>
