<div class="rc-layout-split-container">
  <div class="rc-layout-split-left">
    Left
  </div>
  <div class="rc-layout-split-right">
    <div class="rc-layout-split-content">
      <div class="rc-join-form">

        <!-- Trainee -->
        <form
          [formGroup]="formMember"
          class="rc-form-grid"
          *ngIf="formStage === 'member'">

            <h1 class="col-span-2">Your details</h1>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'JOIN.labelFirstName' | translate }}</mat-label>
              <input formControlName="firstName" matInput>
              <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'JOIN.labelLastName' | translate }}</mat-label>
              <input formControlName="lastName" matInput>
              <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker class="col-span-2">
              <mat-label>{{ 'JOIN.labelJob' | translate }}</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{ role }}
                </mat-option>
              </mat-select>
              <mat-error align="end">{{ 'JOIN.invalidJobRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Telephone -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'JOIN.labelTel' | translate }}</mat-label>
              <input matInput formControlName="telephone">
              <mat-error align="end">{{ 'JOIN.invalidTelRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'JOIN.labelEmail' | translate }}</mat-label>
              <input formControlName="email" matInput>
              <mat-error align="end">{{ 'JOIN.invalidEmail' | translate }}</mat-error>
            </mat-form-field>

          <button
            mat-flat-button
            type="button"
            disabled>BACK</button>

          <button
            mat-flat-button
            color="accent"
            [disabled]="!formMember.valid"
            (click)="next(formMember, 'director')">NEXT</button>

        </form>

        <form class="rc-form-grid" [formGroup]="formDirector" *ngIf="formStage === 'director'">

            <h1 class="col-span-2">Company Owner/Director</h1>

          <!-- Company -->

          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelDirectorFirstName' | translate }}</mat-label>
            <input formControlName="bpiDirectorFirstName" matInput>
            <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker>
            <mat-label>{{ 'BPI.labelDirectorLastName' | translate }}</mat-label>
            <input formControlName="bpiDirectorLastName" matInput>
            <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field hideRequiredMarker class="col-span-2">
            <mat-label>{{ 'BPI.labelDirectorEmail' | translate }}</mat-label>
            <input formControlName="bpiDirectorEmail" matInput>
            <mat-error align="end">{{ 'JOIN.invalidEmail' | translate }}</mat-error>
          </mat-form-field>

          <button
            class="rc-btn-prev"
            mat-flat-button
            color="primary"
            (click)="prev('member')">BACK</button>

          <button
            mat-flat-button
            color="accent"
            [disabled]="!formDirector.valid"
            (click)="next(formMember, 'company')">NEXT</button>

        </form>

          <form class="rc-form-grid" [formGroup]="formCompany" *ngIf="formStage === 'company'">

            <h1 class="col-span-2">Business   Information</h1>

            <mat-form-field hideRequiredMarker class="col-span-2">
              <mat-label>{{ 'BPI.labelCompany' | translate }}</mat-label>
              <input formControlName="bpiCompanyName" matInput>
              <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Address -->
            <mat-form-field hideRequiredMarker class="col-span-2">
              <mat-label>{{ 'BPI.labelStreet' | translate }}</mat-label>
              <input matInput formControlName="bpiAddressStreet">
              <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- City -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'BPI.labelTown' | translate }}</mat-label>
              <input matInput formControlName="bpiAddressCity">
              <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Postcode -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'BPI.labelPostcode' | translate }}</mat-label>
              <input matInput formControlName="bpiAddressPostCode">
              <mat-error align="end">{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Siret -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'BPI.labelSiret' | translate }}</mat-label>
              <input matInput formControlName="bpiSiret">
              <mat-error align="end">{{ 'BPI.invalidSiret' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'BPI.labelTotalEmployees' | translate }}</mat-label>
              <mat-select formControlName="bpiEmployees">
                <mat-option *ngFor="let item of totalEmployees" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
              <mat-error align="end">{{ 'BPI.invalidSelectionRequired' | translate }}</mat-error>
            </mat-form-field>

            <button
              class="rc-btn-prev"
              mat-flat-button
              color="primary"
              (click)="prev('member')">BACK</button>

            <button
              mat-flat-button
              type="button"
              color="accent"
              [disabled]="!formCompany.valid"
              (click)="next(formCompany, 'terms')">NEXT</button>

          </form>



          <form class="rc-form-grid" [formGroup]="formTerms" *ngIf="formStage === 'terms'">

            <h1 class="col-span-2">Declarations</h1>

          <mat-checkbox formControlName="bpiDeclaration"  class="col-span-2">
            <div class="rc-txt-small" markdown ngPreserveWhitespaces>
              Je déclare que l'entreprise à laquelle j'appartiens :
              - Existe légalement depuis plus de 2 ans en France
              - A un chiffre d'affaires supérieur à 20 000€ (dernier exercice connu)
              - Est à jour de ses obligations fiscales et sociales
              - N'a pas déjà perçu pour les deux derniers exercices fiscaux et l'exercice fiscal en cours plus de 200 000 euros d'aides publiques (en dehors des aides Covid-19), conformément au règlement (UE) n°1407/2013 de la Commission européenne du 18 décembre 2013 relatif à l'application des articles 107 et 108 du traité sur le fonctionnement de l'Union européenne aux aides « de minimis », publié au Journal Officiel de l'Union européenne du 26 juin 2014 ou tout texte lui succédant[1]
              - N'est pas, à ce jour, en liquidation judiciaire
              - N'a pas déjà bénéficié de plus d'un accompagnement dans le cadre de ce programme (limité à 2 thématiques ou 2 personnes de la même entreprise)
            </div>
          </mat-checkbox>

          <mat-checkbox formControlName="bpiAuthorisation"  class="col-span-2">
            <div class="rc-txt-small" markdown ngPreserveWhitespaces>
              J'autorise Bpifrance et tout prestataire de Bpifrance à réaliser des contrôles sur la validité des informations listées ci-dessus.
            </div>
          </mat-checkbox>

          <mat-checkbox formControlName="bpiTerms"  class="col-span-2">
            <div class="rc-txt-small" markdown ngPreserveWhitespaces>
              J'atteste avoir connaissance que toute déclaration inexacte quant aux éléments susvisés :
              - Entraînerait la résiliation automatique avec effet immédiat du présent accord entre la société et l'Accompagnateur ;
              - Serait de nature à engager la responsabilité de la société ;
              - Impliquerait l'obligation pour la société de verser à l'Accompagnateur le montant total de l'accompagnement, et ce, sans sommation ni mise en demeure ou formalité judiciaire préalable, quinze (15) jours après l'envoi d'une lettre recommandée avec accusé de réception.
            </div>
          </mat-checkbox>

          <mat-checkbox formControlName="riTerms"  class="col-span-2">
            <div class="rc-txt-small" markdown>
              {{ 'JOIN.labelTerms' | translate: {
              brand: 'RC',
              toc: '',
              privacy: ''
            } }}</div>
          </mat-checkbox>

            <button
              class="rc-btn-prev"
              mat-flat-button
              color="primary"
              (click)="prev('member')">BACK</button>

            <button
              mat-flat-button
              type="button"
              color="accent"
              [disabled]="!formTerms.valid"
              (click)="submit()">SUBMIT</button>

          </form>

      </div>
    </div>
  </div>
</div>
