<div class="rc-layout-split-container">
  <div class="rc-layout-split-left">
    <rc-logo [height]="'64px'"></rc-logo>
    <h1>BPI Registration</h1>
    <p>Please complete the 3-stage registration, all fields are mandatory.</p>
    <ol>
      <li [class.rc-bolden]="formStage==='member'">Enter your contact details.</li>
      <li [class.rc-bolden]="formStage==='company'">Provide us with the company details.</li>
      <li [class.rc-bolden]="formStage==='terms'">Agree our terms and requirements.</li>
    </ol>
  </div>
  <div class="rc-layout-split-right">
    <div class="rc-layout-split-content">
      <div class="rc-join-form">
        <!-- User -->
        <form
          [formGroup]="formMember"
          class="rc-form-grid"
          *ngIf="formStage === 'member'">

            <h1 class="col-span-2">Your details</h1>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'JOIN.labelFirstName' | translate }}</mat-label>
              <input formControlName="bpi_forename" matInput>
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'JOIN.labelLastName' | translate }}</mat-label>
              <input formControlName="bpi_surname" matInput>
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker class="col-span-2">
              <mat-label>{{ 'JOIN.labelJob' | translate }}</mat-label>
              <mat-select formControlName="bpi_role">
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{ role }}
                </mat-option>
              </mat-select>
              <mat-error>{{ 'JOIN.invalidJobRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Telephone -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'JOIN.labelTel' | translate }}</mat-label>
              <input matInput formControlName="bpi_telephone">
              <mat-error>{{ 'JOIN.invalidTelRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'JOIN.labelEmail' | translate }}</mat-label>
              <input formControlName="bpi_email" matInput>
              <mat-error>{{ 'JOIN.invalidEmail' | translate }}</mat-error>
            </mat-form-field>

          <button
            type="button"
            mat-flat-button
            class="col-span-2"
            color="accent"
            [disabled]="!formMember.valid"
            (click)="next(formMember, 'company')">NEXT</button>

        </form>
        <!-- Business -->
        <form class="rc-form-grid" [formGroup]="formCompany" *ngIf="formStage === 'company'">

            <h1 class="col-span-2">Business   Information</h1>

            <mat-form-field hideRequiredMarker class="col-span-2">
              <mat-label>{{ 'BPI.labelCompany' | translate }}</mat-label>
              <input formControlName="bpi_company_name" matInput>
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Address -->
            <mat-form-field hideRequiredMarker class="col-span-2">
              <mat-label>{{ 'BPI.labelStreet' | translate }}</mat-label>
              <input matInput formControlName="bpi_company_address">
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- City -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'BPI.labelTown' | translate }}</mat-label>
              <input matInput formControlName="bpi_company_town">
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Postcode -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'BPI.labelPostcode' | translate }}</mat-label>
              <input matInput formControlName="bpi_company_post_code">
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Siret -->
            <mat-form-field hideRequiredMarker >
              <mat-label>{{ 'BPI.labelSiret' | translate }}</mat-label>
              <input matInput formControlName="bpi_siret">
              <mat-error>{{ 'BPI.invalidSiret' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'BPI.labelTotalEmployees' | translate }}</mat-label>
              <mat-select formControlName="bpi_company_employees">
                <mat-option *ngFor="let item of totalEmployees" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
              <mat-error>{{ 'BPI.invalidSelectionRequired' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'BPI.labelDirectorFirstName' | translate }}</mat-label>
              <input formControlName="bpi_director_forename" matInput>
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'BPI.labelDirectorLastName' | translate }}</mat-label>
              <input formControlName="bpi_director_surname" matInput>
              <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field hideRequiredMarker class="col-span-2">
              <mat-label>{{ 'BPI.labelDirectorEmail' | translate }}</mat-label>
              <input formControlName="bpi_director_email" matInput>
              <mat-error>{{ 'JOIN.invalidEmail' | translate }}</mat-error>
            </mat-form-field>


            <button
              type="button"
              class="rc-btn-prev"
              mat-flat-button
              color="primary"
              (click)="prev('member')">BACK</button>

            <button
              mat-flat-button
              type="button"
              color="accent"
              [disabled]="!formCompany.valid"
              (click)="next(formCompany, 'terms')">NEXT</button>

          </form>
        <!-- Declarations -->
        <form class="rc-form-grid" [formGroup]="formTerms" *ngIf="formStage === 'terms'">

          <h1 class="col-span-2">Declarations</h1>

          <mat-checkbox formControlName="bpi_company_qualifies"  class="col-span-2">
            <div class="rc-txt-small" markdown ngPreserveWhitespaces>
              **Je déclare que** l'entreprise à laquelle j'appartiens:
              - Existe légalement depuis plus de 2 ans en France
              - A un chiffre d'affaires supérieur à 20 000€ (dernier exercice connu)
              - Est à jour de ses obligations fiscales et sociales
              - N'a pas déjà perçu pour les deux derniers exercices fiscaux et l'exercice fiscal en cours plus de 200 000 euros d'aides publiques (en dehors des aides Covid-19), conformément au règlement (UE) n°1407/2013 de la Commission européenne du 18 décembre 2013 relatif à l'application des articles 107 et 108 du traité sur le fonctionnement de l'Union européenne aux aides « de minimis », publié au Journal Officiel de l'Union européenne du 26 juin 2014 ou tout texte lui succédant[1]
              - N'est pas, à ce jour, en liquidation judiciaire
              - N'a pas déjà bénéficié de plus d'un accompagnement dans le cadre de ce programme (limité à 2 thématiques ou 2 personnes de la même entreprise)
            </div>
          </mat-checkbox>

          <mat-checkbox formControlName="bpi_terms_accepted"  class="col-span-2">
            <div class="rc-txt-small" markdown ngPreserveWhitespaces>
              **J'autorise Bpifrance** et tout prestataire de Bpifrance à réaliser des contrôles sur la validité des informations listées ci-dessus and I accept the RI Terms of membership'
            </div>
          </mat-checkbox>

          <mat-checkbox formControlName="bpi_data_correct"  class="col-span-2">
            <div class="rc-txt-small" markdown ngPreserveWhitespaces>
              **J'atteste avoir connaissance** que toute déclaration inexacte quant aux éléments susvisés :
              - Entraînerait la résiliation automatique avec effet immédiat du présent accord entre la société et l'Accompagnateur ;
              - Serait de nature à engager la responsabilité de la société ;
              - Impliquerait l'obligation pour la société de verser à l'Accompagnateur le montant total de l'accompagnement, et ce, sans sommation ni mise en demeure ou formalité judiciaire préalable, quinze (15) jours après l'envoi d'une lettre recommandée avec accusé de réception.
            </div>
          </mat-checkbox>

            <button
              type="button"
              class="rc-btn-prev"
              mat-flat-button
              color="primary"
              [disabled]="isSubmitting"
              (click)="prev('company')">BACK</button>

            <button
              mat-flat-button
              type="button"
              color="accent"
              [disabled]="!formTerms.valid || isSubmitting"
              (click)="submit($event)">
              <span *ngIf="isSubmitting">SENDING...</span>
              <span *ngIf="!isSubmitting">SUBMIT</span>
            </button>

          </form>
      </div>
    </div>
  </div>
</div>
