<div class="rc-layout-split-container">

  <div class="rc-layout-split-left">
    <div class="rc-layout-split-content">
      <div *ngIf="isLoaded" class="rc-join-welcome" @fadeAnimation>
        <app-rc-logo [height]="'120px'"></app-rc-logo>

        <!-- Free Period -->
        <ng-container *ngIf="referrer.type === 'self'">
          <div>
            <markdown [data]="'JOIN.joinUsToday' | translate: { email: brand.email.support }"></markdown>
          </div>
        </ng-container>

        <ng-container *ngIf="referrer.type === 'member'">
          <div *ngIf="referrer.freeMembership">
            <markdown [data]="'JOIN.joinUsByReferralFree' | translate: { email: brand.email.support, referrer:
          referrer?.name, brand: brand.name  }"></markdown>
          </div>
          <div *ngIf="!referrer.freeMembership">
            <markdown [data]="'JOIN.joinUsByReferral' | translate: { email: brand.email.support, referrer:
          referrer?.name, brand: brand.name  }"></markdown>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <div class="rc-layout-split-right">
    <div class="rc-layout-split-content">
      <div class="rc-join-form" [ngSwitch]="newRegResult">

      <!-- Support Request sent -->
      <div *ngSwitchCase="'support-request-sent'">
        <div class="rc-centre">
          <img src="../../assets/images/icons/checkmark.gif" height="128" width="128" alt="Success"/>
        </div>
        <markdown [data]="'JOIN.joinSuccess' | translate: { brand: brand.name }"></markdown>
        <p><a [routerLink]="'/signin'">{{ 'JOIN.linkSignIn' | translate }}</a></p>
      </div>

      <!-- Self Register -->
      <div *ngSwitchCase="'self-registered'">
        <div class="rc-centre">
          <img src="../../assets/images/icons/checkmark.gif" height="128" width="128" alt="Success"/>
        </div>
        <markdown [data]="'JOIN.joinWelcome' | translate: { brand: brand.name }"></markdown>
      </div>


      <form
        style="transition: all .2s ease-out"
        *ngSwitchDefault
        #formJoin="ngForm"
        (ngSubmit)="formJoin.form.valid && preRegistrationCheck(formJoin.value)">
        <input [ngModel]="pendingMember.referral_code" type="hidden" name="referral_code">

        <!-- Duplicate Telephone No. -->
        <div *ngIf="duplicateField === 'tel'" class="rc-form-msg">
          <h1 class="rc-highlight">{{ 'JOIN.duplicateRegistration' | translate }}</h1>
          <markdown ngPreserveWhitespaces [data]="'JOIN.duplicateMobile' | translate"></markdown>
        </div>

        <!-- Duplicate Email -->
        <div *ngIf="duplicateField === 'email'" class="rc-form-msg">
          <h1 class="rc-highlight">{{ 'JOIN.duplicateRegistration' | translate }}</h1>
          <markdown ngPreserveWhitespaces [data]="'JOIN.duplicateEmail' | translate"></markdown>
        </div>

        <!-- Duplicate Telephone and Email -->
        <div *ngIf="duplicateField === 'both'" class="rc-form-msg">
          <h1 class="rc-highlight">{{ 'JOIN.duplicateRegistration' | translate }}</h1>
          <markdown ngPreserveWhitespaces [data]="'JOIN.duplicateMobileAndEmail' | translate"></markdown>
        </div>

        <div *ngIf="!duplicateField">
          <h1>{{ 'JOIN.headerContactDetails' | translate }}</h1>
        </div>

        <mat-form-field hideRequiredMarker style="width: 38%;">
          <mat-label>{{ 'JOIN.labelFirstName' | translate }}</mat-label>
          <input
            type="text"
            name="first_name"
            [(ngModel)]="pendingMember.first_name"
            matInput
            [placeholder]="'JOIN.placeholderFirstName' | translate"
            required
            autofocus>
          <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
        </mat-form-field>
        <span style="display: inline-block; width: 2%;"></span>
        <mat-form-field hideRequiredMarker style="width: 60%;">
          <mat-label>{{ 'JOIN.labelLastName' | translate }}</mat-label>
          <input
            type="text"
            name="last_name"
            [(ngModel)]="pendingMember.last_name"
            matInput
            [placeholder]="'JOIN.placeholderLastName' | translate"
            required>
          <mat-error>{{ 'JOIN.invalidRequired' | translate }}</mat-error>
        </mat-form-field>

        <!-- Role -->
        <mat-form-field hideRequiredMarker>
          <mat-label>{{ 'JOIN.labelJob' | translate }}</mat-label>
          <mat-select
            [(ngModel)]="pendingMember.job"
            name="job"
            required>
            <mat-option *ngFor="let job of jobs" [value]="job">
              {{ job }}
            </mat-option>
          </mat-select>
          <mat-error>{{ 'JOIN.invalidJobRequired' | translate }}</mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field hideRequiredMarker>
          <mat-label>{{ 'JOIN.labelEmail' | translate }}</mat-label>
          <input
            #email="ngModel"
            [(ngModel)]="pendingMember.email"
            matInput
            type="email"
            name="email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required>
          <mat-hint *ngIf="email?.invalid">{{ 'JOIN.hintEmail' | translate }}</mat-hint>
          <mat-error *ngIf="email?.errors">{{ 'JOIN.invalidEmail' | translate }}</mat-error>
        </mat-form-field>

        <!-- Telephone -->
        <mat-form-field hideRequiredMarker>
          <mat-label>{{ 'JOIN.labelTel' | translate }}</mat-label>
          <input
            [(ngModel)]="pendingMember.telephone"
            matInput
            type="tel"
            name="telephone"
            [placeholder]="'JOIN.placeholderTel' | translate"
            [pattern]="patternMobile"
            minlength="9"
            maxlength="14"
            required>
          <mat-error>{{ 'JOIN.invalidTelRequired' | translate }}</mat-error>
        </mat-form-field>

        <!-- Referral code -->
        <mat-form-field hideRequiredMarker>
          <mat-label>{{ 'JOIN.labelCode' | translate }}</mat-label>
          <input  [(ngModel)]="referrer.code"
                  matInput
                  type="text"
                  name="referral_code"
                  [placeholder]="'JOIN.placeholderCode' | translate">
        </mat-form-field>

        <mat-checkbox name="accepts_terms" [(ngModel)]="pendingMember.accepts_terms">
          <div class="rc-txt-small" markdown>
            {{ 'JOIN.labelTerms' | translate: {
            brand: this.brand.name,
            toc: this.brand.downloads.terms,
            privacy: this.brand.downloads.privacy
          } }}</div>
        </mat-checkbox>

        <span class="v-space-1"></span>

        <button
          type="submit"
          mat-flat-button
          [disabled]="isSubmitting"
          color="accent">
          {{ 'JOIN.labelBtnSubmit' | translate }}
        </button>


      </form>
    </div>
    </div>
  </div>
</div>
