<div class="rc-member-plans rc-dialog rc-dialog-med">


  <div style="display: flex;">
    <h2>{{ 'PLANS.titlePlans' | translate }}</h2>
    <span class="rc-space-filler"></span>
    <span>
      <button tabindex="-1" mat-button mat-dialog-close>CANCEL</button>
      <button tabindex="-1" mat-flat-button color="accent" [disabled]="!planChanged" (click)="upgradePlan()">CHANGE PLAN</button>
    </span>
  </div>

  <markdown ngpreservewhitespaces [data]="planInstructions"></markdown>

  <mat-dialog-content>

    <mat-tab-group
      [selectedIndex]="selectedTabIndex"
      dynamicHeight
      disableRipple
      mat-stretch-tabs
      mat-align-tabs="center">

      <!-- MONTHLY PLANS -->
      <mat-tab label="MONTHLY">
        <mat-selection-list
          [multiple]="false"
          (selectionChange)="selectPlan(selectedOptions[0])"
          [(ngModel)]="selectedOptions">
          <mat-list-option
            *ngFor="let plan of plans.monthly"
            [disabled]="exceedsPlan(plan.product_max_restaurants)"
            [value]="plan.product_id">
            <div class="content">
              <div>
                <h3>
                  {{ plan.product_name }}
                  <ng-container
                    *ngIf="isCurrentPlan(plan.product_id)">({{ 'PLANS.labelCurrentPlan' | translate }})
                  </ng-container>
                </h3>
                <p>{{ plan.product_description }}</p>
              </div>
              <div class="rc-space-filler"></div>
              <div>
                <h3
                  style="text-align: right">{{ plan.product_price | currency: data.currencyCode }}
                  <span>Monthly</span>
                </h3>

              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </mat-tab>
      <!-- YEARLY PLANS -->
      <mat-tab label="YEARLY">
        <mat-selection-list
          disableRipple
          [multiple]="false"
          (selectionChange)="selectPlan(selectedOptions[0])"
          [(ngModel)]="selectedOptions">
          <mat-list-option
            *ngFor="let plan of plans.yearly"
            [disabled]="exceedsPlan(plan.product_max_restaurants)"
            [value]="plan.product_id">
            <div class="content">
              <div>
                <h3>{{ plan.product_name }}
                  <ng-container *ngIf="isCurrentPlan(plan.product_id)">(current package)</ng-container></h3>
                <p>{{ plan.product_description }}</p>
              </div>
              <div class="rc-space-filler"></div>
              <div>
                <h3
                  style="text-align: right">{{ plan.product_price | currency: data.currencyCode }}
                  <span>Yearly</span>
                </h3>

              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </mat-tab>

    </mat-tab-group>

  </mat-dialog-content>

</div>
