<div class="rc-join">
  <div class="rc-join-info-container rc-options">
    <div class="rc-join-info">
      <a class="rc-back"
         routerLink="/join"
         matTooltip="Back to Member contact details">
        <mat-icon>arrow_back</mat-icon>Back</a>
      <span><img src="assets/images/rc-logo-trans-white.svg" alt="Restaurant Collective Logo"></span>
      <div markdown>
        <h1>2: Choose Membership Options</h1>
        <p>Please choose from monthly or yearly Restaurant Collective membership subscriptions.</p>
        <p>You will have the opportunity to review you payment and apply any promo codes on the next and final screen.</p>
      </div>
    </div>
  </div>
  <div class="rc-join-form rc-options">
    <h1>Select an option:</h1>
    <div class="rc-subscription">
      <h2>Monthly Subscription</h2>
      <p>Asdfsfds</p>
      <button mat-flat-button color="primary">MONTHLY SUBSCRIPTION</button>
    </div>
    <div class="rc-subscription">
      <h2>Monthly Subscription</h2>
      <p>Asdfsfds</p>
      <button mat-flat-button color="primary">ANNUAL SUBSCRIPTION</button>
    </div>
  </div>
</div>
