<div class="rc-layout-split-container">
  <div class="rc-layout-split-left">
    <div class="rc-layout-split-content">
      <rc-logo [height]="'100px'"></rc-logo>
      <a class="rc-back"
         routerLink="/join"
         matTooltip="Back to Member contact details">
        <mat-icon>arrow_back</mat-icon>Back</a>
      <markdown [data]="'MembershipOptions.Instructions' | translate: transParams"></markdown>
    </div>
  </div>
  <div class="rc-layout-split-right">
    <div class="rc-layout-split-content">

      <!-- MONTHLY -->
      <div class="rc-subscription">
        <h2>MONTHLY SUBSCRIPTION</h2>
        <p><strong>Pay just £9.99 per month</strong> for full access to all the benefits of Restaurant Collective membership.</p>
        <button
          mat-flat-button
          color="accent"
          (click)="checkout('membership_monthly')"
          [disabled]="waiting">
          PAY MONTHLY
        </button>
      </div>

      <!-- YEARLY -->
      <div class="rc-subscription">
        <h2>ANNUAL SUBSCRIPTION</h2>
        <p><strong>Pay £99 per year</strong> and you'll get the equivalent of 2 months FREE. All of the same
          Restaurant Collective benefits, just a bit cheaper!
        </p>
        <p><strong>AND</strong>, if you sign up for a yearly subscription before the 30 April 2021, then your fees will
          be frozen, for life!</p>
        <button
          mat-flat-button
          color="accent"
          (click)="checkout('membership_yearly')"
          [disabled]="waiting">
          PAY YEARLY
        </button>
      </div>

      <!-- TERMS -->
      <markdown class="rc-txt-small"
                [data]="'MembershipOptions.Terms' | translate: transParams"></markdown>


    </div>
  </div>
</div>
<!--<hr><pre>sessionId: {{ stripeSessionId | json }}</pre><hr>-->

