<div class="rc-layout-split-container">
  <div class="rc-layout-split-left">
    <div class="rc-layout-split-content">
      <a class="rc-back"
         routerLink="/join"
         matTooltip="Back to Member contact details">
        <mat-icon>arrow_back</mat-icon>Back</a>
      <span class="rc-logo">
        <img src="assets/images/rc-logo-trans-white.svg" alt="Restaurant Collective Logo">
      </span>
      <div markdown>
        <h1>Membership</h1>
        <p>Please select your preferred subscription option.</p>
        <p>Once you've made your choice you'll be asked to review your selection and invited to pay securely online
          using a debit or credit card.</p>
      </div>
    </div>
  </div>
  <div class="rc-layout-split-right">
    <div class="rc-layout-split-content">
      <h1>Subscription Options:</h1>
      <div class="rc-subscription">
        <h2>MONTHLY SUBSCRIPTION</h2>
        <p><strong>Pay just £9.99 per month</strong> for full access to all the benefits of Restaurant Collective membership.</p>
        <button
          mat-flat-button
          color="primary"
          (click)="checkout('membership_monthly')"
          [disabled]="waiting">
          PAY MONTHLY
        </button>
      </div>
      <div class="rc-subscription">
        <h2>ANNUAL SUBSCRIPTION</h2>
        <p><strong>Pay £99 per year</strong> and you'll get the equivalent of 2 months FREE. All of the same
          Restaurant
          Collective benefits, just a bit cheaper!
        </p>
        <button
          mat-flat-button
          color="primary"
          (click)="checkout('membership_yearly')"
          [disabled]="waiting">
          PAY YEARLY
        </button>
      </div>
      <p class="rc-txt-small">Please take the time to read the <a>Terms of Membership</a> and <a>Privacy Policy</a>.
        By becoming a member of Restaurant Collective you are confirming your acceptance of these terms.</p>
    </div>
  </div>
</div>
<hr><pre>sessionId: {{ stripeSessionId | json }}</pre><hr>


