<div class="rc-content-container full-width">
  <mat-toolbar class="rc-toolbar-section">
    <span>{{ 'CMS.EVENTS.titleEvents' | translate }}</span>
    <span class="rc-space-filler"></span>
    <span class="rc-toolbar-actions">
          <button
            mat-icon-button>
              <mat-icon>help_outline</mat-icon>
          </button>
      <button mat-icon-button
              matTooltip="{{ 'CMS.EVENTS.tipFilter' | translate }}">
            <mat-icon>filter_list</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="addEvent()"
                  matTooltip="{{ 'CMS.EVENTS.tipAddEvent' | translate }}">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </span>
  </mat-toolbar>
  <div class="rd-grid-auto-events">
    <ng-container *ngFor="let event of events$ | async">
    <div class="rd-card" (click)="editEvent(event)">
      <div class="rd-card-image">
        <img [src]="event.offer_image" alt="">
      </div>
      <div class="rd-card-content">
        <h2>{{ event.offer_tag }}</h2>
        <h3>{{ event.offer_strapline }}</h3>
        <markdown>
          {{ event.offer_text }}
        </markdown>
        <a [href]="event.offer_link" target="_blank">More information</a>
      </div>
    </div>
    </ng-container>

  </div>
</div>
