<div class="rd-dialog">

  <div mat-dialog-title>
    <div class="rd-dialog-header">
      <span class="title">{{ formLabel }}</span>
      <button mat-icon-button tabindex="-1" [matMenuTriggerFor]="menu"><mat-icon>more_vertical
      </mat-icon></button>
    </div>
  </div>

  <mat-menu #menu="matMenu">

    <button mat-menu-item>
      <mat-icon>public_off</mat-icon>
      <span>Deactivate this event</span>
    </button>
    <button mat-menu-item>
      <mat-icon>control_point_duplicate</mat-icon>
      <span>Clone this event</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete this event</span>
    </button>

  </mat-menu>


  <mat-dialog-content>
    <form [formGroup]="eventFormGroup" class="rd-grid-form">
      <mat-form-field>
        <mat-label>Event category</mat-label>
        <mat-select formControlName="category" placeholder="Select a category">
          <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
            {{ category.data.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="span-cols">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field class="span-cols">
        <mat-label>Subtitle</mat-label>
        <input matInput formControlName="subtitle" />
      </mat-form-field>
      <mat-form-field class="span-cols">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field class="span-cols">
        <mat-label>Link</mat-label>
        <input matInput formControlName="link" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Event dates</mat-label>
        <mat-date-range-input [rangePicker]="eventRange">
          <input matStartDate
                 placeholder="Start date"
                 formControlName="eventStart"
                 (dateChange)="addEventDate('eventStart', $event)">
          <input matEndDate
                 placeholder="End date"
                 formControlName="eventEnd"
                 (dateChange)="addEventDate('eventEnd',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="eventRange"></mat-datepicker-toggle>
        <mat-date-range-picker #eventRange>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Marketing Dates</mat-label>
        <mat-date-range-input [rangePicker]="marketingRange">
          <input matStartDate
                 placeholder="Start date"
                 formControlName="marketingStart"
                 (dateChange)="addEventDate('marketingStart', $event)">
          <input matEndDate
                 placeholder="End date"
                 formControlName="marketingEnd"
                 (dateChange)="addEventDate('marketingEnd',$event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="marketingRange"></mat-datepicker-toggle>
        <mat-date-range-picker #marketingRange>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

    </form>

  </mat-dialog-content>
  <mat-dialog-actions class="rc-flex-end">
    <button mat-button mat-dialog-close="false">CANCEL</button>
    <button mat-button>SAVE</button>
  </mat-dialog-actions>
</div>
