<div class="mdc-layout-grid">

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">





    <!--<h2>{{ section_heading }}</h2>-->
    <!--<span class="rc-spacefill"></span>-->

    <!--<mat-select-->
    <!--class="rc-full-width"-->
    <!--name="financial_graph_selector"-->
    <!--[placeholder]="'Benchmark.GraphSelector' | translate"-->
    <!--[(ngModel)]="graphDataSelection"-->
    <!--(ngModelChange)="setGraphData(graphDataSelection.index)">-->
    <!--<mat-option *ngFor="let graphoption of graphDataOptions;"-->
    <!--[value]="graphoption">{{ graphoption.label }}-->
    <!--</mat-option>-->
    <!--&lt;!&ndash;<mat-option *ngFor= "let calculatedoption of calculatedDataOptions"&ndash;&gt;-->
    <!--&lt;!&ndash;[value] = "calculatedoption">{{ calculatedoption.label }}&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
    <!--</mat-select>-->

    <mat-card>
        <mat-card-title class="rc-fs-graph-card">
        {{ section_heading }}
        <span class="rc-spacefill"></span>
        <mat-button-toggle-group
          #fsDataView="matButtonToggleGroup"
          (change)="setFSView(fsDataView.value)"
          class="rc-card-toggle"
          color="primary">
          <mat-button-toggle value="review" checked="true">
            Review
          </mat-button-toggle>
          <mat-button-toggle value="benchmark">
            Benchmark
          </mat-button-toggle>
        </mat-button-toggle-group>

        </mat-card-title>
      <span class="rc-card-label">{{ line_ChartHeading }}</span>
      <div
        id="benchmark_chart"
        class="rc-chart">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <!--This also taken out from the above to prevent the container bug-->
      <!--[chartData]="line_ChartData"-->
      <!--[chartOptions]="line_ChartOptions"-->
      <!--chartType="LineChart"-->
      <!--GoogleChart-->

      <button
        mat-icon-button
        (click)="printGraph()"
        matTooltip="Print Graph"
        matTooltipPosition="above">
        <mat-icon>print</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="saveGraph()"
        matTooltip="Save Graph"
        matTooltipPosition="above">
        <mat-icon>save</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="addSnapshot()"
        matTooltip="Add to Snapshots"
        matTooltipPosition="above">
        <mat-icon>add_a_photo</mat-icon>
      </button>
    </mat-card>
  </div>

  <div style="padding-left: 16px;" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
    <h2>Associated Restaurants</h2>
    <div *ngIf="review">
      <div *ngFor="let rest of restaurants; let irest = index">
        <mat-checkbox
          name="rest{{ irest }}"
          value="rest.plot_candidate"
          [(ngModel)]="rest.plot_candidate"
          (change)="plotChanged()"
          [disabled]="!rest.financial_data">
          {{ rest.restaurant_name }}
        </mat-checkbox>
      </div>
      <p><br />  </p>
      <div>
        <mat-checkbox
          name="group"
          value="view_group"
          [(ngModel)]="view_group"
          (change)="viewGroup()"
          [disabled]="!view_group_enabled">
          Show as Grouped Data
        </mat-checkbox>
      </div>
    </div>
    <div *ngIf="!review">
      <mat-radio-group [(ngModel)]="my_benchmark_candidate">
        <div *ngFor="let rest of restaurants; let irest = index">
          <mat-radio-button
            name="bench{{ irest }}"
            [value]="rest.restaurant_name"
            (change)="benchmarkChanged(irest)"
            [disabled]="!rest.financial_data">
            {{ rest.restaurant_name }}
          </mat-radio-button>
        </div>
      </mat-radio-group>

      <div>
        <p><br />  </p>
      </div>
      <div>
        <mat-form-field class="rc-full-width">
        <mat-select
          name="financial_group_selector"
          placeholder="Restaurant Group"
          [(ngModel)]="groupDataSelection"
          (ngModelChange)="setGroupData($event)">
          <mat-option *ngFor= "let groupoption of groupDataOptions"
                     [value] = "groupoption">{{ groupoption.label }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div>
        <p><br />  </p>
      </div>
      <div>
        <mat-form-field class="rc-full-width">
        <mat-select
          name="financial_area_selector"
          [placeholder]="'Benchmark.AreaSelector' | translate"
          [(ngModel)]="areaDataSelection"
          (ngModelChange)="setAreaData($event)">
          <mat-option *ngFor= "let areaoption of areaDataOptions"
                     [value] = "areaoption">{{ areaoption.label }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <div>
        <p><br />  </p>
      </div>
      <div>
        <mat-form-field class="rc-full-width">
        <mat-select
          name="financial_cuisine_selector"
          [placeholder]="'Benchmark.CuisineSelector' | translate"
          [(ngModel)]="cuisineDataSelection"
          (ngModelChange)="setCuisineData($event)">
          <mat-option *ngFor= "let cuisineoption of cuisineDataOptions"
                     [value] = "cuisineoption">{{ cuisineoption.label }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      <p><br />  </p>
      <div>
        <mat-checkbox
          name="include"
          value="include_restaurant"
          [(ngModel)]="include_restaurant"
          (change)="includeRestaurant()">
          Include {{ current_restaurant }} in benchmarking set?
        </mat-checkbox>
      </div>
      <div>
        <p></p>
      </div>
      {{ benchmarks_text }}
    </div>
  </div>

  <!--<div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-4">-->

  <div
    *ngFor="let graph of line_sub_ChartOptions; let igraph = index"
    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 rc-fs-graphlet" >
    <mat-card (click)="switchGraph(igraph)">

      <!--<mat-card-title>{{ lbl }}</mat-card-title>-->

      <div
        id="sub_chart_{{ igraph }}"
        class="rc-sub-chart">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

    </mat-card>

    <!--The problem here was that we drive the graph from BOTH the HTML-->
    <!--AND the TS. So this bit here was resetting the graph. Could be-->
    <!--that my references are wrong, but removing this now works...-->
    <!--[chartData]="line_sub_ChartData[igraph]"-->
    <!--[chartOptions]="line_sub_ChartOptions[igraph]"-->
    <!--chartType="LineChart"-->
    <!--GoogleChart-->

  </div>
  <!--<pre>{{ graphDataOptions | json }}  </pre>-->

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <mat-toolbar class="rc-section-toolbar">

      <span></span>
      <span class="rc-toolbar-title rc-link-like">SNAPSHOTS</span>
      <span class="rc-spacefill"></span>

      <span class="rc-section-toolbar-actions">
         <button
           mat-icon-button
           (click)="deleteSnapshot()"
           matTooltip="Delete Last Snapshot"
           matTooltipPosition="above">
           <mat-icon>delete_forever</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="saveSnapshots()"
          matTooltip="Save Snapshots"
          matTooltipPosition="above">
          <mat-icon>save</mat-icon>
        </button>
          <button
            mat-icon-button
            (click)="addSnapshot()"
            matTooltip="Add to Snapshots"
            matTooltipPosition="above">
            <mat-icon>add_a_photo</mat-icon>
          </button>
        </span>

    </mat-toolbar>
  </div>

  <!--<div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-2">-->
  <!--<h2>Snapshots</h2>-->
  <!--</div>-->
  <!--<div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-2">-->
  <!--<button-->
  <!--mat-icon-button-->
  <!--(click)="deleteSnapshot()"-->
  <!--matTooltip="Delete Last Snapshot"-->
  <!--matTooltipPosition="above">-->
  <!--<mat-icon>delete_forever</mat-icon>-->
  <!--</button>-->
  <!--<button-->
  <!--mat-icon-button-->
  <!--(click)="printSnapshots()"-->
  <!--matTooltip="Print Snapshots"-->
  <!--matTooltipPosition="above">-->
  <!--<mat-icon>print</mat-icon>-->
  <!--</button>-->
  <!--</div>-->

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"
           *ngFor="let snapshot of snapshots; let isnap = index">
        <img
          style="width:100%;max-width: 100%; height:auto;border:1px solid black;"
          src="{{ snapshot }}"/>
      </div>
    </div>
  </div>

</div>


