<!--<div class="mdc-layout-grid">-->

<!--  <div class="mdc-layout-grid__inner">-->

<!--  <div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-12">-->
<!--    <mat-toolbar class="rc-toolbar rc-toolbar-section">-->
<!--      <span>{{ 'Affiliates.Offers' | translate }}</span>-->
<!--      <span class="rc-space-filler"></span>-->
<!--      <span class="rc-section-toolbar-actions">-->

<!--        <button-->
<!--          mat-icon-button-->
<!--          (click)="help.dspHelp('cms-affiliates', restaurant)">-->
<!--          <mat-icon>help_outline</mat-icon>-->
<!--        </button>-->

<!--      </span>-->
<!--    </mat-toolbar>-->
<!--  </div>-->



<!--  </div>-->
<!--</div>-->
