
<div class="rc-hub">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <!-- Apps/Services -->
      <div
        *ngFor="let feature of features"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">

        <div
          class="rc-hub-cms"
          *ngIf="feature.id === 'cms'"
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="menu">

          <!-- If multiple restaurants -->
          <span class="rc-hub-cms-icons">
            <mat-icon *ngFor="let icon of restaurants">store</mat-icon>
          </span>

          <!-- multi restaurant selection -->
          <mat-menu #menu="matMenu">
            <button
              *ngFor="let restaurant of restaurants"
              [routerLink]="['/restaurants', restaurant.restaurant_id, 'cms', 'dashboard']"
              mat-menu-item>
              <mat-icon>store</mat-icon>
              <span>{{ restaurant.restaurant_name }}</span>
            </button>
          </mat-menu>

        </div>

        <mat-card class="rc-card-app" (click)="launchFeature(feature)">
          <img src="assets/images/icons/{{feature.icon}}.svg" alt="App Icon">
          <h2>{{ feature.name | uppercase }}</h2>
          <p>{{ feature.description }}</p>
          <span>{{ feature.status }}</span>
        </mat-card>

      </div>
    </div>
  </div>
</div>



