<header>

  <mat-toolbar class="rc-section-toolbar">

    <button mat-icon-button
            matTooltip="Back to profile"
            [routerLink]="['/profile']"
            [routerLinkActive]="['rc-link-active']">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span class="rc-toolbar-title rc-link-like">{{ 'FS.Data' | translate }}</span>
    <span class="rc-space-filler"></span>

    <span class="rc-section-toolbar-actions rc-media-small-hide">

      <button
        mat-icon-button
        (click)="setGraphOptions('profit')"
        [matTooltip]="'FSInput.Profit' | translate">
        <mat-icon>trending_up</mat-icon>
      </button>

      <!--[routerLinkActive]="['rc-link-active']"-->
      <!--[routerLink]="['profit']"-->

      <button
        mat-icon-button
        (click)="setGraphOptions('balance')"
        [matTooltip]="'FSInput.Balance' | translate">
        <mat-icon>equalizer</mat-icon>
      </button>

      <!--[routerLink]="['balance']"-->
      <!--[routerLinkActive]="['rc-link-active']"-->

      <button
        mat-icon-button
        (click)="setGraphOptions('staff')"
        [matTooltip]="'FSInput.Staff' | translate">
        <mat-icon>people</mat-icon>
      </button>

      <!--[routerLink]="['staff']"-->
      <!--[routerLinkActive]="['rc-link-active']"-->

       <button
         mat-icon-button
         (click)="setGraphOptions('property')"
         [matTooltip]="'FSInput.Property' | translate">
        <mat-icon>store</mat-icon>
      </button>

      <!--[routerLink]="['property']"-->
      <!--[routerLinkActive]="['rc-link-active']"-->

       <button
         mat-icon-button
         (click)="setGraphOptions('turnover')"
         [matTooltip]="'FSInput.Normalised' | translate">
        <mat-icon>functions</mat-icon>
      </button>

      <!--[routerLink]="['turnover']"-->
      <!--[routerLinkActive]="['rc-link-active']"-->

      <button
        mat-icon-button
        (click)="setGraphOptions('edit')"
        [matTooltip]="'FS.Add' | translate"
        matTooltipPosition="below">
        <mat-icon>create</mat-icon>
      </button>

      <!--[routerLink]="['edit']"-->
      <!--[routerLinkActive]="['rc-link-active']"-->

    </span>

    <span class="rc-section-toolbar-actions rc-media-med">
      <button
        mat-icon-button
        [matMenuTriggerFor]="fsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>

  </mat-toolbar>

  <mat-menu #fsMenu="matMenu">

    <a mat-menu-item [routerLink]="['profit']">
      <mat-icon>trending_up</mat-icon>
      <span>{{ 'FSInput.Profit_TO' | translate }}</span>
    </a>
    <a mat-menu-item [routerLink]="['balance']">
      <mat-icon>equalizer</mat-icon>
      <span>{{ 'FSInput.Balance' | translate }}</span>
    </a>
    <a mat-menu-item [routerLink]="['staff']">
      <mat-icon>people</mat-icon>
      <span>{{ 'FSInput.Staff' | translate }}</span>
    </a>
    <a mat-menu-item [routerLink]="['property']">
      <mat-icon>store</mat-icon>
      <span>{{ 'FSInput.Property' | translate }}</span>
    </a>
    <a mat-menu-item [routerLink]="['turnover']">
      <mat-icon>functions</mat-icon>
      <span>{{ 'FSInput.Normalised' | translate }}</span>
    </a>

  </mat-menu>

</header>

<div class="rc-cms">

  <router-outlet></router-outlet>

</div>


