<div class="rc-dialog rc-dialog-small">

  <h1 mat-dialog-title>{{ 'SETTINGS.contacts.titleUpdateContacts' | translate }}</h1>

  <form #formProfile="ngForm">
    <mat-dialog-content>
      <section>
        <div>
          <mat-form-field hideRequiredMarker style="width: 38%;">
            <mat-label>{{ 'SETTINGS.contacts.labelFirstName' | translate }}</mat-label>
            <input
              name="member_first_name"
              matInput
              [(ngModel)]="member.member_first_name"
              required>
            <mat-error align="end">{{ 'SETTINGS.contacts.invalidRequired' | translate }}</mat-error>
          </mat-form-field>
          <span style="display: inline-block; width: 2%;"></span>
          <mat-form-field hideRequiredMarker style="width: 60%;">
            <mat-label>{{ 'SETTINGS.contacts.labelLastName' | translate }}</mat-label>
            <input
              name="member_last_name"
              matInput
              [(ngModel)]="member.member_last_name"
              required>
            <mat-error align="end">{{ 'SETTINGS.contacts.invalidRequired' | translate }}</mat-error>
          </mat-form-field>

          <!-- Role -->
          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'SETTINGS.contacts.labelJobRole' | translate }}</mat-label>
            <mat-select
              [(ngModel)]="member.member_role"
              name="member_role"
              required>
              <mat-option *ngFor="let job of jobRoles" [value]="job">
                {{ job }}
              </mat-option>
            </mat-select>
            <mat-error align="end">{{ 'JOIN.invalidJobRequired' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'SETTINGS.contacts.labelEmail' | translate }}</mat-label>
            <input
              name="member_email"
              matInput
              [(ngModel)]="member.member_email"
              required
              email>
            <mat-error align="end">{{ 'SETTINGS.contacts.invalidEmail' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="rc-full-width">
            <mat-label>{{ 'SETTINGS.contacts.labelTel' | translate }}</mat-label>
            <input
              name="member_telephone"
              type="text"
              matInput
              #tel="ngModel"
              [(ngModel)]="member.member_telephone"
              minlength="11"
              pattern="^[0-9 ]+$"
              required>
            <mat-error align="end">{{ 'SETTINGS.contacts.invalidMobile' | translate }}</mat-error>
          </mat-form-field>

        </div>
      </section>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button
        type="button"
        tabindex="-1"
        (click)="contactsDialog.close({ confirmed: false })"
        mat-button
        [disabled]="isSubmitting">
        {{ 'SETTINGS.contacts.labelBtnCancel' | translate }}
      </button>

      <button
        mat-button
        (click)="contactsDialog.close({ confirmed: true, member: member })"
        color="accent"
        [disabled]="isSubmitting || !formProfile.form.valid">
        {{ 'SETTINGS.contacts.labelBtnUpdate' | translate | uppercase }}
      </button>

    </mat-dialog-actions>

  </form>

</div>

