<div class="rc-dialog rc-dialog-image-upload">

  <h2 mat-dialog-title>{{ 'SETTINGS.titleUploadAvatar' | translate }}</h2>

  <mat-dialog-content>

    <div>

      <form>
        <label class="image-select" for="imgUpload">

          <div class="image-container">
            <img id="imgPreview" [src]="imgPreviewSrc">
          </div>

          <div class="image-select-label">
            <span  *ngIf="!inProgress">{{ 'SETTINGS.labelSelectImage' | translate | uppercase }}</span>
            <span *ngIf="inProgress">{{ 'SETTINGS.labelLoadingImage' | translate | uppercase }}</span>
          </div>

        </label>

        <input
          type="file"
          id="imgUpload"
          class="rc-hide"
          #fileInput
          ng2FileSelect
          [uploader]="uploader"
          (change)="inProgress = true"
          multiple />
      </form>

      <mat-progress-bar color="accent" *ngIf="inProgress" [value]="uploader?.progress"></mat-progress-bar>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button
      tabindex="-1"
      mat-button
      mat-dialog-close>
      {{ 'SETTINGS.labelBtnCancel' | translate }}
    </button>
    <button
      tabindex="-1"
      mat-button
      (click)="deleteImage()"
      [disabled]="inProgress">
      {{ 'SETTINGS.labelBtnDelete' | translate }}
    </button>
    <button
      mat-button
      (click)="updateImage()"
      color="accent"
      [disabled]="!imgPrimed">
      {{ 'SETTINGS.labelBtnUpload' | translate | uppercase }}
    </button>
  </mat-dialog-actions>

</div>
