<div class="rc-dialog rc-dialog-image-upload">

  <h2 mat-dialog-title>{{ 'SETTINGS.titleUploadAvatar' | translate }}</h2>

  <mat-dialog-content>

    <div>

      <form>
        <label class="image-select" for="imgUpload">

          <div class="image-container">
            <div *ngIf="!imgPreviewSrc" style="padding: 8px;">
              <svg  viewBox="0 0 240 240">
                <g>
                  <g fill="#ddd">
                    <path d="M120,0 C53.76,0 0,53.76 0,120 C0,186.24 53.76,240 120,240 C186.24,240 240,186.24 240,120 C240,53.76 186.24,0 120,0 Z M120,36 C139.92,36 156,52.08 156,72 C156,91.92 139.92,108 120,108 C100.08,108 84,91.92 84,72 C84,52.08 100.08,36 120,36 Z M120,206.4 C90,206.4 63.48,191.04 48,167.76 C48.36,143.88 96,130.8 120,130.8 C143.88,130.8 191.64,143.88 192,167.76 C176.52,191.04 150,206.4 120,206.4 Z" id="Shape"></path>
                  </g>
                </g>
              </svg>
            </div>

            <img id="imgPreview" [src]="imgPreviewSrc">
          </div>

          <div class="image-select-label">
            <span  *ngIf="!inProgress">{{ 'SETTINGS.labelSelectImage' | translate | uppercase }}</span>
            <span *ngIf="inProgress">{{ 'SETTINGS.labelLoadingImage' | translate | uppercase }}</span>
          </div>

        </label>

        <input
          type="file"
          id="imgUpload"
          class="rc-hide"
          #fileInput
          ng2FileSelect
          [uploader]="uploader"
          (change)="inProgress = true"
          multiple />
      </form>

      <mat-progress-bar color="accent" *ngIf="inProgress" [value]="uploader?.progress"></mat-progress-bar>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button
      tabindex="-1"
      mat-button
      mat-dialog-close>
      {{ 'SETTINGS.labelBtnCancel' | translate }}
    </button>
    <button
      tabindex="-1"
      mat-button
      (click)="deleteImage()"
      [disabled]="inProgress">
      {{ 'SETTINGS.labelBtnDelete' | translate }}
    </button>
    <button
      mat-button
      (click)="updateImage()"
      color="accent"
      [disabled]="!imgPrimed">
      {{ 'SETTINGS.labelBtnUpload' | translate | uppercase }}
    </button>
  </mat-dialog-actions>

</div>
