<div class="rc-dialog rc-dialog-small">



  <form
    #pwdUpdateForm="ngForm"
    novalidate
    (ngSubmit)="pwdUpdateForm.form.valid && onPwdSubmit(pwdUpdateForm.form.value)">

    <h2 style="margin: 0;" mat-dialog-title>{{ 'SETTINGS.password.header' | translate }}</h2>
    <mat-dialog-content>
      <span style="display: inline-block; margin: 0 0 16px;">{{ 'SETTINGS.password.instructions' | translate }}</span>

      <mat-form-field hideRequiredMarker class="rc-full-width">
        <!-- Current -->
        <mat-label>{{ 'SETTINGS.password.currentPwd' | translate }}</mat-label>
        <input
          name="old_pwd"
          [type]="hidePwd ? 'password' : 'text'"
          matInput
          maxlength="100"
          ngModel
          required>
        <button type="button" mat-icon-button matIconSuffix (click)="hidePwd = !hidePwd">
          <mat-icon>{{ hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="rc-flex-end">{{ 'SETTINGS.password.invalidRequired' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker class="rc-full-width">
        <mat-label>{{ 'SETTINGS.password.labelNewPwd' | translate }}</mat-label>
        <input
          name="new_pwd"
          [type]="hidePwd ? 'password' : 'text'"
          matInput
          maxlength="100"
          ngModel
          required
          minlength="8"
          pwdMatch="confirm_new_pwd" reverse="true">
        <button type="button" mat-icon-button matIconSuffix (click)="hidePwd = !hidePwd">
          <mat-icon>{{ hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="rc-flex-end">{{ 'SETTINGS.password.invalidPwdLength' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field hideRequiredMarker class="rc-full-width">
        <mat-label>{{ 'SETTINGS.password.labelConfirm' | translate }}</mat-label>
        <input
          name="confirm_new_pwd"
          [type]="hidePwd ? 'password' : 'text'"
          matInput
          maxlength="100"
          ngModel
          required
          pwdMatch="new_pwd">
        <button type="button" mat-icon-button matIconSuffix (click)="hidePwd = !hidePwd">
          <mat-icon>{{ hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="rc-flex-end">{{ 'SETTINGS.password.invalidNoMatch' | translate }}</mat-error>
      </mat-form-field>
  </mat-dialog-content>

    <mat-dialog-actions align="end">

      <button
        tabindex="-1"
        type="button"
        [mat-dialog-close]="false"
        mat-button
        [disabled]="isSubmitting">
        {{ 'SETTINGS.password.labelBtnCancel' | translate }}
      </button>

      <button
        mat-button
        color="accent"
        [disabled]="isSubmitting || !loginForm.form.valid">
        {{ 'SETTINGS.password.labelBtnUpdate' | translate | uppercase }}
      </button>

    </mat-dialog-actions>


  </form>
</div>
