<div class="rc-section rc-section-profile rc-section-settings">
  <!-- page grid -->
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <!-- col 1 -->
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <div class="mdc-layout-grid__inner">

          <!-- Contacts -->
          <mat-card
            class="rc-card-rounded mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="rc-card-title">
              <h2>{{ 'SETTINGS.titleMember' | translate }}</h2>
              <span class="rc-space-filler"></span>
              <span>
                <button
                  mat-icon-button
                  (click)="updateProfile()"
                  matTooltip="{{ 'SETTINGS.tipEdit' | translate }}">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="help.dspHelp('profile-user')"
                  matTooltip="{{ 'SETTINGS.tipHelp' | translate }}">
                  <mat-icon>help_outline</mat-icon>
                </button>
              </span>
            </div>
            <div class="rc-card-subtitle">
              {{ 'SETTINGS.infoMember' | translate }}
            </div>
            <mat-card-content>

              <ul class="rc-line-items">
                <li>
                  <label>{{ 'SETTINGS.labelName' | translate }}:</label>
                  {{ member?.member_first_name | titlecase }} {{ member?.member_last_name | titlecase }}
                </li>
                <li>
                  <label>{{ 'SETTINGS.labelRole' | translate }}:</label>
                  {{ member?.member_role | titlecase }}
                </li>
                <li>
                  <label>{{ 'SETTINGS.labelEmail' | translate }}:</label>
                  {{ member?.member_email | lowercase }}
                </li>
                <li>
                  <label>{{ 'SETTINGS.labelTel' | translate }}:</label>
                  {{ member?.member_telephone }}
                </li>
                <li>
                  <label>{{ 'SETTINGS.labelLang' | translate }}:</label>
                  <mat-radio-group
                    (change)="setLanguage(lang)"
                    [(ngModel)]="lang">
                    <mat-radio-button class="example-radio-button" [value]="'en'">
                      english
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" [value]="'fr'">
                      français
                    </mat-radio-button>
                  </mat-radio-group>
                </li>
              </ul>
              <div class="rc-sub-panel">
                <!-- Avatar -->
                <cl-image
                  style="cursor: pointer"
                  width="96"
                  height="96"
                  *ngIf="clPublicId"
                  (click)="updateImage()"
                  matTooltip="{{ 'SETTINGS.tipAvatar' | translate }}"
                  matTooltipPosition="below"
                  [public-id]="clPublicId">
                  <cl-transformation
                    width="360"
                    height="360"
                    crop="fill"
                    gravity="face">
                  </cl-transformation>
                </cl-image>
                <div>
                  <h3>{{ 'SETTINGS.titleAvatar' | translate }}</h3>
                  <span>{{ 'SETTINGS.infoAvatar' | translate}}</span>
                </div>
              </div>
              <!-- Profile Image -->
            </mat-card-content>
          </mat-card>
          <!-- Auth -->
          <mat-card
            class="rc-card-rounded mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="rc-card-title">
              <h2>{{ 'SETTINGS.titleAuthentication' | translate }}</h2>
              <span class="rc-space-filler"></span>
              <span>
            <button
              mat-icon-button
              (click)="updatePassword()"
              matTooltip="{{ 'SETTINGS.tipEdit' | translate }}">
              <mat-icon>edit</mat-icon>
            </button>
          </span>
            </div>
            <div class="rc-card-subtitle">
              {{ 'SETTINGS.infoMember' | translate }}
            </div>
            <mat-card-content>
              <ul class="rc-line-items">
                <li><label>{{ 'SETTINGS.labelEmail' | translate }}:</label>
                  {{ member?.member_email | lowercase }}
                </li>
                <li><label>{{ 'SETTINGS.labelPwd' | translate }}:</label>
                  ********
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <div class="mdc-layout-grid__inner">
          <!-- Referrals -->
          <mat-card
            class="rc-card-rounded mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="rc-card-title">
              <h2>{{ 'SETTINGS.titleReferrals' | translate }}</h2>
              <span class="rc-space-filler"></span>
              <span>
                <button
                  mat-icon-button
                  (click)="dspReferrals()"
                  matTooltip="{{ 'SETTINGS.tipReferEmail' | translate }}">
                  <mat-icon>email</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="dspReferrals()"
                  matTooltip="{{ 'SETTINGS.tipReferSocial' | translate }}">
                  <mat-icon>share</mat-icon>
                </button>
              </span>
            </div>
            <div class="rc-card-subtitle">
              {{ 'SETTINGS.infoReferrals' | translate }}
            </div>
            <mat-card-content>
              <ul class="rc-line-items">
                <li><label>{{ 'SETTINGS.labelReferralCode' | translate }}:</label>
                  {{ member?.member_promo_code | uppercase }}
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
          <!-- Account -->
          <mat-card
            class="rc-card-rounded mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="rc-card-title">
              <h2>{{ 'SETTINGS.titleAccount' | translate }}</h2>
              <span class="rc-space-filler"></span>
              <span>
                <button
                  mat-icon-button
                  (click)="updateProfile()"
                  matTooltip="{{ 'SETTINGS.tipEdit' | translate }}">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="help.dspHelp('profile-restaurants')"
                  matTooltip="{{ 'SETTINGS.tipEdit' | translate }}">
                  <mat-icon>help_outline</mat-icon>
                </button>
              </span>
            </div>
            <div class="rc-card-subtitle">
              {{ 'SETTINGS.infoMember' | translate }}
            </div>
            <mat-card-content>
              <ul class="rc-line-items">
                <li><label>{{ 'SETTINGS.labelMemberId' | translate }}:</label>{{ member.member_id }}</li>
                <li><label>{{ 'SETTINGS.labelJoined' | translate }}:</label>{{ d_member_signedup }}</li>
                <li><label>{{ 'SETTINGS.labelSubscription' | translate }}:</label>Monthly</li>
              </ul>
              <div class="rc-card-title" style="margin-top: 24px;">
                <h2>{{ 'SETTINGS.titleManagedRestaurants' | translate }}</h2>
                <span class="rc-space-filler"></span>
                <span>
                <button
                  mat-icon-button (click)="addRestaurants()"
                  matTooltip="{{ 'Profile-Page.NewAssociation' | translate }}">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </span>
              </div>


              <div class="rc-managed-restaurants">
                <div
                  *ngFor="let restaurant of restaurants; let idx = index"
                  class="rc-managed-restaurant">
                  <!-- image -->
                  <cl-image
                    [routerLink]="['/restaurants', restaurant.restaurant_id, 'cms', 'dashboard']"
                    [public-id]="getClPublicId(idx)"
                    width="180"
                    height="120">
                    <cl-transformation
                      dpr="auto"
                      responsive
                      width="360"
                      height="240"
                      crop="fill"
                      quality="auto">
                    </cl-transformation>
                  </cl-image>
                  <mat-icon
                    matTooltip="{{ 'SETTINGS.tipRemove' | translate: { name: restaurant.restaurant_name } }}"
                    (click)="removeAssociation(idx)">
                    cancel
                  </mat-icon>


                  <div
                    [routerLink]="['/restaurants', restaurant.restaurant_id, 'cms', 'dashboard']">
                    <h3>{{ restaurant.restaurant_name }}</h3>
                    <p class="rc-txt-small">{{ restaurant?.restaurant_address_1 }}, {{
                      restaurant?.restaurant_address_2 }}<br>
                    {{ restaurant?.restaurant_address_2 }}<br>
                        {{ restaurant?.restaurant_post_code }}</p>
                  </div>
                </div>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
